//my-colors---

$bg1: #f1f1f1;

$bg2: #f5f5f5;

$red: #e45151;

$blue: #5677fc;

$green: #1ab744;

$yellow: #fdba2d;

$black1: #222222;

$black2: #444444;

$text1: #555555;

$text2: #666666;

$text3: #969696;

$border1: #eeeeee;

$border2: #e5e5e5;

$border3: #dddddd;

$footer: #25272e;

$ftext: #8D8E92;
