@CHARSET "UTF-8";

/* https://loading.io/ #89ba17 */
.simple-loading {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	text-align: center;
	padding-top: 0;
	color: #666;
	display: block;
}

.simple-loading-box {
	background-image: url(images/box.gif);
}

.simple-loading-clock {
	background-image: url(images/clock.gif);
}

.simple-loading-default {
	background-image: url(images/default.gif);
}

.simple-loading-gears {
	background-image: url(images/gears.gif);
}

.simple-loading-hourglass {
	background-image: url(images/hourglass.gif);
}

.simple-loading-magnify {
	background-image: url(images/magnify.gif);
}

.simple-loading-reload {
	background-image: url(images/reload.gif);
}

.simple-loading-ring-alt {
	background-image: url(images/ring-alt.gif);
}

.simple-loading-ring {
	background-image: url(images/ring.gif);
}

.simple-loading-ripple {
	background-image: url(images/ripple.gif);
}

.simple-loading-rolling {
	background-image: url(images/rolling.gif);
}
.simple-loading-369 {
	background-image: url('/render/animo/All/assets/loaders/CSS JS/SimpleLoader/loader/css/images/369.gif');
}
/*
.simple-loading-ring-alt {
	background-image: url('/render/animo/All/assets/loaders/CSS JS/SimpleLoader/loader/css/images/ring-alt.gif');
}
*/
