.z-border{
    border:1px solid black;
}
#saveFile{
    margin-right:2%;
}

.sp-picker-container{
    z-index: 99;
}
.gjs-editor-cont .sp-container{
    z-index: 3;
}
.gjs-sm-field select{
    color: black !important;
}

.gjs-sm-icon{
    font-size: 0.90em;
}
.col{
    min-height:75px!important;
    display:inline-block;
}
.row , .cell{
    min-height: 75px;
}

.gjs-clm-sels-info{
    display: none;
}

.gjs-pn-options span {
    margin: 0;
}

.gjs-pn-options .fa-save,.gjs-pn-options, .gjs-pn-options .gjs-pn-buttons .fa-redo,.template-switch, .gotoPage{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    margin-left: 0;
}


.gjs-pn-buttons .fa-square-o, .gjs-pn-options .gjs-pn-buttons .fa-arrows-alt,.gjs-pn-options .gjs-pn-buttons .fa-undo,.widget-switch,.fa-eye{
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.widget-switch{
    border-radius: 20px;
    margin-right: 0;
    float: left;
    width: 80px!important;
    border-radius: 40px;
}

.template-switch{
    border-radius: 20px;
    margin-left: 0;
    width: 80px!important;
    border-radius: 40px;
}
.tooltip_templates{
    display: none;
}
.gjs-pn-options .fa-save{
    grid-column:4;
    grid-row: 1;
    font-size: 1.5rem;
    padding: 1px 1px!important;
    right: 0;
}
.gjs-pn-options .gjs-pn-buttons .fa-trash{
    grid-column:8;
    grid-row: 1;
    margin-right: 11px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.gjs-pn-options .gjs-pn-buttons .fa-arrows-alt{
    border-right: none!important;
}

.gjs-pn-options .gjs-pn-buttons .fa-square-o{
    grid-column:8;
    grid-row: 1;
    border-right:none!important;
}

.title-option {
    text-align: center;
    font-size: 17px;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 0;
}

.gjs-pn-options .gjs-pn-buttons .fa-undo{
    border-right:0!important;
    padding-right: 0!important;
    margin-right: 0!important;
    margin-left: 2%;
}

.gjs-pn-options .gjs-pn-buttons .fa-redo{
    //border-left:0!important;
    padding-left: 0!important;
    margin-left: 0!important;
}

.gjs-pn-options .gjs-pn-buttons .gjs-pn-btn {
    width: 80px!important;
    border-radius: 40px;
    overflow-wrap: break-spaces;
    padding-top: 10px;
}

.gjs-pn-options .gjs-pn-buttons .fa-eye{
border-radius: 40px;
border-right: none !important;
}

.gjs-pn-options .gjs-pn-devices-c{
    margin-top: 0px;
}

.gjs-pn-devices-c .fa-desktop, .gjs-pn-devices-c .fa-tablet, .gjs-pn-devices-c .fa-mobile{
    padding: 10px 5px 5px 5px!important;
    font-size: 30px;
}

.popover-body{
    padding: 0;
}

.gjs-off-prv{
    background-color: white;
}

@media(max-width: 1800px){
    .gjs-pn-options .gjs-pn-buttons .fa-undo {
    //margin-left: 12%;
    }
}

@media(max-width: 1700px){
    .gjs-pn-options {
        width: 68%!important;
    }
    .gjs-pn-options .gjs-pn-buttons .fa-undo {
    //margin-left: 12%;
    }
}
@media(max-width: 1600px){
    .gjs-pn-options {
        width: 68%!important;
    }
    .gjs-pn-options .gjs-pn-buttons .fa-undo {
        margin-left: 4%;
    }
}
@media(max-width: 1500px){
    .gjs-pn-options .gjs-pn-buttons .fa-undo {
    //margin-left: 8%;
    }
}
@media(max-width: 1450px){

    .gjs-pn-options .gjs-pn-buttons .fa-undo{
    //margin-left: 6%;
    }
    .gjs-pn-options{
        width: 67%!important;
    }
}

@media(max-width: 1400px){
    .gjs-pn-options .gjs-pn-buttons .fa-undo{
        margin-left: 2%;
    }
}
@media(max-width: 1350px){
    .gjs-pn-options .gjs-pn-buttons .fa-undo{
        margin-left: 0%;
    }
}

@media(max-width: 1300px){

    .gjs-pn-options .gjs-pn-buttons .gjs-pn-btn{
        width: 65px !important;
    }
    .btn-template.d-inline-block.btn-sm.widget-switch{
        width: 65px!important;
    }
    .btn-widget.d-inline-block.btn-sm.template-switch {
        width: 65px!important;
    }
    .content-right {
        right: 70px !important;
    }

    .gjs-pn-options .gjs-pn-buttons .fa-undo{
        margin-left: 3%;
    }
}

@media(max-width: 1200px) {
    .gjs-pn-options .gjs-pn-buttons .fa-undo{
        margin-left: 0%;
    }
}

@media(max-width: 1150px){
    .content-switch{
        position: relative!important;
    }
    .content-right{
        position: relative!important;
        right: 0!important;
    }
    .gjs-pn-commands {
        padding-bottom: 0!important;
        height: 50px!important;
    }
    .gjs-pn-options{
        width: 78% !important;
        height: 50px;
        border-top: 1px solid #e1e1f5;
        padding: 0;
    }
    .gjs-pn-options .gjs-pn-buttons{
        text-align: center;
        margin: 0!important;
        height: 50px;
        /* border-bottom: 1px solid #e1e1f5;*/
        justify-content: center;
    }
    .gjs-pn-devices-c{
        display: none;
    }
    .gjs-pn-options .gjs-pn-buttons .gjs-pn-btn{
        width: 40px !important;
        height: 35px;
        border-radius: 1px !important;
        margin: 0 !important;
        box-shadow: none;
        border: 1px solid #e1e1f5!important;
        padding-top: 4px!important;
        font-size: 1rem;
    }
    .btn-widget.d-inline-block.btn-sm.template-switch{
        width: 40px !important;
        height: 35px!important;
        border-radius: 1px !important;
        margin-right: 0;
        box-shadow: none;
        border: 1px solid #e1e1f5!important;

    }

    .btn.btn-sm{
        padding: 0!important;
    }
    .btn-template.d-inline-block.btn-sm.widget-switch i, .btn-widget.d-inline-block.btn-sm.template-switch i  {
        font-size: 1rem!important;
    }
    .btn-template.d-inline-block.btn-sm.widget-switch {
        padding: 0;
        width: 40px !important;
        height: 35px!important;
        border-radius: 1px !important;
        box-shadow: none;
        margin-bottom: 0;
        border: 1.5px solid #e1e1f5!important;
        border-right: none!important;
    }
    .content-right .fa-eye{
        top: 0px!important;
    }
}

@media(max-width: 768px) {
    /* .content-right span,a {
         width: 10% !important;
     }*/
    .gotoPage{
        top: 0px;
    }
    .gjs-pn-panel.gjs-pn-views-container {
        width: 100%;
        height: 50% !important;
        top: 50%;
        left: 0;
        margin-bottom: 70px !important;
        overflow-y: scroll;
    }
    .gjs-pn-panel:nth-child(5) {
        width: 100% !important;
    }
    .gjs-cv-canvas {
        width: 100% !important;
        height: auto !important;
        left: 0% !important;
        top: 6.2% !important;
    }
    .gjs-pn-views .gjs-pn-buttons {
        position: absolute !important;
    }
    .gjs-pn-panel:nth-child(3) {
        position: fixed !important;
        left: 0 !important;
        bottom: 0 !important;
        min-width: 100% !important;
        min-height: 65px !important;
        border-top: 1px solid #c5c5f4;
    }
    .gjs-pn-buttons {
        display: flex !important;
        justify-content: center !important;
        width: 100%;
    }
    .gjs-pn-panels .gjs-pn-panel:first-child {
        /*   border-bottom: 2px solid ; */
    }
    .gjs-pn-btn  {
        width: 250px !important;
    }
    .gjs-pn-devices-c{
        display: none;
    }
    .gjs-pn-panel.gjs-pn-options {
        position: absolute !important;
        left: 0 !important;
        width: 100% !important;
    }
    .gjs-pn-options .gjs-pn-buttons .gjs-pn-btn {
        width: 35px !important;
        height: 34px!important;
        border-radius: 0px !important;
        padding-right: 0.6rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-left: 0.6rem !important;
        border: 1px solid !important;
        font-size: 0.7rem!important;
    }
    .content-right .fa-eye{
        top: 0!important;
    }
    .btn-widget.d-inline-block.btn-sm.template-switch{
        width: 50% !important;
        height: 34px!important;
        border-radius: 0px !important;
        padding-right: 0.6rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-left: 0.6rem !important;
        border: 1px solid !important;
        margin: 0!important;
    }

    .btn-widget.d-inline-block.btn-sm.template-switch i{
        font-size: 0.7rem!important;
    }
    .btn-template.d-inline-block.btn-sm.widget-switch{
        width: 50% !important;
        height: 34px!important;
        border-radius: 0px !important;
        padding-right: 0.6rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-left: 0.6rem !important;
        border: 1px solid !important;
        font-size: 0.7rem!important;
        margin: 0!important;
        height: 34px!important;
    }

    .btn-template.d-inline-block.btn-sm.widget-switch i{
        font-size: 0.7rem!important;
    }
    .btn-widget {
        width: 53px !important;
    }
    .btn-template {
        width: 33px !important;
    }
    .gjs-pn-views .gjs-pn-buttons span {
        margin: 8px 0 !important;
    }
    .content-switch {
        width: 100% !important;
        margin-left: 0 !important;
    }

}


/*width of settings inputs*/

.input-group > .select2-container--krajee-bs4:not(:first-child) .select2-selection{
    height: 35px;
    width: 200px;
}

.input-group {
    padding-left: 15px !important;
}

.trait-selected-el {
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
}

.gjs-layer__icon{
    display: none;
}

.addedBtn {
    display: none;
}
.gjs-pn-devices-c{
    margin-top: 1%;
    position: absolute ;
    right: 0 ;
    /*top: 1.5%;*/
    margin-right: 1%;
    padding-top: 0
}


.gjs-pn-options{
    left: 22%;
    width: 70%!important;
    display: flex;
    justify-content: center;
}

.gjs-pn-options .gjs-pn-buttons{
//display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    margin-left: 20px;
    margin-top: 7px;
}
.open-menu {
    transform: rotate(180deg);
    transition: 0.4s all ease-in;
}

.open-canvas {
    left: 0;
    width: 100%;
    transition: 0.3s all ease-in;
}

.zinput{
    float: right;
    margin-right: 55px !important;
}

.gjs-pn-options .gjs-pn-buttons .fa-undo::after,.gjs-pn-options .gjs-pn-buttons .fa-square-o::after,.gjs-pn-options .gjs-pn-buttons .fa-arrows-alt::after,.gjs-pn-options .gjs-pn-buttons .fa-repeat::after,.gjs-pn-options .gjs-pn-buttons .fa-download::after,.gjs-pn-options .gjs-pn-buttons .fa-trash::after,.gjs-pn-options .gjs-pn-buttons .fa-code::after{
    display: block;
    font-size: 1rem;
    font-weight: bold;
}
.d-inline-block{
    font-weight: 500;
}

.ui-widget.ui-widget-content{
    color: #104577;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.63);
}


/*.content-right {
    position: absolute;
    right: 0;
}*/

.content-right .fa-eye{
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    top:3px;
}

.content-right .fa-eye:hover{
    background-color: transparent;

}

.ui-widget.ui-widget-content:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    /* border-bottom: 7px solid white;*/
    left: 40%;
    top:-6px;
}

.gjs-label-o{
    display: block;
    font-size: 1rem;
    overflow-wrap: break-word;
}
.gjs-pn-panel:nth-child(3){
    min-width: 45px;
    min-height: 1000px;
    padding-left: 0;
    border-right: solid 2px #e1e1f5;
}
.gjs-radio-item input:checked+.gjs-radio-item-label{
    color: white;
    background-color: #4285F4;
}
.gjs-pn-views .gjs-pn-buttons{
    display: grid;
    position: fixed;
    justify-content: left;
    grid-template-columns: 40px;
    grid-template-areas: "auto" "auto" "auto" "auto";
}

.gjs-pn-views .gjs-pn-buttons .fa-th-large{
    grid-row: 1;
}
.gjs-pn-views .gjs-pn-buttons .fa-paint-brush{
    grid-row: 3;
}

.gjs-pn-views .gjs-pn-buttons span{
    margin:17px 0;
    padding: 10px 3px!important;
    display:block;
}



/*.gjs-pn-buttons{
    width: 40px;
}*/

.gjs-cv-canvas{
    width: 77.4%;
    height: 90.5%;
    top: 9.0%;
    right: 0;
    left: 22.5%;
    overflow: hidden;
}

.form-group {
    display: inline-flex;
    margin-bottom: 0.3rem;
    width: 100%;

}
.gjs-blocks-c{
    transition: 0.4s ease-in-out all;
}
.gjs-clm-tags .gjs-sm-stack #gjs-sm-add, .gjs-color-main, .gjs-off-prv, .gjs-sm-sector .gjs-sm-stack #gjs-sm-add{
    font-size: 1.2rem;
}
.submit_button {
    position: absolute;
    z-index: 9999;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: #28a745;
    border: 1px;
    padding: 3px 3px;
    font-size: 14px;
    cursor: pointer;
}

.gjs-pn-panel:nth-child(3){
    min-width: 45px;
    min-height: 1000px;
    padding-left: 0;
    border-right: solid 2px #e1e1f5;
}
.gjs-radio-item input:checked+.gjs-radio-item-label{
    color: white;
    background-color: #4285F4;
}
.gjs-pn-views .gjs-pn-buttons{
    display: grid;
    position: fixed;
    justify-content: left;
    grid-template-columns: 40px;
    grid-template-areas: "auto" "auto" "auto" "auto";
}

.gjs-pn-views .gjs-pn-buttons .fa-th-large{
    grid-row: 1;
}
.gjs-pn-views .gjs-pn-buttons .fa-paint-brush{
    grid-row: 3;
}

.gjs-pn-views .gjs-pn-buttons span{
    margin:17px 0;
    padding: 10px 3px!important;
    display:block;
}



/*.gjs-pn-buttons{
    width: 40px;
}*/

.gjs-cv-canvas{
    width: 77.4%;
    height: 90.5%;
    top: 9.0%;
    right: 0;
    left: 22.5%;
    overflow: hidden;
}

.form-group {
    display: inline-flex;
    margin-bottom: 0.3rem;
    width: 100%;

}


#search_grape{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: inline-block;
    width: 95%;
    margin: 7px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.gjs-pn-views-container{
    left: 42px;
    overflow: auto;
    top: -10px;
}


.gjs-pn-views{
    width: 40px;
    left:0;
//padding-top: 18px;

}
[class*="icheck-material"] > label{
    margin-left: 32px!important;
    color: black;
}
[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before{
    left: -27px!important;
}
[class*="icheck-material"] > input:first-child:checked + label::after, [class*="icheck-material"] > input:first-child:checked + input[type="hidden"] + label::after{
    left: -27px !important;
}




#review_div{
    /*grid-column:4;
    grid-row: 1;*/
    position: absolute;
    top: -7px;
    right: -53%;
    cursor:pointer;
    padding:5px;
    border-radius: 4px;
}



.gjs-radio-items{
    display: flex; !important;
    overflow: hidden; !important;
}

.gjs-layer-count{
    top: 4px;
    right: 30px;
}
.zgrapescheckbox{
}

label{
    font-weight: 400;
    font-weight: bold;
    margin-bottom: 0;
}


.gjs-block-category .gjs-title, .gjs-category-title, .gjs-clm-tags .gjs-sm-title, .gjs-layer-title, .gjs-sm-sector .gjs-sm-title{
transition: 0.4s ease-in-out all;
font-weight: 500;
border-bottom: none;
color: #003b7f;
}


.spinner-border{
    top: 30%;
    left: 94%;
}

.gjs-sm-label{
    color: #003b7f;
    font-weight: 400;
}

i{
    transition: 0.4s ease-in-out all;
}



.gjs-two-color{
font-weight: 500;
}

.gjs-clm-tags .gjs-clm-tag{
    max-width: 100%;
    max-height: 110px;
    height: 45px;
    overflow: hidden;
    display: flex;
}


.gjs-clm-tag span svg{
    max-width: 40px;
    width: 26px;
}

.gjs-clm-tags .gjs-clm-tag:last-child{
    margin-bottom:10px;
}

.gjs-clm-close{
    display: block;
}



.select2-container--bootstrap4 .select2-selection__clear{
    background-color:transparent;
font-weight: bolder;
}

.gjs-sm-property .gjs-fields .gjs-field {
    background-color: white;
    border: 1px solid #4575a5;
    border-radius: 3px;
}

.gjs-sm-properties{
    background-color: white;
}



.gjs-clm-sel{
    width: 100%;
    overflow: revert;
}
.gjs-clm-sels{
    overflow-wrap: break-word;
    font-weight: bolder;
}

.gjs-clm-tags #gjs-clm-label, .gjs-clm-tags #gjs-clm-sel {
    margin-left: 10px;
}

.gjs-field-units{
    display: none;
}

.gjs-input-holder input{
    background-color: white;
    border: 1px solid #4575a5;
}

.gjs-clm-tags #gjs-clm-tag-label{
    display: inline-block;
    width: 190px;
    overflow: hidden;
    vertical-align: middle;
}

.gjs-clm-tags #gjs-clm-tags-c {
    display: grid;
}

#content{
    overflow: hidden;
    padding-left: 0!important;
    padding-right: 0!important;
}

#search_grape:hover,#search_grape:active{
    border:none;
}

.tooltip_templates{
    display: none;
}

.tooltip-title{
    font-size: 0.9em;
    text-align: center;
    width: 100%;
}

.tooltip-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.tooltip-img {

    width: 100%;
    height: 60px;
}

#scope_div{
    display: inline-block;
    display: none;
}

#scope_div span{
    background-color: transparent;
    border: none;
}


.gjs-block{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.gjs-block-label{
    padding-top: 6px;
    overflow-wrap: break-word;
}

.gjs-layer-vis{
    top: 2px;
}


.gjs-pn-btn{
    font-size: 1.5rem;
    padding: 1px 1px!important;
    transition: 0.4s ease-in-out all;
//border-radius: 10px;
}


#gjs{
    height: 120vh !important;
    padding-bottom: 0!important;
}

.gjs-pn-commands,.gjs-pn-options,.gjs-pn-views,.gjs-pn-devices-c{
    border-bottom: 0 solid transparent;
}

.gjs-clm-select option, .gjs-field-select option, .gjs-fields option, .gjs-select option, .gjs-sm-select option, .gjs-sm-unit option {
    background-color: #f0f0fa;
    color: #004da7;
}

.gjs-pn-commands{
    right:0;
    left:0;
    width: 100%;
    box-shadow: none;
    height: 66px;
}



.gjs-pn-panels .gjs-pn-panel:first-child{
    padding-bottom:25px;
}

.gjs-pn-options .gjs-pn-buttons .fa-undo{
    grid-column:1;
    grid-row: 1;
}
.gjs-pn-options .gjs-pn-buttons .fa-repeat{
    grid-column:2;
    grid-row: 1;
}

.gjs-pn-options .gjs-pn-buttons .fa-arrows-alt{
    grid-column:3;
    grid-row: 1;
    margin-left: 11px;
}
.gjs-pn-options .gjs-pn-buttons .fa-code{
    grid-column:5;
    grid-row: 1;
    margin-right: 30px;
}



.gjs-pn-panel:nth-child(5){
    padding-top:0;
    margin-top: 9.3px;
    width: 19%;
}
.gjs-clm-tags-btn svg{
    max-width:30px;
    vertical-align: middle;
    width: 26px;
}

.gjs-layer-name{
    padding: 16px 0;
    padding-top: 0!important;
}

.gjs-layer-title{
    padding-left: 70px;
}

.content-footer{
    padding-top: 0!important;
}
.gjs-block-category:nth-child(3){
    display: none;
}

.row{
    display: flex!important;
}

.gjs-trt-traits{
    display:none;
}

/*TRAIT MANAGER*/

/*LABEL*/
.grapesInput{
    top: -35px !important;
    left: 12px !important;
    color: #0078e7 !important;
    font-family: 'Acme', sans-serif;
    letter-spacing: 0.7px;
}

/*INPUT*/
.form-control{
    border: 1px solid #cccccc !important;
    border-radius: 5px !important;
    background-color: white;
    padding-right: 30px;
    color: #3c3c3c;
    padding-left: 5px !important;


}

/*INPUT HOVER*/
.form-control:hover{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    outline: 0;
    background-color: transparent;
}

/*INPUT PLACEHOLDER*/
.form-control::placeholder{
    color: #3c3c3c;
    padding-left: 5px;
}

.zinput{
    padding-left: 7px;
    color: #3c3c3c;
}
.zinput::placeholder{
    color: #3c3c3c;
}

div#zdynamicmodel-tttext-app{
    padding-left: 15px;
}
div#zdynamicmodel-attribute-app{
    padding-left: 15px;
}
div#zdynamicmodel-tttext-app label{
    padding-left: 4px;
}
div#zdynamicmodel-attribute-app label{
    padding-left: 4px;
}
