*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.accordion span {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #fff;
    background: #125188;
    font-size: 1.15rem;
    font-weight: 400;
    border: 1px solid #125188;
    border-radius: 6px;
}

.accordion span:hover,
.accordion span:hover::after {
    cursor: pointer;
    color: #fff;
}

.accordion span:hover::after {
    border: 1px solid #fff;
}

.accordion span.active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.accordion span::after {
    font-family: 'Ionicons';
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #fff;
    padding: 3px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
}

.accordion span.active::after {
    font-family: 'Ionicons';
    content: '-';
    color: #fff;
    border: 1px solid #fff;
}

.accordion .content {
    display: none;
    padding: 1rem;
    border: 1px solid #125188ff;
    border-radius: 6px;
    overflow: hidden;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
}