.content-list{
    overflow: unset;
}
.role-user{
    font-size: 12px !important;
}

.add{
    padding: 7px !important;

}
.name-n{
  
    margin-top: 0 !important;
}
.user-photo{
    padding-top: 5px !important;
}

.add{
    margin-left: 15px !important;
}
.guestStatus{
    height: 30px;
    margin: 2px 0;
}
.guestStatus:hover{
    background: none !important;
}


.carolinaTextColor{
    padding-top: 7px;
}

.carolinaTextColor{
    color: #424242;
    font-weight: bold;
    line-height: 18px;

}
.roleTextColor{
    color: #424242;
}
.pastgaStrelka span img{
    width: 96%;
}
.pastgaStrelka::after{
    margin: 20px 10px 0;
    font-size: 22px;
    color: #424242;
}
