.sg-product {
    padding: 50px 0;
    width: 400px;
    box-shadow: 0 0 2px rgba(0,0,0, .3);
    margin: 5px;
}
.sg-product:hover{
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    transition: all .3s linear;
    transform: scale(1.01);
}

.ht-content{
    padding: 10px;
}

.ht-content p{
    font-size: 16px;
}
.sg-product .ht-offer .sec-title {
    color: #444444;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}
.sg-product .ht-offer .ht-body {
    position: relative;
}
.sg-product .ht-offer .ht-body .ht-item .ht-img {
    position: relative;
}
.sg-product .ht-offer .ht-body .ht-item .ht-img a img {
    margin-bottom: 15px;
}

.owl-carousel .owl-item img {
    -webkit-transform-style: unset;
    transform-style: unset;
}
.sg-product .ht-offer .ht-body .ht-item .ht-img span {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    background: sandybrown;
    text-transform: uppercase;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-left: 15px;
    margin-top: 15px;
}
.sg-product .ht-offer .ht-body .ht-item .ht-img ul.counter-box {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 15px;
    width: 100%;
}
.sg-product .ht-offer .ht-body .ht-item .ht-img ul.counter-box li {
    background: #fff;
    border: 1px solid #e5e5e5;
    width: 45px;
    height: 45px;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 700;
    padding-top: 5px;
}
.sg-product .ht-offer .ht-body .ht-item .ht-img ul.counter-box li p {
    font-size: 11px;
    font-weight: 500;
    margin-top: -3px;
    text-transform: uppercase;
}

.sg-product .ht-offer .ht-body .owl-nav div.owl-prev {
    margin-right: 25px;
}

.sg-product .ht-offer .ht-body .owl-nav div {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-top: -54px;
}
.sg-product .ht-offer .ht-body .owl-nav div {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-top: -54px;
}
.sg-product .ht-offer .ht-body .ht-item .ht-content ul.price li {
    font-size: 15px;
    color: #444444;
    font-weight: 600;
    margin-right: 0;
    letter-spacing: 0;
}
.sg-product .ht-offer .ht-body .ht-item .ht-content ul.price li:last-child {
    font-size: 14px;
    color: #969696;
    margin-left: 10px;
    font-weight: normal;
    text-decoration: line-through;
}

.sg-product .ht-offer .ht-body .ht-item .ht-content ul.price li {
    font-size: 15px;
    color: #444444;
    font-weight: 600;
    margin-right: 0;
    letter-spacing: 0;
}
.sg-product .ht-offer .ht-body .ht-item .ht-content ul.fav li {
    font-size: 13px;
    color: #fdba2d;
    margin-right: 0;
}
