file-icon	{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    z-index: 1;
    font-family: Helvetica, Arial, sans-serif;
}

.Fi_fileIconBox:last-child	{
    margin-bottom: 0px;
}
.Fi_fileIconBox .boxLabel	{
    display: block;
    font-size: 15px;
    padding: 5px;
    background: rgb(220,220,220);
}
.Fi_fileIconBox .Fi_fileIcon	{
    margin: 5px;
    vertical-align: middle;
}
.Fi_fileIcon	{
    display: inline-block;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    z-index: 1;
}

.Fi_fileIcon.xlarge	{
    width: 150px;
    height: 150px;
    font-size: 25px;
}

.Fi_fileIcon.large	{
    width: 100px;
    height: 100px;
    font-size: 18px;
}

.Fi_fileIcon.medium	{
    width: 75px;
    height: 75px;
    font-size: 13px;
}

.Fi_fileIcon.small	{
    width: 45px;
    height: 45px;
    font-size: 8px;
}

.Fi_fileIcon.tiny	{
    width: 20px;
    height: 20px;
    font-size: 3px;
}
.Fi_fileIcon.micro	{
    width: 15px;
    height: 15px;
    font-size: 2px;
}

.Fi_fileIcon .layout_grid	{
    display: block;
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: none;
}
.Fi_fileIcon .layout_grid .l	{
    position: absolute;
    display: block;
    background: rgba(0,255,255,.8);
}
.Fi_fileIcon .layout_grid .h1	{
    left: 0px;
    right: 0px;
    top: 20%;
    height: 1px;
}
.Fi_fileIcon .layout_grid .h2	{
    left: 0px;
    right: 0px;
    bottom: 20%;
    height: 1px;
}
.Fi_fileIcon .layout_grid .v1	{
    top: 0px;
    bottom: 0px;
    left: 20%;
    width: 1px;
}
.Fi_fileIcon .layout_grid .v2	{
    top: 0px;
    bottom: 0px;
    right: 20%;
    width: 1px;
}

.Fi_fileIcon .icon_content	{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(35,155,215);
    box-sizing: border-box;
    border-radius: 5%;
    overflow: hidden;

}

.Fi_fileIcon .icon_content div	{
    position: absolute;
    display: block;
}

.Fi_fileIcon .icon_content .icon_label	{
    padding: 4%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: right;
    color: rgb(240,240,240);
    box-sizing: border-box;
    border-top: 1px solid rgb(240,240,240);
    background: rgb(35,155,215);
}
.Fi_fileIcon.tiny .icon_content .icon_label	{
    border-top-width: .5px;
}
/* END Core Styles */

/* Adobe */
.Fi_fileIcon .icon_content.adobe	{
    background: rgb(100,100,100);
    color: rgb(240,240,240);
}
.Fi_fileIcon .icon_content.adobe .icon_label	{
    background: none;
    border: 0px;
    top: 14%;
    bottom: auto;
    text-align: center;
}
.Fi_fileIcon.xlarge .icon_content.adobe .icon_label	{
    font-size: 80px;
}
.Fi_fileIcon.large .icon_content.adobe .icon_label	{
    font-size: 55px;
}
.Fi_fileIcon.medium .icon_content.adobe .icon_label	{
    font-size: 40px;
}
.Fi_fileIcon.small .icon_content.adobe .icon_label	{
    font-size: 24px;
}
.Fi_fileIcon.tiny .icon_content.adobe .icon_label	{
    font-size: 10px;
}
.Fi_fileIcon.micro .icon_content.adobe .icon_label	{
    font-size: 6px;
}
.Fi_fileIcon .icon_content.adobe.aep {
    background: rgb(83,23,122);
}
.Fi_fileIcon .icon_content.adobe.ai {
    background: rgb(236,164,46);
}
.Fi_fileIcon .icon_content.adobe.fla {
    background: rgb(226,32,32);
}
.Fi_fileIcon .icon_content.adobe.indd {
    background: rgb(219,0,123);
}
.Fi_fileIcon .icon_content.adobe.psd {
    background: rgb(32,131,240);
}
.Fi_fileIcon .icon_content.adobe.prproj {
    background: rgb(140,34,200);
}
/* END Adobe */

/* DMG */
.Fi_fileIcon .icon_content.dmg	{
    background: none;
}
.Fi_fileIcon .icon_content.dmg .top	{
    left: 0px;
    right: 0px;
    top: 5%;
    bottom: 5%;
    width: 70%;
    background: rgb(160,160,160);
    z-index: 5;
    margin: auto;
    border-radius: .5em;
    border: 1px solid rgb(130,130,130);
    box-sizing: border-box;
    /* box-shadow: 0px 0px .3em rgb(20,20,20); */
}
.Fi_fileIcon .icon_content.dmg .r1	{
    right: 20%;
    width: 6.5%;
    height: 30%;
    top: 25%;
    margin: auto;
    background: rgb(160,160,160);
    z-index: 10;
}
.Fi_fileIcon .icon_content.dmg .c1 {
    left: 0px;
    right: 0px;
    top: 12.5%;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    z-index: 6;
    margin: auto;
    box-shadow: inset 0px 0px .2em rgb(50,50,50);
    background: rgb(130,130,130);
    overflow: hidden;
}
.Fi_fileIcon .icon_content.dmg .t1	{
    width: 70%;
    height: 40%;
    right: -40%;
    top: 20%;
    bottom: 0px;
    margin: auto;
    background: rgb(160,160,160);
    z-index: 15;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.Fi_fileIcon.xlarge .icon_content.dmg .t1	{
    box-shadow: 0px 0px 4px rgb(40,40,40);
}
.Fi_fileIcon.large .icon_content.dmg .t1	{
    box-shadow: 0px 0px 3px rgb(40,40,40);
}
.Fi_fileIcon.medium .icon_content.dmg .t1	{
    box-shadow: 0px 0px 2px rgb(40,40,40);
}
.Fi_fileIcon.small .icon_content.dmg .t1	{
    box-shadow: 0px 0px 2px rgb(30,30,30);
}
.Fi_fileIcon.tiny .icon_content.dmg .t1	{
    box-shadow: 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon.micro .icon_content.dmg .t1	{
    box-shadow: 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon .icon_content.dmg .s	{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background: rgb(80,80,80);
    z-index: 10;
}
.Fi_fileIcon .icon_content.dmg .s1	{
    left: 20%;
    top: 10%;
}
.Fi_fileIcon .icon_content.dmg .s2	{
    right: 20%;
    top: 10%;
}
.Fi_fileIcon .icon_content.dmg .s3	{
    left: 20%;
    bottom: 10%;
}
.Fi_fileIcon .icon_content.dmg .s4	{
    right: 20%;
    bottom: 10%;
}
.Fi_fileIcon .icon_content.dmg .c2 {
    left: 0px;
    right: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 85%;
    height: 85%;
    border: 1px solid rgba(240,240,240,.8);
    box-sizing: border-box;
    background: rgb(230,230,230);
    border-radius: 50%;
    z-index: 7;
    margin: auto;
    overflow: hidden;
}
.Fi_fileIcon .icon_content.dmg .shine	{
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 8;
    border: 50%;
    margin: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(215,90,12,.6), rgba(43,241,190,.9), rgba(35,155,255,.8), rgba(255,255,255,.3));
}
.Fi_fileIcon .icon_content.dmg .c3 {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 10%;
    height: 10%;
    background: rgb(130,130,130);
    border-radius: 50%;
    z-index: 9;
    margin: auto;
    box-shadow: inset 0px 0px .2em rgb(70,70,70);
}

.Fi_fileIcon .icon_content.dmg .top .icon_label	{
    border: 0px;
    background: none;
    padding: 8%;
    text-align: center;
    color: rgb(100,100,100);
}
/* END DMG */

/* Archive */
.Fi_fileIcon .icon_content.archive	{
    background: none;
}
.Fi_fileIcon .icon_content.archive .box	{
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.Fi_fileIcon .icon_content.archive .box .tl	{
    left: 10%;
    top: 5%;
    height: 25%;
    width: 40%;
    background: rgb(184,110,54);
    transform: skew(-20deg);
    transform-origin: 0% 100% 0;
    -webkit-transform: skew(-20deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform: skew(-20deg);
    -moz-transform-origin: 0% 100% 0;
    -ms-transform: skew(-20deg);
    -ms-transform-origin: 0% 100% 0;
    -o-transform: skew(-20deg);
    -o-transform-origin: 0% 100% 0;
    z-index: 5;
}
.Fi_fileIcon .icon_content.archive .box .tr	{
    right: 10%;
    top: 5%;
    height: 25%;
    width: 40%;
    background: rgb(184,110,54);
    transform: skew(20deg);
    transform-origin: 100% 100% 0;
    -webkit-transform: skew(20deg);
    -webkit-transform-origin: 100% 100% 0;
    -moz-transform: skew(20deg);
    -moz-transform-origin: 100% 100% 0;
    -ms-transform: skew(20deg);
    -ms-transform-origin: 100% 100% 0;
    -o-transform: skew(20deg);
    -o-transform-origin: 100% 100% 0;
    z-index: 5;
}
.Fi_fileIcon .icon_content.archive .box .tpl	{
    left: 45%;
    top: 5%;
    height: 25%;
    width: 5%;
    background: rgb(215,215,215);
    transform: skew(-4deg);
    transform-origin: 0% 100% 0;
    -webkit-transform: skew(-4deg);
    -webkit-transform-origin: 0% 100% 0;
    -moz-transform: skew(-4deg);
    -moz-transform-origin: 0% 100% 0;
    -ms-transform: skew(-4deg);
    -ms-transform-origin: 0% 100% 0;
    -o-transform: skew(-4deg);
    -o-transform-origin: 0% 100% 0;
    z-index: 6;
}
.Fi_fileIcon .icon_content.archive .box .tpr	{
    right: 45%;
    top: 5%;
    height: 25%;
    width: 5%;
    background: rgb(215,215,215);
    transform: skew(4deg);
    transform-origin: 100% 100% 0;
    -webkit-transform: skew(4deg);
    -webkit-transform-origin: 100% 100% 0;
    -moz-transform: skew(4deg);
    -moz-transform-origin: 100% 100% 0;
    -ms-transform: skew(4deg);
    -ms-transform-origin: 100% 100% 0;
    -o-transform: skew(4deg);
    -o-transform-origin: 100% 100% 0;
    z-index: 6;
}
.Fi_fileIcon .icon_content.archive .box .cl	{
    left: 0px;
    top: 5%;
    right: 0px;
    height: 25%;
    width: 1%;
    background: rgb(190,190,190);
    z-index: 7;
    margin: auto;
}
.Fi_fileIcon .icon_content.archive .box .front	{
    left: 0px;
    right: 0px;
    bottom: 5%;
    width: 80%;
    height: 65%;
    margin: auto;
    background: rgb(163,93,42);
    z-index: 4;
}
.Fi_fileIcon .icon_content.archive .box .front .tpc	{
    left: 0px;
    right: 0px;
    width: 12.5%;
    height: 10%;
    z-index: 5;
    background: rgb(180,180,180);
    margin: auto;
}
.Fi_fileIcon .icon_content.archive .box .front .arrow	{
    color: rgb(40,40,40);
    font-weight: lighter;
    left: 4%;
    top: 2%;
    font-size: 80%;
}
.Fi_fileIcon .icon_content.archive .box .front .icon_label	{
    background: none;
    color: rgb(240,240,240);
    text-align: center;
    min-width: 40%;
    max-width: 60%;
    box-sizing: border-box;
    border: 0px;
    top: 35%;
    bottom: auto;
    right: 0px;
    left: 0px;
    margin: auto;
}
/* END Archive */

/* File */
/* Base File */
.Fi_fileIcon .icon_content.file	{
    background: none;
}
.Fi_fileIcon .icon_content.file .file	{
    left: 9%;
    top: 0px;
    right: 9%;
    bottom: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.Fi_fileIcon .icon_content.file .file .s1	{
    right: 0px;
    top: 0x;
    width: 15%;
    height: 14%;
    background: none;
    box-shadow: -1px 1px 3px rgb(140,140,140);
    z-index: 9;
}
.Fi_fileIcon.tiny .icon_content.file .file .s1	{
    box-shadow: -1px 1px 2px rgb(120,120,120);
}
.Fi_fileIcon .icon_content.file .file .r1	{
    top: 0px;
    right: 15%;
    left: 0px;
    height: 14%;
    background: rgb(250,250,250);
    z-index: 2;
    border: 1px solid rgb(220,220,220);
    border-right: 0px;
    border-bottom: 0px;
}
.Fi_fileIcon .icon_content.file .file .r2	{
    top: 14%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(250,250,250);
    z-index: 2;
    border: 1px solid rgb(220,220,220);
    border-top: 0px;
}
.Fi_fileIcon .icon_content.file .file .t1	{
    top: 0%;
    right: 6%;
    width: 24%;
    height: 24%;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    background: rgb(255,255,255);
    z-index: 1;
}
.Fi_fileIcon .icon_content.file .file .icon_label	{
    z-index: 5;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background: none;
    border: 1px solid transparent;
    border-top: 0px;
    color: rgb(140,140,140);
}
/* END Base File */

/* Unknown */
.Fi_fileIcon .icon_content.file.unknown .file .icon_label	{
    top: 20%;
    bottom: auto;
    border: 0px;
    color: rgb(200,200,200);
}
.Fi_fileIcon.xlarge .icon_content.file.unknown .file .icon_label	{
    font-size: 75px;
}
.Fi_fileIcon.large .icon_content.file.unknown .file .icon_label	{
    font-size: 48px;
}
.Fi_fileIcon.medium .icon_content.file.unknown .file .icon_label	{
    font-size: 35px;
}
.Fi_fileIcon.small .icon_content.file.unknown .file .icon_label	{
    font-size: 22px;
}
.Fi_fileIcon.tiny .icon_content.file.unknown .file .icon_label	{
    font-size: 9px;
}
.Fi_fileIcon.micro .icon_content.file.unknown .file .icon_label	{
    font-size: 6px;
}
/* END unknown */

/* CAD */
.Fi_fileIcon .icon_content.file.cad .file .r1, .Fi_fileIcon .icon_content.file.cad .file .r2	{
    background: rgb(35,155,215);
    border-color: rgb(50,168,220);
}
.Fi_fileIcon .icon_content.file.cad .file .icon_label	{
    color: rgb(240,240,240);
}
.Fi_fileIcon .icon_content.file.cad .t1 {
    background: rgb(50,168,220);
}
.Fi_fileIcon .icon_content.file.cad .s1	{
    box-shadow: -1px 1px 3px rgb(24,129,198);
}
.Fi_fileIcon .icon_content.file.cad .face	{
    background: rgb(24,129,198);
    width: 26%;
    height: 26%;
    z-index: 10;
}
.Fi_fileIcon .icon_content.file.cad .top	{
    top: 15.5%;
    left: 0px;
    right: 0px;
    margin: auto;
    background: rgb(230,230,230);
    transform: rotate(-45deg) skew(15deg, 15deg);
    -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
    -moz-transform: rotate(-45deg) skew(15deg, 15deg);
    -ms-transform: rotate(-45deg) skew(15deg, 15deg);
    -o-transform: rotate(-45deg) skew(15deg, 15deg);
}
.Fi_fileIcon .icon_content.file.cad .left	{
    top: 36%;
    left: 25%;
    background: rgb(200,200,200);
    transform: rotate(15deg) skew(15deg, 15deg);
    -webkit-transform: rotate(15deg) skew(15deg, 15deg);
    -moz-transform: rotate(15deg) skew(15deg, 15deg);
    -ms-transform: rotate(15deg) skew(15deg, 15deg);
    -o-transform: rotate(15deg) skew(15deg, 15deg);
}
.Fi_fileIcon .icon_content.file.cad .right	{
    top: 36%;
    right: 25%;
    transform: rotate(-15deg) skew(-15deg, -15deg);
    -webkit-transform: rotate(-15deg) skew(-15deg, -15deg);
    -moz-transform: rotate(-15deg) skew(-15deg, -15deg);
    -ms-transform: rotate(-15deg) skew(-15deg, -15deg);
    -o-transform: rotate(-15deg) skew(-15deg, -15deg);
}
/* END CAD */

/* PDF */
.Fi_fileIcon .icon_content.file.pdf .file .r1, .Fi_fileIcon .icon_content.file.pdf .file .r2	{
    background: rgb(80,80,80);
    border-color: rgb(50,50,50);
}
.Fi_fileIcon .icon_content.file.pdf .file .icon_label	{
    color: rgb(218,40,40);
    font-weight: bold;
    font-size: 2em;
    bottom: auto;
    top: 25%;
}
.Fi_fileIcon .icon_content.file.pdf .file .t1	{
    background: rgb(130,130,130);
}
.Fi_fileIcon .icon_content.file.pdf .file .s1	{
    box-shadow: -1px 1px 3px rgb(50,50,50);
}
/* END PDF */

/* Microsoft Office */
.Fi_fileIcon .icon_content.file.docx .file, .Fi_fileIcon .icon_content.file.pptx .file, .Fi_fileIcon .icon_content.file.xlsx .file	{
    perspective: 20em;
    -webkit-perspective: 20em;
    -moz-perspective: 20em;
    -ms-perspective: 20em;
    -o-perspective: 20em;
}
.Fi_fileIcon .icon_content.file.docx .file .icon_label, .Fi_fileIcon .icon_content.file.pptx .file .icon_label, .Fi_fileIcon .icon_content.file.xlsx .file .icon_label	{
    color: rgb(240,240,240);
    font-size: 2.5em;
    font-weight: bold;
    transform: rotateY(-80deg) scaleX(6);
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-80deg) scaleX(6);
    -webkit-transform-style: preserve-3d;
    -moz-transform: rotateY(-80deg) scaleX(6);
    -moz-transform-style: preserve-3d;
    -ms-transform: rotateY(-80deg) scaleX(6);
    -ms-transform-style: preserve-3d;
    -o-transform: rotateY(-80deg) scaleX(6);
    -o-transform-style: preserve-3d;
    bottom: auto;
    top: 24%;
}
/* Word */
.Fi_fileIcon .icon_content.file.docx .file .r1, .Fi_fileIcon .icon_content.file.docx .file .r2	{
    background: rgb(23,71,206);
    border-color: rgb(14,60,160);
}
.Fi_fileIcon .icon_content.file.docx .file .t1	{
    background: rgb(43,127,226);
}
.Fi_fileIcon .icon_content.file.docx .file .s1	{
    box-shadow: -1px 1px 3px rgb(14,60,160);
}
.Fi_fileIcon .icon_content.file.docx .file .icon_label	{
    padding-right: 17%;
}
/* END Word */

/* PowerPoint */
.Fi_fileIcon .icon_content.file.pptx .file .r1, .Fi_fileIcon .icon_content.file.pptx .file .r2	{
    background: rgb(229,122,26);
    border-color: rgb(206,91,27);
}
.Fi_fileIcon .icon_content.file.pptx .file .t1	{
    background: rgb(232,148,37);
}
.Fi_fileIcon .icon_content.file.pptx .file .s1	{
    box-shadow: -1px 1px 3px rgb(206,91,27);
}
.Fi_fileIcon .icon_content.file.pptx .file .icon_label	{
    padding-right: 10%;
}
/* END PowerPoint */

/* Excel */
.Fi_fileIcon .icon_content.file.xlsx .file .r1, .Fi_fileIcon .icon_content.file.xlsx .file .r2	{
    background: rgb(52,153,19);
    border-color: rgb(38,114,13);
}
.Fi_fileIcon .icon_content.file.xlsx .file .t1	{
    background: rgb(36,183,32);
}
.Fi_fileIcon .icon_content.file.xlsx .file .s1	{
    box-shadow: -1px 1px 3px rgb(38,114,13);
}
.Fi_fileIcon .icon_content.file.xlsx .file .icon_label	{
    padding-right: 10%;
}
/* END Excel */
/* END Microsoft Office */

/* Apple iWork */
/* Pages */
.Fi_fileIcon .icon_content.file.pages .t1	{
    background: rgb(255,194,0);
}
.Fi_fileIcon .icon_content.file.pages .s1	{
    box-shadow: -1px 1px 3px rgb(203,131,0);
}
.Fi_fileIcon .icon_content.file.pages .pgh1	{
    left: 0px;
    top: 0px;
    right: 15%;
    height: 22%;
    background: rgb(255,180,21);
    color: rgb(240,240,240);
    overflow: hidden;
    box-sizing: border-box;
    padding: 0% 0px 0px 9%;
    font-size: 30px;
    text-align: left;
    z-index: 8;
    border: 1px solid rgb(220,220,220);
    border-bottom: 0px;
    border-right: 0px;
}
.Fi_fileIcon.xlarge .icon_content.file.pages .pgh1	{
    font-size: 30px;
}
.Fi_fileIcon.large .icon_content.file.pages .pgh1	{
    font-size: 20px;
}
.Fi_fileIcon.medium .icon_content.file.pages .pgh1	{
    font-size: 15px;
}
.Fi_fileIcon.small .icon_content.file.pages .pgh1	{
    font-size: 9px;
}
.Fi_fileIcon.tiny .icon_content.file.pages .pgh1	{
    font-size: 3px;
}
.Fi_fileIcon.micro .icon_content.file.pages .pgh1	{
    font-size: 2px;
}
.Fi_fileIcon .icon_content.file.pages .pgh2	{
    top: 14%;
    right: 0px;
    width: 15%;
    height: 8%;
    background: rgb(255,180,21);
    z-index: 8;
    border-right: 1px solid rgb(220,220,220);
    box-sizing: border-box;
}

.Fi_fileIcon .icon_content.file.pages .tb1	{
    left: 0px;
    top: 22%;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    margin: 9%;
    overflow: hidden;
    color: rgb(140,140,140);
    font-size: 100%;
    text-align: left;
    z-index: 7;
}
.Fi_fileIcon.xlarge .icon_content.file.pages .tb1	{
    font-size: 24%;
}
.Fi_fileIcon.large .icon_content.file.pages .tb1	{
    font-size: 24%;
}
.Fi_fileIcon.medium .icon_content.file.pages .tb1	{
    font-size: 26%;
}
.Fi_fileIcon.small .icon_content.file.pages .tb1	{
    font-size: 30%;
}
.Fi_fileIcon.tiny .icon_content.file.pages .tb1	{
    font-size: 25%;
}
.Fi_fileIcon.micro .icon_content.file.pages .tb1	{
    font-size: 23%;
}
.Fi_fileIcon .icon_content.file.pages .pic1	{
    position: relative;
    display: inline-block;
    width: 24%;
    height: 16%;
    background: rgb(255,180,21);
    float: left;
    margin: 3% 4% 3% 0px;
}
/* END Pages */

/* Keynote */
.Fi_fileIcon .icon_content.file.keynote .ico_bx	{
    width: 40%;
    height: 50%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 10%;
    margin: auto;
    z-index: 10;
}
.Fi_fileIcon .icon_content.file.keynote .ico_bx .c1	{
    width: 60%;
    height: 30%;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(140,140,140), rgb(140,140,140), rgb(120,120,120));
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 1;
    box-shadow: 0px 2px 2px rgb(90,90,90);
}
.Fi_fileIcon.medium .icon_content.file.keynote .ico_bx .c1	{
    box-shadow: 0px 1px 2px rgb(90,90,90);
}
.Fi_fileIcon.small .icon_content.file.keynote .ico_bx .c1	{
    box-shadow: 0px 1px 2px rgb(80,80,80);
}
.Fi_fileIcon.tiny .icon_content.file.keynote .ico_bx .c1	{
    box-shadow: 0px 1px 1px rgb(60,60,60);
}
.Fi_fileIcon.micro .icon_content.file.keynote .ico_bx .c1	{
    box-shadow: 0px 1px 1px rgb(60,60,60);
}
.Fi_fileIcon .icon_content.file.keynote .ico_bx .r1	{
    width: 15%;
    height: 50%;
    background: linear-gradient(to bottom, rgb(120,120,120), rgb(120,120,120), rgb(140,140,140));
    left: 0px;
    right: 0px;
    bottom: 15%;
    margin: auto;
    z-index: 2;
}
.Fi_fileIcon .icon_content.file.keynote .ico_bx .r2	{
    border-radius: 5%;
    width: 100%;
    height: 50%;
    background: linear-gradient(-45deg, rgb(35,155,215), rgb(50,180,240), rgb(35,155,215));
    left: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
    z-index: 3;
    box-shadow: 0px 2px 2px rgb(90,90,90);
}
.Fi_fileIcon.small .icon_content.file.keynote .ico_bx .r2	{
    box-shadow: 0px 1px 2px rgb(80,80,80);
}
.Fi_fileIcon.tiny .icon_content.file.keynote .ico_bx .r2	{
    box-shadow: 0px 1px 1px rgb(60,60,60);
}
.Fi_fileIcon.micro .icon_content.file.keynote .ico_bx .r2	{
    box-shadow: 0px 1px 1px rgb(60,60,60);
}
.Fi_fileIcon .icon_content.file.keynote .ico_bx .r2 .p1	{
    width: 26%;
    height: 50%;
    left: 0px;
    right: 5%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: rgb(240,240,240);
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    z-index: 1;
}
.Fi_fileIcon .icon_content.file.keynote .ico_bx .r2 .p2	{
    width: 26%;
    height: 50%;
    left: 5%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: rgb(240,240,240);
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    box-shadow: 0px 1px 3px rgb(120,120,120);
    z-index: 1;
}
/* END Keynote */

/* Numbers */
.Fi_fileIcon .icon_content.file.numbers .g1	{
    width: 40%;
    height: 40%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 10%;
    margin: auto;
    z-index: 10;
}
.Fi_fileIcon .icon_content.file.numbers .g1 .r1	{
    width: 25%;
    height: 35%;
    bottom: 0px;
    background: rgb(205,52,52);
    box-shadow: inset 0px 0px 3px rgb(40,40,40);
}
.Fi_fileIcon.small .icon_content.file.numbers .g1 .r1	{
    box-shadow: inset 0px 0px 2px rgb(30,30,30);
}
.Fi_fileIcon.tiny .icon_content.file.numbers .g1 .r1	{
    box-shadow: inset 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon.micro .icon_content.file.numbers .g1 .r1	{
    box-shadow: inset 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon .icon_content.file.numbers .g1 .r2	{
    width: 25%;
    height: 65%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background: rgb(30,205,40);
    box-shadow: inset 0px 0px 3px rgb(40,40,40);
}
.Fi_fileIcon.small .icon_content.file.numbers .g1 .r2	{
    box-shadow: inset 0px 0px 2px rgb(30,30,30);
}
.Fi_fileIcon.tiny .icon_content.file.numbers .g1 .r2	{
    box-shadow: inset 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon.micro .icon_content.file.numbers .g1 .r2	{
    box-shadow: inset 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon .icon_content.file.numbers .g1 .r3	{
    width: 25%;
    height: 100%;
    bottom: 0px;
    right: 0px;
    background: rgb(35,155,215);
    box-shadow: inset 0px 0px 3px rgb(40,40,40);
}
.Fi_fileIcon.small .icon_content.file.numbers .g1 .r3	{
    box-shadow: inset 0px 0px 2px rgb(30,30,30);
}
.Fi_fileIcon.tiny .icon_content.file.numbers .g1 .r3	{
    box-shadow: inset 0px 0px 1px rgb(20,20,20);
}
.Fi_fileIcon.micro .icon_content.file.numbers .g1 .r3	{
    box-shadow: inset 0px 0px 1px rgb(20,20,20);
}
/* END Numbers */
/* END Apple iWork */

/* Vector */
.Fi_fileIcon .icon_content.file.vector .v1	{
    width: 40%;
    height: 40%;
    border: 1px solid rgb(35,55,240);
    border-bottom-color: rgb(140,140,140);
    border-right-color: rgb(140,140,140);
    background: rgb(250,250,250);
    border-radius: 100% 0px 0px 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 10;
    box-sizing: border-box;
}
.Fi_fileIcon.small .icon_content.file.vector .v1	{
    border-width: .5px;
}
.Fi_fileIcon.tiny .icon_content.file.vector .v1	{
    border-width: .5px;
}
.Fi_fileIcon.micro .icon_content.file.vector .v1	{
    border-width: .5px;
}
.Fi_fileIcon .icon_content.file.vector .v1 .l	{
    width: 16%;
    height: 16%;
    border: 1px solid rgb(200,200,200);
    background: rgb(255,255,255);
    box-sizing: border-box;
    z-index: 5;
}
.Fi_fileIcon.small  .icon_content.file.vector .v1 .l	{
    border-width: .5px;
}
.Fi_fileIcon.tiny  .icon_content.file.vector .v1 .l	{
    border-width: .5px;
}
.Fi_fileIcon.micro  .icon_content.file.vector .v1 .l	{
    border-width: .5px;
}
.Fi_fileIcon .icon_content.file.vector .v1 .c1	{
    border-radius: 50%;
    left: -8%;
    bottom: -8%;
}
.Fi_fileIcon .icon_content.file.vector .v1 .c2	{
    border-radius: 50%;
    top: -8%;
    right: -8%;
}
.Fi_fileIcon .icon_content.file.vector .v1 .h1	{
    bottom: -8%;
    right: -8%;
}
/* END Vector */

/* Torrent */
.Fi_fileIcon .icon_content.file.torrent .file .icon_label	{
    background: rgb(30,205,40);
    color: rgb(240,240,240);
}
.Fi_fileIcon .icon_content.file.torrent .c0	{
    width: 45%;
    height: 45%;
    background: rgb(30,205,40);
    border-radius: 50%;
    top: 15%;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 10;
    overflow: hidden;
}
.Fi_fileIcon .icon_content.file.torrent .l	{
    width: 86%;
    height: 86%;
    background: none;
    border-radius: 50%;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid rgb(250,250,250);
}
.Fi_fileIcon.small .icon_content.file.torrent .l	{
    border-width: .5px;
}
.Fi_fileIcon.tiny .icon_content.file.torrent .l	{
    border-width: .5px;
}
.Fi_fileIcon.micro .icon_content.file.torrent .l	{
    border-width: .5px;
}
.Fi_fileIcon .icon_content.file.torrent .c1	{
    left: -15%;
    top: -15%;
}
.Fi_fileIcon .icon_content.file.torrent .c2	{
    right: -15%;
    top: -15%;
}
.Fi_fileIcon .icon_content.file.torrent .c3	{
    left: -15%;
    bottom: -15%;
}
.Fi_fileIcon .icon_content.file.torrent .c4	{
    right: -15%;
    bottom: -15%;
}
/* END Torrent */

/* QLab */
.Fi_fileIcon .icon_content.file.qlab .file .icon_label	{
    background: rgb(140,34,200);
    color: rgb(240,240,240);
}
.Fi_fileIcon .icon_content.file.qlab .q1	{
    width: 40%;
    height: 42%;
    border-radius: 50%;
    left: 0px;
    right: 0px;
    top: 15%;
    bottom: auto;
    margin: auto;
    background: rgb(140,34,200);
    z-index: 10;
}
.Fi_fileIcon .icon_content.file.qlab .q2	{
    width: 65%;
    height: 65%;
    border-radius: 50%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: rgb(250,250,250);
    z-index: 5;
}
.Fi_fileIcon.tiny .icon_content.file.qlab .q2	{
    width: 60%;
    height: 60%;
}
.Fi_fileIcon .icon_content.file.qlab .qt1	{
    bottom: -9%;
    right: -5%;
    border-left: 0px solid rgb(140,34,200);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 3;
}
.Fi_fileIcon.xlarge .icon_content.file.qlab .qt1	{
    border-left: 20px solid rgb(140,34,200);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.Fi_fileIcon.large .icon_content.file.qlab .qt1	{
    border-left: 15px solid rgb(140,34,200);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.Fi_fileIcon.medium .icon_content.file.qlab .qt1	{
    border-left: 12px solid rgb(140,34,200);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}
.Fi_fileIcon.small .icon_content.file.qlab .qt1	{
    border-left: 9px solid rgb(140,34,200);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.Fi_fileIcon.tiny .icon_content.file.qlab .qt1	{
    border-left: 4px solid rgb(140,34,200);
    border-top: 2.5px solid transparent;
    border-bottom: 2.5px solid transparent;
}
.Fi_fileIcon.micro .icon_content.file.qlab .qt1	{
    border-left: 3px solid rgb(140,34,200);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
/* END QLab */
/* END File */

/* Folder */
.Fi_fileIcon .icon_content.folder	{
    background: none;
    overflow: visible;
}
.Fi_fileIcon .icon_content.folder .cover	{
    left: 0px;
    top: 12%;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(to bottom, rgb(35,155,215), rgb(50,180,240), rgb(50,180,240));
    z-index: 3;
}
.Fi_fileIcon.xlarge .icon_content.folder .cover	{
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px -1px 4px rgba(20,20,20,1);
}
.Fi_fileIcon.large .icon_content.folder .cover	{
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 4px rgba(20,20,20,.8);
}
.Fi_fileIcon.medium .icon_content.folder .cover	{
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px -1px 4px rgba(20,20,20,.7);
}
.Fi_fileIcon.small .icon_content.folder .cover	{
    top: 14%;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px -1px 4px rgba(20,20,20,.6);
}
.Fi_fileIcon.tiny .icon_content.folder .cover	{
    top: 18%;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px -1px 3px rgba(20,20,20,.6);
}
.Fi_fileIcon.micro .icon_content.folder .cover	{
    top: 18%;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 0px -1px 2px rgba(20,20,20,.6);
}
.Fi_fileIcon .icon_content.folder .paper	{
    width: 85%;
    height: 80%;
    left: 4%;
    top: 8%;
    background: rgb(240,240,240);
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    z-index: 2;
}
.Fi_fileIcon.small .icon_content.folder .paper	{
    top: 10%;
}
.Fi_fileIcon.tiny .icon_content.folder .paper	{
    top: 14%;
}
.Fi_fileIcon .icon_content.folder .tab	{
    width: 25%;
    left: 0px;
    height: 8%;
    top: 10%;
    background: rgb(50,180,240);
    z-index: 1;
}
.Fi_fileIcon.xlarge .icon_content.folder .tab	{
    border-radius: 10px 0px 0px 0px;
}
.Fi_fileIcon.large .icon_content.folder .tab	{
    border-radius: 6px 0px 0px 0px;
}
.Fi_fileIcon.medium .icon_content.folder .tab	{
    border-radius: 4px 0px 0px 0px;
}
.Fi_fileIcon.small .icon_content.folder .tab	{
    border-radius: 3px 0px 0px 0px;
}
.Fi_fileIcon.tiny .icon_content.folder .tab	{
    border-radius: 2px 0px 0px 0px;
}
.Fi_fileIcon.micro .icon_content.folder .tab	{
    border-radius: 2px 0px 0px 0px;
}
.Fi_fileIcon .icon_content.folder .tab .t1	{
    left: 100%;
    border-left: 8px solid rgb(50,180,240);
    border-bottom: 8px solid rgb(50,180,240);
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
}
.Fi_fileIcon.xlarge .icon_content.folder .tab .t1	{
    border-width: 8px;
}
.Fi_fileIcon.large .icon_content.folder .tab .t1	{
    border-width: 4px;
}
.Fi_fileIcon.medium .icon_content.folder .tab .t1	{
    border-width: 3px;
}
.Fi_fileIcon.small .icon_content.folder .tab .t1	{
    border-width: 2px;
}
.Fi_fileIcon.tiny .icon_content.folder .tab .t1	{
    border-width: 2px;
}
.Fi_fileIcon.micro .icon_content.folder .tab .t1	{
    border-width: 1px;
}
.Fi_fileIcon .icon_content.folder .back	{
    left: 0px;
    top: 18%;
    right: 0px;
    bottom: 10%;
    background: rgb(50,180,240);
    z-index: 2;
    overflow: hidden;
}
.Fi_fileIcon.xlarge .icon_content.folder .back	{
    border-radius: 0px 12px 8px 8px;
}
.Fi_fileIcon.large .icon_content.folder .back	{
    border-radius: 0px 11px 7px 7px;
}
.Fi_fileIcon.medium .icon_content.folder .back	{
    border-radius: 0px 9px 6px 6px;
}
.Fi_fileIcon.small .icon_content.folder .back	{
    border-radius: 0px 6px 4px 4px;
}
.Fi_fileIcon.tiny .icon_content.folder .back	{
    border-radius: 0px 3px 2px 2px;
}
.Fi_fileIcon.micro .icon_content.folder .back	{
    border-radius: 0px 2px 1px 1px;
}
/* END Folder */

/* Image */
.Fi_fileIcon .icon_content.image	{
    background: rgb(180,180,180);
}
.Fi_fileIcon .icon_content.image .icon_label	{
    background: rgb(120,120,120);
    border-top: 0px;
}
.Fi_fileIcon .icon_content.image .t1	{
    width: 0px;
    height: 0px;
    border-bottom: 0px solid rgb(240,30,30);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    top: 0px;
    left: 22%;
    bottom: 30%;
    margin: auto;
    z-index: 3;
    box-sizing: border-box;
}
.Fi_fileIcon.xlarge .icon_content.image .t1	{
    border-bottom-width: 45px;
    border-left-width: 25px;
    border-right-width: 25px;
}
.Fi_fileIcon.large .icon_content.image .t1	{
    border-bottom-width: 30px;
    border-left-width: 16px;
    border-right-width: 16px;
}
.Fi_fileIcon.medium .icon_content.image .t1	{
    border-bottom-width: 22px;
    border-left-width: 12px;
    border-right-width: 12px;
}
.Fi_fileIcon.small .icon_content.image .t1	{
    border-bottom-width: 13px;
    border-left-width: 7px;
    border-right-width: 7px;
}
.Fi_fileIcon.tiny .icon_content.image .t1	{
    border-bottom-width: 6px;
    border-left-width: 3px;
    border-right-width: 3px;
}
.Fi_fileIcon.micro .icon_content.image .t1	{
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.Fi_fileIcon .icon_content.image .c1	{
    width: 32%;
    height: 32%;
    border-radius: 50%;
    top: 15%;
    right: 22%;
    bottom: 30%;
    margin: auto;
    background: rgb(30,240,30);
    z-index: 4;
    box-sizing: border-box;
}

.Fi_fileIcon .icon_content.image .r1	{
    width: 25%;
    height: 25%;
    top: 0px;
    left: 5%;
    right: 0px;
    bottom: 48%;
    margin: auto;
    background: rgb(30,30,240);
    z-index: 2;
    box-sizing: border-box;
}
.Fi_fileIcon.tiny .icon_content.image .r1	{
    border-width: .5px;
}
/* END Image */

/* Video */
.Fi_fileIcon .icon_content.video	{
    background: none;
}
.Fi_fileIcon .icon_content.video .icon_label	{
    background: none;
    border: 0px;
    color: rgb(240,240,240);
    z-index: 5;
    padding: 0% 8% 11% 8%;
    text-align: center;
    left: 16%;
    right: 16%;
}
.Fi_fileIcon .icon_content.video .file	{
    left: 9%;
    right: 9%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: none;
    z-index: 1;
}
.Fi_fileIcon .icon_content.video .file div	{
    box-sizing: border-box;
}
.Fi_fileIcon .icon_content.video .file .leftEdge	{
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: rgb(40,40,40);
    width: 8%;
}
.Fi_fileIcon .icon_content.video .file .rightEdge	{
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgb(40,40,40);
    width: 8%;
}
.Fi_fileIcon .icon_content.video .file .topEdge	{
    right: 0px;
    top: 0px;
    left: 0px;
    background: rgb(40,40,40);
    height: 11%;
}
.Fi_fileIcon .icon_content.video .file .bottomEdge	{
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgb(40,40,40);
    height: 11%;
}
.Fi_fileIcon .icon_content.video .file .middle	{
    left: 16%;
    top: 8%;
    right: 16%;
    bottom: 8%;
    background: rgb(40,40,40);
}
.Fi_fileIcon .icon_content.video .file .fill	{
    width: 8%;
    height: 6%;
    background: rgb(40,40,40);
}
.Fi_fileIcon .icon_content.video .file .cutout	{
    width: 8%;
    height: 6%;
    background: none;
}
.Fi_fileIcon .icon_content.video .file .left	{
    left: 8%;
}
.Fi_fileIcon .icon_content.video .file .right	{
    right: 8%;
}
.Fi_fileIcon .icon_content.video .file .c1	{
    top: 11%;
}
.Fi_fileIcon .icon_content.video .file .f1	{
    top: 17%;
}
.Fi_fileIcon .icon_content.video .file .c2	{
    top: 23%;
}
.Fi_fileIcon .icon_content.video .file .f2	{
    top: 29%;
}
.Fi_fileIcon .icon_content.video .file .c3	{
    top: 35%;
}
.Fi_fileIcon .icon_content.video .file .f3	{
    top: 41%;
}
.Fi_fileIcon .icon_content.video .file .c4	{
    top: 47%;
}
.Fi_fileIcon .icon_content.video .file .f4	{
    top: 53%;
}
.Fi_fileIcon .icon_content.video .file .c5	{
    top: 59%;
}
.Fi_fileIcon .icon_content.video .file .f5	{
    top: 65%;
}
.Fi_fileIcon .icon_content.video .file .c6	{
    top: 71%;
}
.Fi_fileIcon .icon_content.video .file .f6	{
    top: 77%;
}
.Fi_fileIcon .icon_content.video .file .c7	{
    top: 83%;
}
/* END Video */

/* Audio */
.Fi_fileIcon .icon_content.audio 	{
    background: rgb(205,52,52);
}
.Fi_fileIcon .icon_content.audio .icon_label 	{
    background: rgb(205,52,52);
}
.Fi_fileIcon .icon_content.audio .r1	{
    background: rgb(240,240,240);
    width: 13%;
    height: 15%;
    top: 0px;
    left: 32%;
    bottom: 30%;
    margin: auto;
    z-index: 6;
}
.Fi_fileIcon .icon_content.audio .t1	{
    border-right: 0px solid rgb(240,240,240);
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 16%;
    bottom: 30%;
    margin: auto;
    z-index: 7;
}
.Fi_fileIcon.xlarge .icon_content.audio .t1	{
    border-width: 25px;
}
.Fi_fileIcon.large .icon_content.audio .t1	{
    border-width: 16px;
}
.Fi_fileIcon.medium .icon_content.audio .t1	{
    border-width: 13px;
}
.Fi_fileIcon.small .icon_content.audio .t1	{
    border-width: 8px;
}
.Fi_fileIcon.tiny .icon_content.audio .t1	{
    border-width: 3px;
}
.Fi_fileIcon.micro .icon_content.audio .t1	{
    border-width: 1.5px;
}
.Fi_fileIcon .icon_content.audio .circ	{
    border-radius: 50%;
    background: rgb(240,240,240);
    top: 0px;
    bottom: 30%;
    margin: auto;
}
.Fi_fileIcon .icon_content.audio .c1	{
    width: 13%;
    height: 13%;
    left: 45%;
    z-index: 5;
}
.Fi_fileIcon.tiny .icon_content.audio .c1	{
    width: 15%;
    height: 15%;
}
.Fi_fileIcon .icon_content.audio .c2	{
    width: 21%;
    height: 21%;
    left: 42%;
    z-index: 4;
}
.Fi_fileIcon.tiny .icon_content.audio .c2	{
    width: 24%;
    height: 24%;
}
.Fi_fileIcon .icon_content.audio .c3	{
    width: 28%;
    height: 28%;
    left: 40%;
    z-index: 3;
}
.Fi_fileIcon.tiny .icon_content.audio .c3	{
    width: 30%;
    height: 30%;
}
.Fi_fileIcon.micro .icon_content.audio .c3	{
    width: 30%;
    height: 30%;
}
.Fi_fileIcon .icon_content.audio .tp1	{
    background: rgb(205,52,52);
    left: 0px;
    top: 0px;
    right: 50%;
    bottom: 0px;
}
.Fi_fileIcon .icon_content.audio .tp2	{
    background: rgb(205,52,52);
    width: 80%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    margin: auto;
}
/* END AUdio*/
/* END The File Icon Library - Styles */
