.swiper-button-next{
    right: -3%;
    text-align: left;
    padding-right: 10px;
}
.swiper-button-prev{
    text-align: right;
    padding-left: 10px;
    left: -3%
}
.swiper-button-prev:after{
    font-size: 19px;
  ;
  
}
.swiper-button-next:after{
    font-size: 19px;


}
