#popup{
    display:none;
    background-color:#ccccee;
    position:fixed;
    box-shadow: 6px 6px 5px #888888;
    border-radius:6px;
    border:1px solid #4f4f4f;
    text-align:center;
}

#popup_bar{
    width:100%;
    background-color:#90c0ff;
    position:relative;
    border-radius:6px 6px 0 0;
    text-align:center;
    height:24px;
    cursor:move;
}

#btn_close{
    float:right;
    cursor:pointer;
    padding-right:6px;
}

#txtRegStatus{
    font-style: italic;
}

#txtCallStatus{
    font-style: italic;
}

#txtState{
    font-style: italic;
}

#aside_popup_phone {
    display:block;
    background-color:#ccccee;
    position:fixed;
    right:0px;
    bottom:50px;
    box-shadow: 6px 6px 5px #888888;
    border:1px solid #4f4f4f;
}
