
					  body {
						  text-align: center;
						  font-family: Arial;
						  background: #D9623F;
						  min-height: 100vh;
						  font-size: 18px;
						  padding: 0;
						  margin: 0;
						  color: white;
					  }

h1 {
	font-size: 6em;
	text-shadow: 0 6px 1px rgba(0, 0, 0, 0.2);
	font-family: 'Lobster', cursive;
}
h2 {
	font-size: 4em;
	margin: 0.5em 0;
	text-shadow: 0 6px 1px rgba(0, 0, 0, 0.2);
	font-family: 'Lobster', cursive;
}
.version {
	font-size: 0.3em;
	border-radius: 50%;
	padding: 1px 11px;
	text-shadow: none;
	top: 0px;
	position: absolute;
	right: -65px;
}
.section {
	padding: 3em 0;
	position: relative;
}
.section:after {
	content: '';
	position: absolute;
	bottom: -25px;
	background: inherit;
	left: -4px;
	height: 50px;
	right: -2px;
	z-index: 1;
	transform: rotate(2deg);
}
.section:last-of-type {
	padding-bottom: 2em;
}
.section:last-of-type:after {
	display: none;
}
.section--inverted:after {
	left: -4px;
	height: 50px;
	right: -2px;
	z-index: 1;
	transform: rotate(-2deg);
}
.hero {
	background: #5CC2F1;
	background: #81C439;
	background: #7D6EC6;
	/*text-shadow: 0 3px 7px rgba(0,0,0,0.25);*/
}
.section:nth-child(2) {
	background: #9993C1;
	background: #8BBA66;
	background: #5BC0EB;
	background:
}
.section:nth-child(3) {
	background: #D9623F;
	background: #E4CC37;
	/* #BD3769 */
	/* #E18335 */
}
.section:nth-child(4) {
	background: #7D6EC6;
}
.section:nth-child(5) {
	background: #D9623F;
	/*background: ##E18335;*/
	/* #BD3769 */
	/* #E18335 */
}
.section-inner {
	max-width: 600px;
	margin: 0 auto;
}
h1,h3{
	margin: 5px 0;
}
a {
	color: #1A5A7A;
	color: #fff;
	outline: none;
	text-decoration: none;
}
.btn {
	/*background: rgba(0,0,0,0.2);*/
	background: white;
	padding: 20px;
	display: inline-block;
	border-radius: 8px;
	text-transform: uppercase;
	transition: 0.3s ease;
}
.btn:hover {
	transform: scale(1.2);
}
.download-btn {
	color: #7D6EC6;
	margin-top: 1em;
}
.position-grid {
	display: flex;
	flex-wrap: wrap;
}
.position-grid__cell {
	flex: 1 33.33%;
	font-size: 0.8em;
}
.position-grid__cell a {
	display: inline-block;
	width: 90%;
	background: rgba(91, 192, 235, 0.37);
	color: white;
	margin: 2px 0;
	padding: 16px 5px;
}
.status-icon {
	background: indianred;
	fill: white;
	border-radius: 3px;
	padding: 5px 6px 2px;
	margin: 0 4px;
	border: 1px solid rgba(0,0,0,0.2);
}
.features ul {
	padding: 0;
	list-style: none;
}
.footer {
	color: rgba(255, 255, 255, 0.7);
}
.window {
	background: #fff;
	width: 50vw;
	min-width: 450px;
	margin: auto;
	border: 1px solid #acacac;
	border-radius: 6px;
	box-shadow: 0px 6px 17px rgba(0,0,0,0.2);
	cursor: default;
}

.titlebar {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb, color-stop(1, #d5d5d5)));
	background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
	background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
	background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
	background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
	background: linear-gradient(top, #ebebeb, #d5d5d5);
	color: #4d494d;
	font-size: 11pt;
	line-height: 20px;
	text-align: center;
	width: 100%;
	height: 20px;
	border-top: 1px solid #f3f1f3;
	border-bottom: 1px solid #b1aeb1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.buttons {
	padding-left: 8px;
	padding-top: 3px;
	float: left;
	line-height: 0px;
}

.titlebar__btn {
	font-size: 9pt;
	line-height: 11px;
	width: 11px;
	height: 11px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;

}
.close {
	background: #ff5c5c;
}
.minimize {
	background: #ffbd4c;
}
.zoom {
	background: #00ca56;
}
.titlebar__btn:hover {
	border-color: rgba(0, 0, 0, 0.3);
}
.content {
	padding: 50px 10px;
	color: #777;
}
.content a {
	color: #444;
}
.content h3 {
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 22px 0 0;
	padding: 4px 0;
	background: rgba(00,0,0,0.02);
	color: rgba(0,0,0,0.9);
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
pre {
	color: #555;
	font-size: 1.5em;
}
a svg {
	fill: rgba(255, 255, 255, 0.6);
}
a:hover svg {
	fill: white;
}
