.kashilok{
    background-color: #28a745;
    color: white;
    padding: 10px;

}

.count-shop{
    border-radius: 50%;
    color: black;
    background-color: white;

    padding: 5px;
}
.savatcha{
    padding: 10px;
}
.itog{
    color: #28a745;
    font-size: 10pt;
    font-weight: bold;
}