
@media (max-width: 1280px) {
    #ae-ru-privacy-banner.with-outer-sidebar {
        max-width: 990px !important;
    }
}

@media (max-width: 1200px) {
    #ae-ru-privacy-banner {
        max-width: 990px !important;
    }
}

@media (max-width: 1070px) {
    #ae-ru-privacy-banner.with-outer-sidebar {
        left: 5px !important;
        width: calc(100% - 45px) !important;
        transform: inherit;
    }
}

.sub-cate-items dt a {
    max-width: 100%;
}
