      #wrapper {
        padding-left: 250px;
        transition: all 0.4s ease 0s;
      }

      #sidebar {
        margin-left: -250px;
        left: 250px;
        width: 250px;
        background: #fff;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        z-index: 1000;
        transition: all 0.4s ease 0s;
      }

      #content {
        width: 100%;
      }

      .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      @media (max-width:767px) {
        #wrapper {
          padding-left: 0;
        }
        #sidebar {
          left: 0;
        }
        #wrapper.active {
          position: relative;
          left: 250px;
        }
        #wrapper.active #sidebar {
          left: 250px;
          width: 250px;
          transition: all 0.4s ease 0s;
        }
      }
