body {
    margin: 0;
    padding: 0;
}


.container {
    margin: 130px;
    width: 100%;
}

table, tr, td {
    font-family: Arial, sans-serif;
    border: 1px solid #333;
    background-color: #c7e1dd;
    border-radius: 1px;
    text-align: center;
}

td {
    height: 15px;
}

.blue-bg {
    background-color: #4699fd;
    color: #fff;
    font-weight: bold;
    width: 150px;
}

.green-bg {
    background-color: #20e31e;
    color: #fff;
}
