@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

.navbar {
    box-shadow: none;
}

.brand-text {
    font-size: 2rem;
}

.navbar-item {
    color: #333;
}

.main {
    margin-top: 20rem;
    position: relative;
}

.main-title {
    line-height: 3rem;
    margin-bottom: 2rem;
}

.main-text {
    line-height: 2rem;
}

.imgBox {
    position: absolute;
    top: -80%;
    left: 40%;
    z-index: -1;
}

.img-main {
    width: 80rem;
}


.info {
    margin-top: 25rem;
    position: relative;
}

.blocks {
    padding-top: 3rem;
}

.icon {
    margin: 1rem 1rem 0 0;
}

.icon i {
    font-size: 3rem;
    margin: .5rem;
}

.icon-text {
    width: 20rem;
    padding-right: 1rem;
}

.about {
    margin-top: 15rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 6rem 0;
}

.text {
    padding-top: 2rem;
}

.about-title {
    margin-bottom: 2rem;
}

.pricing {
    margin-top: 25rem;
    padding: 10rem 0;
    background: #c6f0fd;
}

.price h2{
    margin-top: 2rem;
    font-size: 3rem;
}

.price-buy {
    margin-top: 3rem;
    text-align: center;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-text {
    text-align: center;
    width: 70%;
}

.footer {
    padding: 2rem;
    background: #add8e6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.4rem;
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.4rem;

}

.footer-brand {
    margin-left: 5rem !important;
    font-size: 2rem;
}

.footer-links a, .footer-icons{
    color: gray;
}
.link {
    margin-right: 1rem;
}

.footer-icons i{
    margin-left: 1rem;
}