@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

.nav-link {
    font-family: 'Antic Slab', serif;
    color: #000 !important;
}

.navbar-brand {
    font-family: 'Antic Slab', serif;
}

.navbar {
    box-shadow: none !important;
    position: relative;
}

.main {
    width: 100%;
    position: relative;
    height: 100vh;
}

.mainDiv {
    position: absolute;
    left: 10%;
    height: 400px;
}

.main-Logo {
    position: absolute;
    left: 45%;
    top: 15%;
}

.main-StartBtn {
    position: absolute;
    right: 5%;
    top: 30%;
   width: 200px;
}

.main-StartBtn a {
   padding: 10px;
   background-color: #fff;
   border-radius: 10px;
   color: #000;
   border: 1px solid #000;
}

.main-Logo p {
    font-size: 40px;
    color: #000;
    font-family: 'Antic Slab', serif;
}

.main-text {
    font-size: 40px;
    text-align: left;
    font-family: 'Antic Slab', serif;
    color: #000;
    margin-top: 20%;
}

.main-title {
    font-size: 20px;
    text-align: left;
    font-family: 'Antic Slab', serif;
    color: #000;
}

.grapesCard {
    height: 300px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.grapesCard:hover {
    opacity: 0.8;
}

.titleCard{
    font-size: large;
    font-weight: bold;
}

.cardGrapes {
    position: absolute;
    left: 20%;
    top: 30%;
    width: 100%;
    height: 100%;
}

.eventBtn {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 9999;
}

.flexButtons {
    position: absolute;
    left: 20%;
    top: 40%;
    width: 100%;
    height: 100%;
    display: flex;
}

.flexBtns {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 9999;
    margin-left: 10px;
    text-align: center;
}

.flexBtns i{
    font-size: 25px;
    margin-top: 15px;
}

.plusCard {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: 35%;
}

.plusCard i {
    font-size: 60px;
    color: #000;
}

.cardTitles {
    position: absolute;
    bottom: 2%;
    left: 43%;
}

.templates {
    height: 300px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.grapeTemps {
    position: absolute;
    width: 100%;
    height: 100%;
}

.opac {
    opacity: 0.4;
}

.gjs-toolbar {
    display: none !important;
}

.params{
  animation-name: buttonAnims;
  animation-duration: 4s;
  transition: all ease 1s;
}

@keyframes buttonAnims {
   0% {
    opacity: 0;
   }
   25% {
    opacity: 0.3;
   }
   50% {
    opacity: 0.5;
   }
   75% {
    opacity: 0.8;
   }
   100% {
    opacity: 1;
   }
}
