.gjs-pn-views{

    background-color: #f0f0fa;
}

.gjs-title:hover{
    color: #005ecb!important;
}


#review_div{

    border: 0.5px solid #f0f0fa;

}

.gjs-one-bg{
    background-color:white;
}

.gjs-editor{
    background-color:#f0f0fa!important;
}

.gjs-block:hover{
    background-color: #c2d5f2;
    color:#005ecb
}


#gjs-clm-states{
    background-color:#f0f0fa;
}

.gjs-clm-tags #gjs-clm-tags-field{
    background-color: #f0f0fa;
}

.gjs-radio-item{
    background-color: #f0f0fa;
}
.gjs-field-integer input{
    background-color: #f0f0fa;
}

.gjs-input-holder input{
    color:#0d5adb!important;
}
.gjs-fields{
    background-color: #f0f0fa;
}

.gjs-block-category .gjs-title, .gjs-category-title, .gjs-clm-tags .gjs-sm-title, .gjs-layer-title, .gjs-sm-sector .gjs-sm-title{
    background-color: #f0f0fa;

    border-top: 0.5px solid #005ecbd6;

}
.gjs-block-category .gjs-title:hover, .gjs-category-title:hover, .gjs-clm-tags .gjs-sm-title:hover, .gjs-layer-title:hover, .gjs-sm-sector .gjs-sm-title:hover{
    background-color: #c2d5f2;
}
.gjs-blocks-c{

    background-color:#f0f0fa;
}

.gjs-two-color{
    color:#0d5adb;

}
.gjs-three-bg{
    background-color:#c2d5f2;
}

.select2-container--bootstrap4 .select2-selection__clear{

    color: #005ecb;

}

#gjs-clm-new{
    color:#0d5adb!important;
}

#search-grape:active #scope_div span{
    background-color: white;
}

.gjs-block{
    border: 0.7px solid #005ecb;

}

.gjs-clm-tags .gjs-sm-stack #gjs-sm-add, .gjs-color-main, .gjs-off-prv, .gjs-sm-sector .gjs-sm-stack #gjs-sm-add{
    color:#005ecb;
    fill: #005ecb;
}
.gjs-bg-main, .gjs-clm-tags .gjs-sm-colorp-c, .gjs-off-prv, .gjs-sm-sector .gjs-sm-colorp-c{
    background-color: #f0f0fa;
}


.gjs-pn-btn.gjs-pn-active{
    background-color: #c2d5f2;
    color:#005ecb;
}

.gjs-pn-btn:hover{
    background-color: #c2d5f2;
    color:#005ecb
}

.submit_button {

    color: white;

}
