.icon1{
    background-color:black;
    width: 10px;
    height: 10px;
    display:inline-block;
    margin:0 4px;
    mask-repeat: no-repeat;
    mask-size: 90%;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 90%;
    -webkit-mask-position: center center;
}

.icon-delete{
    mask-image:url(../delete.svg);
    -webkit-mask-image:url(../delete.svg);
    }

.icon-go{
    width: 20px;
    height: 20px;
    display:inline-block;
    margin:0 4px;
    mask-repeat: no-repeat;
    mask-size: 90%;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 90%;
    -webkit-mask-position: center center;
    mask-image:url(../go.svg);
    -webkit-mask-image:url(../go.svg);
}

.icon-interface{
    width: 20px;
    height: 20px;
    margin:0 4px;
    mask-position: center center;
    mask-image:url(../interface.svg);
    -webkit-mask-image:url(../interface.svg);
}

.icon-desktop{
    mask-image:url(../desktop.svg);

    -webkit-mask-image:url(../desktop.svg);
}
.icon-down{
    mask-image:url(../down.svg);

    -webkit-mask-image:url(../down.svg);
}
.icon-edit{
    mask-image:url(../edit.svg);

    -webkit-mask-image:url(../edit.svg);}
.icon-eye{
    mask-image:url(../eye.svg);

    -webkit-mask-image:url(../eye.svg);
}
.icon-full-screen{
    mask-image:url(../full-screen.svg);

    -webkit-mask-image:url(../full-screen.svg);
}
.icon-layer{
    mask-image:url(../layer.svg);

    -webkit-mask-image:url(../layer.svg);
}
.icon-menu{
    mask-image:url(../menu.svg);

    -webkit-mask-image:url(../menu.svg);
}
.icon-mobile{
    mask-image:url(../mobile.svg);

    -webkit-mask-image:url(../mobile.svg);
}
.icon-redo{
    mask-image:url(../redo.svg);

    -webkit-mask-image:url(../redo.svg);
}
.icon-right{
    mask-image:url(../right.svg);

    -webkit-mask-image:url(../right.svg);
}
.icon-desktop{
    mask-image:url(../save.svg);

    -webkit-mask-image:url(../save.svg);
}
.icon-search{
    mask-image:url(../search-ff.svg);

    -webkit-mask-image:url(../search-ff.svg);
}
.icon-desktop{
    mask-image:url(../settings.svg);

    -webkit-mask-image:url(../settings.svg);
}
.icon-desktop{
    mask-image:url(../tablet.svg);

    -webkit-mask-image:url(../tablet.svg);
}
.icon-desktop{
    mask-image:url(../undo.svg);

    -webkit-mask-image:url(../undo.svg);
}

.icon-go{
    mask-image: url(../go.svg);

    -webkit-mask-image: url(../go.svg);
}

.icon-interface{
    mask-image: url(../interface.svg);

    -webkit-mask-image: url(../interface.svg);
}

    
