#gjs{
    height: 100vh !important;
}

body {
    overflow-x: hidden;
}
.s_trash {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.search-grape{
    position: relative;
}
.gjs-trt-trait{
    display: none;
}

.WhiteClass{
    color: #005cbf;
}
.gjs-pn-options{
    height: 10px;
}
/*Blocks,Widgets*/
/*
.template-switch{
    margin-right: 0px;
}
.gjs-pn-btn.gjs-pn-active{
    background-color: #1b78dc;
    color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 0px;
}
.content-switch{
    border: 1px solid blue;
}*/

/*Blocks,Widgets END*/
.fa, .fas{
    font-weight: 500;
}

.gjs-field{
    background-color: #ffffff;
}

.gjs-sm-sector .gjs-sm-field input {
    color: #000000 !important;
}

#gjs-sm-input-holder select {
    color: #000000 !important;
    display: block !important;
}

.WhiteClass:hover{
    color: #005cbf;
}

.gjs-one-bg {
    background-color: #fff;
}

.gjs-one-color {
    color: #eee;
}

.gjs-one-color-h:hover {
    color: #000;
}

.gjs-two-bg {
    background-color: #eee
}

.gjs-two-color {
    color: #000;
}

.gjs-two-color-h:hover {
    color: #000000;
}

.gjs-field-integer {
    color: #000000;
}

.gjs-three-bg {
    background-color: #c5c5f4;
}

.gjs-sm-field {
    background-color: #f0f0fa !important;
}

.gjs-title {
    background-color: #f0f0fa !important;
    color: #003b7f !important;
}

.gjs-sm-title {
    background-color: #f0f0fa !important;
    color: #003b7f !important;
}

.gjs-three-color-h:hover {
    color: #c5c5f4;
}

.gjs-four-bg {
    background-color: #000000
}

.gjs-four-color {
    color: #005cbf;
}

.gjs-four-color-h:hover {
    color: #000000;
}

.tabItem {
    font-size: 16px;
}

.tabItem .fa-palette {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
}

.tabItem .fa-layer-group {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
}

.hide {
    transition: all 0.1s;
    position: absolute;
    right: -1000px;
}

.gjs-pn-commands {
    display: none !important;
}

.gjs-pn-options {
    display: none;
}


.gjs-pn-views {
    width: 5% !important;
    height: 100vh;
    border-left: 1px solid #eee;
    display: none;
}

.gjs-pn-views .gjs-pn-buttons {
    flex-direction: column;
}

.gjs-pn-views-container {
    right: -200px;
    display: none;
}

.gjs-cv-canvas {
    width: 100%;
}

.logo {
    position: absolute;
    left: 45%;
}

.gjs-pn-views .gjs-pn-buttons .gjs-pn-btn {
    display: none;
}


.panelButtons {
    position: relative;
    width: 100%;
    height: 100vh;
}

.firstBtn {
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 40px;
}

.panelIcons {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.secondBtn {
    position: absolute;
    top: 70px;
    left: 0;
    width: 40px;
    height: 40px;
}

.ComponentBtn {
    position: absolute;
    top: 130px;
    left: 0;
    width: 40px;
    height: 40px;
}

.UrlBtn {
    position: absolute;
    top: 190px;
    left: 0;
    width: 40px;
    height: 40px;
}

.themeBtn {
    position: absolute;
    top: 250px;
    left: 0;
    width: 40px;
    height: 40px;
}

.buttonTitles {
    cursor: pointer;
}





