#gjs{
    height: 100vh !important;
}

body {
    overflow-x: hidden;
}

.component-options, .delete-option, .copy-option, .adding-option{
    transform: scale(0);
}

.s_trash {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.search-grape{
    position: relative;
}
.gjs-trt-trait{
    display: none;
}

.WhiteClass{
    color: #005cbf;
}
.gjs-pn-options{
    height: 10px;
}

.fa, .fas{
    font-weight: 500;
}

.gjs-field{
    background-color: #ffffff;
}

.gjs-sm-sector .gjs-sm-field input {
    color: #000000 !important;
}

#gjs-sm-input-holder select {
    color: #000000 !important;
    display: block !important;
}

.WhiteClass:hover{
    color: #005cbf;
}

.gjs-one-bg {
    background-color: #fff;
}

.gjs-one-color {
    color: #eee;
}

.gjs-one-color-h:hover {
    color: #000;
}

.gjs-two-bg {
    background-color: #eee
}

.gjs-two-color {
    color: #003b7f;
}

.gjs-two-color-h:hover {
    color: #003b7f;
}

.gjs-field-integer {
    color: #003b7f;
}

.gjs-three-bg {
    background-color: #c5c5f4;
}

.gjs-sm-field {
    background-color: #f0f0fa !important;
}


.gjs-three-color-h:hover {
    color: #c5c5f4;
}



.gjs-four-color {
    color: #005cbf;
}

.tabItem {
    font-size: 16px;
}

.tabItem .fa-palette {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
}

.tabItem .fa-layer-group {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
}

.hide {
    transition: all 0.1s;
    position: absolute;
    right: -1000px;
}


.gjs-cv-canvas {
    width: 85%;
}

.logo {
    position: absolute;
    left: 45%;
}











