.tab-item2 div{
    display: inline-block!important;
}

.tab-img{
    width: 35%;
}
.item-heading{
    width: 40%;
}
.item-content{
    width: 25%;
}

.zclass  .tab-item2 div{
    display: block!important;
}
.zclass .tab-img, .zclass .tab-heading,.zclass .tab-content{
    width: 100%!important;
}
