body {
    line-height: 1.5rem;
    border-style: none;
}

.fa-pencil-alt {
    padding: 5px;
}
.fa-plus-square {
    padding: 5px;
}
.fa-trash-alt {
    color: red;
}

.logo-main {
    float: left;
}

.navbar-search {
    
}
