body {
    overflow-x: hidden;
}

@media screen and (max-width: 800px) {
    .width-deystviya {
        width: auto !important;
    }

    .w111 {
        width: 100% !important;
    }

    td {
        width: 100% !important;
    }
}

@media screen and (min-width: 800px) {
    .width-deystviya {
        width: 5% !important;
    }
}




