
.table-bordered td, .table-bordered th{
    //border: 0!important;
    border-top: none!important;
    border-bottom: none!important;
}

.kv-panel-before{
    border-bottom: none!important;
}
.card-body{
    padding: 0!important;
}

.table td, .table th{
    border-top: none;
    vertical-align: bottom;
}
.table thead th{
    border-bottom: none;
}



