.zlogo, .mm-panels, .mm-panel, .mm-navbar, .mm-menu {
    background: #000000;
    /*left: 23px;*/
}

.ul.auth-clients li {
    margin-right: 5px;
}

.fa-home {
    margin-right: 10px;
}

.mm-divider {
    background: #000000;
    color: #847b7b;
}

.zlogo img {
    border-radius: 50%;
    margin: 5px;
    border: 2px solid white;
    box-shadow: 0 0 23px gray;
}

.mm-listitem {
    background: #000000;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mm-listitem {
    color: #fff;
}

.mm-listitem a:hover {
    color: #FFFFFF;
}

.mm-counter {
    color: #fff;
}

.mm-counter:hover {
    color: #FFFFFF;
}

.mm-btn:hover, .mm-btn_next:hover:hover, .mm-listitem__btn:hover .mm-counter, .mm-btn_next:after {
    color: #FFFFFF;
}

/*
  By Levon Tarayan
*/
.mm-btn_close::before {
    border-right: none;
    border-bottom: none;
    right: 10px;
}

.mm-btn_close::after, .mm-btn_close::before {
    content: '';
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    width: 10px;
    height: 10px;
}

.fa-home {
    margin-right: 15px;
}
.mm-listitem__text:hover {
    background-color: rgba(255, 255, 255, .4) !important;
}
.mm-listitem__btn:hover {
    background-color: rgba(255, 255, 255, .4) !important;
}
