.zlogo, .mm-panels, .mm-panel, .mm-navbar, .mm-menu {
    background: #fff;
    color: #333;
    /*left: 23px;*/
}

.ul.auth-clients li {
    margin-right: 5px;
}

.mm-divider {
    background: #fff;
    color: #333;
}

.mm-searchfield__input input {
    colo: #363434;
    background-color: #fff;
}

.mm-listitem {
    background: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mm-listitem {
    color: #333;
}

.mm-listitem:hover {
    background-color: #E3F2FD;
}

.mm-listitem a:hover {
    color: #37f;

}

.mm-listitem__btn:not(.mm-listitem__text) {
    border-left-width: 0px !important;
    border-left-style: solid;
}

.mm-counter {
    color: #333;
}

.mm-counter:hover {
    color: #37f;
}

/*
By Levon Tarayan
*/
.mm-btn_close::before {
    border-right: none;
    border-bottom: none;
    right: 10px;
}

.mm-btn_close::after, .mm-btn_close::before {
    content: '';
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    width: 10px;
    height: 10px;
}


/*Umid*/
.mm-navbars_top {
    margin-top: -30px !important;
}

.mm-navbar__searchfield .mm-searchfield__input > input {
    background-color: #E3F2FD;
    padding: 30px 20px;
}

.mm-btn:after, .mm-btn:before {
    margin-right: 10px !important;
    border-color: #37f;
}

.mm-listitem:after {
    border-bottom-width: 0 !important;
    color: #37f;
    background-color: #37f;
}

.mm-navbar__title {
    background-color: #37f;
    color: #fff !important;

}

.fa-home {
    margin-right: 15px;
}




.mm-btn mm-btn_prev mm-navbar__btn {
    color: #000 !important;
}


#mm-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.2);
    background-color: #fff;
}

#mm-1::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

#mm-1::-webkit-scrollbar-thumb {
    background-color: #37f;
}

.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
    /*padding: 20px!important;*/
    margin-right: -12px;
}

/* start|SherzodMangliyev|10/17/2020*/
.mm-btn_prev:before {
    border-color: #37f;
}
/* end|SherzodMangliyev|10/17/2020*/
