
.ymaps-2-1-76-controls__control_toolbar,
.ymaps-2-1-76-control-popup__content {
    display:none !important;
}

.btn-plane {
    display:flex;
    width: 50px;
    height: 50px;
    background-color:red;
}
.ymaps-2-1-76-control-popup {
    margin-top: 300px;
}

#map {
    width: 100%;
    height: 93vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #03a9f4;
}
.sidebar {
    height: 93vh !important;
    width: 390px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -400px;
    background-color: white;
    overflow-x: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#direction_a,
#direction_b{
    width: 330px;
    height: 40px;
}

.open-sidebar {
    cursor: pointer;
    background-color: darkslategrey;
    border-radius: 5px;
    border: none;
    width: 30px;
    height: 35px;
    color: #fafafa;
    position: absolute;
    z-index: 999;
    top: 15px;
    left: 400px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.yande-sidebar-back {
    margin-top: 100px;
}

.search-map {
    position: absolute;
    width: 380px;
    top: 5px;
    left: 5px;
    z-index: 999;
}
.map-search-input {
    padding-left: 45px;
    padding-right: 50px;
    border: none;
    height: 50px;
    border-radius: 2.5px;
}
.map-search-input::placeholder {
    font-size: 20px;
    font-weight: 100;
}
.map-search-input:focus {
    outline: none !important;
}
.seach-icon {
    display: flex;
    position: absolute;
    top: 18px;
    right: 20px;
    color: grey;
}
.fa-map-marker {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}
.fa-dot-circle {
    color: red;
}
.circle-sub,
.circle-c {
    color: black;
}
.button-share,
.fa-times {
    position: absolute;
    top: 18px;
    right: 15px;
    color: grey;
}
.btn-icon {
    margin: auto;
}
.map-search-in {
    width: 95%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
}

.form-control {
    background-color: #fafafa;
}
.map-search-from {
    line-height: 10px;
}
.fa-exchange-alt {
    transform: rotate(90deg);
}
.circle-anim {
    animation:  animate 0.8s alternate infinite ;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}
