.header-top .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 0;
    font-size: 20px;
    color: white;
}
.header-top{
    background: #53b929;
}
.header-bottom .img-logo img{
    width: 100%;
    height: auto;
}
.header-bottom{
    border-bottom: 2px solid #ababab;

}
.header-bottom .row .col-auto nav .nav-link{
    font-size: 18px;
    font-weight: 500;
    
} 
.header-bottom .navbar-light .navbar-toggler{
    text-align: end;
}

/* ===== header_end ===== */


