#content{
    transition: all .3s;
}

#content.ic-transitioning{
    opacity: 0;
}

.ovr-button{
    overflow : visible!important;
}

.counter{
    margin-left: -21px !important;
}
.eyeNoHover:hover{
    background: #fff!important;
}

.full-width{
    width: 100% !important;
}

.btn-round{
    padding-top: 0.6rem!important;
    border-radius: 30%!important;
}
.btn-left-round{
    border-top-left-radius: 50%!important;
    border-bottom-left-radius: 50%!important;
}
