.kt-sticky-toolbar {
  width: 46px;
  position: fixed;
  top: 30%;
  right: 0;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  z-index: 50;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 3px 0 0 3px;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item>a {
  background: #f4f4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item>a>i {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 1.3rem;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item>a:hover {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item>a:hover>i {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--brand>a>i {
  color: #f06139;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--brand:hover>a {
  background: #f06139;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--brand:hover>a>i {
  color: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--light>a>i {
  color: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--light:hover>a {
  background: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--light:hover>a>i {
  color: #282a3c;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--dark>a>i {
  color: #282a3c;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--dark:hover>a {
  background: #282a3c;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--dark:hover>a>i {
  color: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--primary>a>i {
  color: #f06139;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--primary:hover>a {
  background: #f06139;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--primary:hover>a>i {
  color: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--success>a>i {
  color: #0abb87;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--success:hover>a {
  background: #0abb87;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--success:hover>a>i {
  color: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--info>a>i {
  color: #5578eb;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--info:hover>a {
  background: #5578eb;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--info:hover>a>i {
  color: #ffffff;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--warning>a>i {
  color: #ffb822;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--warning:hover>a {
  background: #ffb822;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--warning:hover>a>i {
  color: #111111;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--danger>a>i {
  color: #fd397a;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--danger:hover>a {
  background: #fd397a;
}

.kt-sticky-toolbar .kt-sticky-toolbar__item.kt-sticky-toolbar__item--danger:hover>a>i {
  color: #ffffff;
}

.tooltip .tooltip-inner {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.arrow::before {
  border-left-color: #fff !important;
}

.tooltip-inner {
  max-width: 200px !important;
  padding: 0.75rem 1rem !important;
  color: #595d6e !important;
  text-align: center !important;
  background-color: #ffffff !important;
  border-radius: 3px !important;
}