.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: forestgreen;
}

.google-map-page {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
}

.sidebar {
    height: 95%;
    width: 420px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -480px;
    background-color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    overflow-x: hidden;
}
#direction_a,
#direction_b{
    width: 280px;
    height: 40px;
}


.openbtn {
    cursor: pointer;
    background-color:green;
    border: none;
    width: 30px;
    height: 60px;
    transition: margin-left .3s;
    color: white;
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 0;
}
.map-sidebar-back {
    display: none;
}
.search-map {
    position: relative;
    margin: 25px 5px;
}
.map-search-input {
    height: 50px;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
}
.seach-icon {
    display: flex;
    position: absolute;
    top: 18px;
    right: 40px;
    color: #0c850c;
}
.line {
    width: 30px;
    height: 1px;
    background-color: #0c850c;
    transform: rotate(90deg);
    margin-left: 10px;
    margin-top: 5px;
}
.button-share {
    position: absolute;
    top: 18px;
    right: 20px;
    color: #0c850c;
}
.move-closer,
.specify-address,
.again-item{
    margin-left: 5px;
}
.specify-address-box {
    height: 80px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}
.specify-address-box:hover {
    background-color: #4fe084;
    color: white;
}
.back-icon {
    width: 50px;
    height: 50px;
    background-color: #4fe084;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.details {
    background-color: transparent;
    border: none;
    color: green;
    font-size: 20px;
    width: 50%;
}
.btn-car-active {
    border: none;
    width: 60px;
    height: 60px;
    background-color: #0c850c;
}
.fa-align-justify,
.fa-times,
.fa-circle,
.fa-sync,
.fa-map-marker-alt{
    color: white;
}
.fa,
.fas,
.far,
.next-page {
    cursor: pointer
}
.adp {
    margin: 25px;
}
.location-circle {
    display: block;
    width: 8px;
    height: 8px;
    background-color:#fff8;
    border-radius: 50% ;
    margin: 6px 0;
}
.text-icon {
    line-height: 22px;
    margin-left: 15px;
}

.text-icon-sup {
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    padding-top: -10px;
}
.btn-sync {
    transform: rotateX(180deg);
}
.map-address-hidden-car,
.map-address-hidden-bus,
.map-address-hidden-walking,
.map-address-hidden-biking,
.map-address-hidden-plane{
    display: none;
    position: relative;
    margin-left: 10px;
}
.map-address p {
    font-size: 20px;
    padding-left: 25px;
}
.fa-times-circle {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.section-hidden-home,
.section-hidden-work {
    display: none;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    width: 94%;
    height: 200px;
    background-color:#fff;
    padding-top: 15px;
}
.section-btn {
    background: transparent;
    border: none;
}
.add-inputs {
    display:flex;
    justify-content:center;
    flex-direction: column;

}
#add-input,
#remove-inputs {
    cursor: pointer;
    color: white;
}
#remove-inputs {
    display: none;
}

.add-input {
    display:flex;
    align-items: center;
    margin-top: 2.5px;
    margin-left: 30px;
}
.map-search-from {
    line-height: 5px;
}
.added-input {
    width: 77.7%;
    margin-left: 24px;
}

.addStyle {
    background-color: #0c850c;
    color: white;
}
.map-button{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
