#map{height: content-box ;width:content-box}
#search_area{position: relative ;  top: 70px;left: 20%; z-index: 5;}
/*.place_image{width:200px; height: 200px;  position: relative; bottom: 550px; left: 85%;}*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) and (max-width: 600px){
    .place_image{width:100px!important; height: 100px!important; z-index:1;  position: absolute !important; top: 15% !important; left:6% !important;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width: 768px) {
    .place_image{width:200px; height: 200px; position: absolute !important; top: 15% !important; z-index:1; left: 6% !important;}



    
 }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)and (max-width: 992px) {
    #search_area{position: relative ;  top: 70px;left: 20%; z-index: 5; width: 40px}
    .place_image{width:200px; height: 200px;  position: absolute !important; top: 15% !important; z-index:1; left: 3% !important;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)and (max-width: 1200px)  {
    .place_image{width:200px; height: 200px;  position: absolute !important; top: 15% !important; z-index:1; left: 2% !important;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .place_image{width:200px; height: 200px;  position: absolute !important; top: 15% !important; z-index:1; left: 2% !important;}
}
