/*do not clear*/


[id^="direction_"] {
    width: 280px;
    height: 40px;
}
.sidebar::-webkit-scrollbar {
    width: 15px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #1dbc4a;
}
.sidebar {
    height: 90vh !important;
    width: 450px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -460px;
    background-color: white;
    overflow-x: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.openbtn {
    cursor: pointer;
    background-color:#1dbc4a;
    width: 25px;
    height: 35px;
    transition: margin-left .3s;
    color: white;
    position: absolute;
    z-index: 5;
    top: 110px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-sidebar-back {
    background: white;
    max-height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
.locationt{
    color: white !important;
}

.map-saibar {
    padding: 30px 10px;
    background-color: #1dbc4a;
}
.adp {
    margin: 25px;
}
.map-search-in {
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.map-search-location {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.location-circle {
    display: block;
    width: 8px;
    height: 8px;
    background-color:#fff8;
    border-radius: 50% ;
    margin: 5px 0;
}
.adp-directions,
.adp-placemark,
.adp-summary,
.adp-agencies,
.adp-warnbox{
    width: 95%;
    margin-left: 25px !important;
}
.fa-map-marker-alt,
.fa-circle {
    color: white!important;

}
#coreinput-string_9_div {
    display: none!important;
}
