.z-border{
    border:1px solid black!important;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 27px!important;
    border-radius: 12px!important;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.addedBtn {
    color: gray;
}

.open-menu {
    transform: rotate(180deg);
    transition: 0.4s all ease-in;
}

.open-canvas {
    left: 0;
    width: 100%;
    transition: 0.3s all ease-in;
}

.range-value{
    border: 1px solid #e0e0e0;
    padding: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius:50%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
    border-radius: 50%;
    background: #d983a6;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
#search_grape{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
#gjs{
    height: 120vh !important;
    padding-bottom: 4.3%;
}

.fa-custom-spinner {

}

.fa-custom-spinner {

}


.gjs-one-bg{
    background-color:white;
}
.gjs-block{
    border:none;
    box-shadow:none;
}
.gjs-two-color{
    color:gray;
}
.gjs-pn-devices-c{
    position: absolute !important;
    right: 0 !important;
    top: 2%;
}
.gjs-pn-commands,.gjs-pn-options,.gjs-pn-views,.gjs-pn-devices-c{
    border-bottom: 0 solid transparent!important;
}
.gjs-pn-options,.gjs-pn-devices-c{
    padding-top: 0!important;
}
.gjs-pn-views-container{
    left:0;
    overflow: auto;
    top:6.2%;
}
.gjs-pn-views .gjs-pn-buttons{
    display: flex;
    justify-content: left!important;
    padding-left: 6px;
}
.gjs-pn-views .gjs-pn-buttons span{
    margin:0 7px;
}
.gjs-pn-buttons{
    width: 100%;
}
.gjs-pn-views{
    width: 150px;
    left:0;
    top:1.9%;
    /*border-bottom:0.5px solid #e0e0e0;*/
}
.gjs-pn-commands{
    right:0!important;
    left:18%;
    box-shadow: none;
    /*border-bottom:0.5px solid rgba(0,0,0,0.4);*/
}

.gjs-clm-tags .gjs-sm-stack #gjs-sm-add, .gjs-color-main, .gjs-off-prv, .gjs-sm-sector .gjs-sm-stack #gjs-sm-add{
    color:#d983a6;
    fill: #d983a6;
    font-size: 1.2rem;
}
.gjs-bg-main, .gjs-clm-tags .gjs-sm-colorp-c, .gjs-off-prv, .gjs-sm-sector .gjs-sm-colorp-c{
    background-color: rgba(234,234,234,0.8);
}
.gjs-cv-canvas{
    width:80.6%;
    height: 100%;
    top: 7.3%;
    right: 0;
    left: 19.5%;
    overflow:hidden;
}
.gjs-pn-panels .gjs-pn-panel:first-child{
    padding-bottom:17px;
}
.gjs-pn-options{
    right:30%;
}
.gjs-pn-options .gjs-pn-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
}
.gjs-pn-options .gjs-pn-buttons .fa-square-o{
    grid-column: 1!important;
    margin: 0 30px;
}
.gjs-pn-options .gjs-pn-buttons .fa-undo{
    grid-column:2!important;
    grid-row: 1!important;
}
.loading-js{
    background-image: url("/render/former/ZGrapesJsWidget/demo/Grapes/css/img/loader.svg");
    height: 20px;
    width: 20px;
    background-color: transparent;

}

.custom-image {
    width:10px;
    height:10px;
    background-color: transparent;
   /*background-color: inherit;*/
}

.save-btn{
    z-index: -1;
}

.gjs-pn-options .gjs-pn-buttons .fa-repeat{
    grid-column:3!important;
    grid-row: 1!important;
}
.gjs-pn-options .gjs-pn-buttons .fa-eye{
    grid-column:4!important;
    grid-row: 1!important;
    margin-left: 30px;
}
.gjs-pn-options .gjs-pn-buttons .fa-arrows-alt{
    grid-column:5!important;
    grid-row: 1!important;
}
.gjs-pn-options .gjs-pn-buttons .fa-code{
    grid-column:6!important;
    grid-row: 1!important;
    margin-right: 30px;
}
.gjs-pn-options .gjs-pn-buttons .fa-trash{
    grid-column:7!important;
    grid-row: 1!important;
}
.gjs-pn-options .fa-save{
    font-size: 1.3rem;
}
.gjs-pn-btn.gjs-pn-active{
    background-color: #f8f8f8!important;
    color:#d983a6!important;
}
.gjs-pn-panel:nth-child(3){
    width: 240px!important;
}
.gjs-pn-panel:nth-child(5){
    padding-top:0;
    margin-top: 9.3px;
    width: 19%;
}
.gjs-clm-tags-btn svg{
    max-width:30px!important;
}
.submit_button {
    position: absolute;
    z-index: 9999;
    width: 60px;
    height: 60px;
    /*transform: translate(-76%, 50%);*/
    /*top: 50%;*/
    bottom: 0;
    background: #28a745;
    border: 1px;
    padding: 3px 3px;
    /*border-radius: 0 5px 5px 0;*/
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    /*transition: 0.5s;*/
}
.gjs-layer-name{
    padding: 16px 0 !important;
}
.gjs-layer-title{
    padding-left: 70px !important;
}
.gjs-pn-options{
    display: flex;
    top: 2%;
}
.content-footer{
    padding-top: 0!important;
}
.gjs-block-category:first-child,.gjs-block-category:nth-child(2),.gjs-block-category:nth-child(3),.gjs-block-category:nth-child(4){
    display: none;
}
.gjs-trt-traits{
    display:none;
}