.reg-back-gradient{
    background: linear-gradient(to right bottom, #FFFDFD, #E7E7E7);
}

.register-form-head{
    min-height: 350px;
    background-color: #333333;
}

.register-card{
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.register-form-back-img{
    background-color: #303030;
    top: 80%;
    clip-path: polygon(0 36%, 25% 16%, 49% 32%, 76% 0, 100% 29%, 100% 83%, 50% 100%, 0 83%);
    width: 100%;
    height: 100px;
    
}


.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
    border-bottom: 2px solid rgba(153, 153, 153, 0.75);
}

.form-icon{
    color: rgba(136, 136, 136, 0.75);
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
    border: 0!important;
    box-shadow: none !important;

}
.contact-form .input-text:focus + .label,
.contact-form .input-text:valid + .label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: rgba(136, 136, 136, 0.75);
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    background-color: #444444;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
    border: 5px solid rgba(0, 0, 0, 0.28) !important;
    outline: none;
}


.cbx {
    -webkit-perspective: 20;
    perspective: 20;
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}
.cbx:hover {
    border-color: #444444;
}
.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
}
#cbx {
    display: none;
}
#cbx:checked + .cbx {
    border-color: #444444;
}
#cbx:checked + .cbx .flip {
    transform: rotateY(180deg);
}
.unchecked,
.checked {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.unchecked {
    background: #fff;
    z-index: 1;
}
.checked {
    transform: rotateY(180deg);
    background: #444444;
    text-align: center;
    color: #fff;
    line-height: 10px;
    box-shadow: 0 0 0 1px #444444;
}
.checked svg {
    margin-top: 3px;
    fill: none;
}
.checked svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.terms{
    color: rgba(85, 85, 85, 0.85);
}
