
body {
    overflow-x: hidden;
}

.classic-tabs .nav {
    border-radius: 0;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    /*position: fixed;*/
    width: 100%;
}

.md-form {
    /*margin: 0 0 20px;*/
    padding: 0;
}

.bottomBtn {
    height: 0;
}

.columns-row {
    display: flex;
    justify-content: space-between;
}

.columns-model {
    width: 29%;
}

.columns-row .card {
    width: 69%;
    margin-bottom: 0 !important;
}

.disabled-tab {
    pointer-events: none;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33%;
}

.tab-content {
    padding: 10px;
}

#content-options {
    padding-top: 30px;
}

#VisualDyna, #DynaForm {
    visibility: hidden;
}

.classic-tabs .nav li a.active {
    text-align: center;
    border-bottom: 3px solid #fff;
    width: 70%;
}

.classic-tabs .nav li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255,255,255,.7);
    text-align: center;
    border-radius: 0;
}


