html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
.rad0-header{
	background: #3EA7E1FF;
}
.rad0-header .mburger{
	color: white;
}
.text-byrad0{
	color: #3EA7E1FF
}