*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Yandex Sans Text';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}



@font-face{
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Thin.eot');
    src: local('Yandex Sans Text Thin'), local('YandexSansText-Thin'),
        url('YandexSansText-Thin.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-Thin.woff2') format('woff2'),
        url('YandexSansText-Thin.woff') format('woff'),
        url('YandexSansText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Yandex Sans Display';
    src: url('YandexSansDisplay-Regular.eot');
    src: local('Yandex Sans Display Regular'), local('YandexSansDisplay-Regular'),
        url('YandexSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('YandexSansDisplay-Regular.woff2') format('woff2'),
        url('YandexSansDisplay-Regular.woff') format('woff'),
        url('YandexSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-RegularItalic.eot');
    src: local('Yandex Sans Text Regular Italic'), local('YandexSansText-RegularItalic'),
        url('YandexSansText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-RegularItalic.woff2') format('woff2'),
        url('YandexSansText-RegularItalic.woff') format('woff'),
        url('YandexSansText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Yandex Sans Display';
    src: url('YandexSansDisplay-RegularItalic.eot');
    src: local('Yandex Sans Display Regular Italic'), local('YandexSansDisplay-RegularItalic'),
        url('YandexSansDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('YandexSansDisplay-RegularItalic.woff2') format('woff2'),
        url('YandexSansDisplay-RegularItalic.woff') format('woff'),
        url('YandexSansDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Yandex Sans Display';
    src: url('YandexSansDisplay-Light.eot');
    src: local('Yandex Sans Display Light'), local('YandexSansDisplay-Light'),
        url('YandexSansDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('YandexSansDisplay-Light.woff2') format('woff2'),
        url('YandexSansDisplay-Light.woff') format('woff'),
        url('YandexSansDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Regular.eot');
    src: local('Yandex Sans Text Regular'), local('YandexSansText-Regular'),
        url('YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-Regular.woff2') format('woff2'),
        url('YandexSansText-Regular.woff') format('woff'),
        url('YandexSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Light.eot');
    src: local('Yandex Sans Text Light'), local('YandexSansText-Light'),
        url('YandexSansText-Light.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-Light.woff2') format('woff2'),
        url('YandexSansText-Light.woff') format('woff'),
        url('YandexSansText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Display';
    src: url('YandexSansDisplay-Bold.eot');
    src: local('Yandex Sans Display Bold'), local('YandexSansDisplay-Bold'),
        url('YandexSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('YandexSansDisplay-Bold.woff2') format('woff2'),
        url('YandexSansDisplay-Bold.woff') format('woff'),
        url('YandexSansDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Display';
    src: url('YandexSansDisplay-Thin.eot');
    src: local('Yandex Sans Display Thin'), local('YandexSansDisplay-Thin'),
        url('YandexSansDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('YandexSansDisplay-Thin.woff2') format('woff2'),
        url('YandexSansDisplay-Thin.woff') format('woff'),
        url('YandexSansDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Bold.eot');
    src: local('Yandex Sans Text Bold'), local('YandexSansText-Bold'),
        url('YandexSansText-Bold.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-Bold.woff2') format('woff2'),
        url('YandexSansText-Bold.woff') format('woff'),
        url('YandexSansText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YandexSansText-Medium.eot');
    src: local('Yandex Sans Text Medium'), local('YandexSansText-Medium'),
        url('YandexSansText-Medium.eot?#iefix') format('embedded-opentype'),
        url('YandexSansText-Medium.woff2') format('woff2'),
        url('YandexSansText-Medium.woff') format('woff'),
        url('YandexSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/*.s10:before {
    content: '10px';
}
.s11:before {
    content: '11px';
}
.s12:before {
    content: '12px';
}
.s14:before {
    content: '14px';
}
.s18:before {
    content: '18px';
}
.s24:before {
    content: '24px';
}
.s30:before {
    content: '30px';
}
.s36:before {
    content: '36px';
}
.s48:before {
    content: '48px';
}
.s60:before {
    content: '60px';
}
.s72:before {
    content: '72px';
}
.s10:before, .s11:before, .s12:before, .s14:before,
.s18:before, .s24:before, .s30:before, .s36:before,
.s48:before, .s60:before, .s72:before {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    color: #999;
    padding-right: 6px;
}
pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
}
 */
