
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@font-face {
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/gothamrnd-medium.ttf");
    font-family: "Gotham Rounded";
}

small {
    display: block;
    margin: 10px 0;
}

div::before, div::after {
    clear: both;
    display: table;
    content: "";
}

/* DEMO */
.wrapper {
    width: 600px;
}



#contain {
    width: 100%;
    height: 60vh;
    padding: 5px;
    overflow-y: auto;
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
    justify-content: stretch;
    align-content: flex-start;
    
}
#contain.random {
    overflow-y: visible;
    height: auto;
}

#wrapper {
    position: relative;
}

.threshold {
    width: 120%;
    height: 0px;
    position: absolute;
}
.threshold::after {
    position: absolute;
    width: 100px;
    height: 0px;
    left: 100%;
    top: -6px;
    text-align: center;
    font-size: 10px;
    content: "autoscroll trigger";
}
.threshold:first-child {
    top: 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}
.threshold:last-child {
    bottom: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
}

.box {
    width: initial;
    height: initial;
    color: #aaa;
    border-radius: 2px;
    margin: 0 5px 5px 0;
    position: relative;
    background-color: #eee;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: all 100ms;
    transition: all 100ms;
}
/*.box::after {
    content: "non-selectable";
}*/

.box.ui-selectable, .box.selectable {
    color: #fff;
    background-color: #aaa;
}
.box::after {
    font-size: 12px;
    font-family: "Roboto Mono";
}
.box.ui-selecting {
    background-color: #9c27b0;
}
/*.box.ui-selected {
    background-color: #673ab7;
}*/
.box.ui-deselecting {
    background-color: #e91e63;
}
.box.floated {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/*.ui-selectable::after {
    content: "selectable";
}

.ui-selecting::after {
    content: "selecting";
}

.ui-selected::after {
    content: "selected";
}

.ui-deselecting::after {
    content: "deselecting";
}*/

.ui-multiple {
    cursor: crosshair;
}

.key {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.key .box {
    padding: 0;
    font-size: 13px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

a,
a:hover,
a:focus,
a:active {
    color: #333;
    outline: medium none;
    text-decoration: none;
}

.fa {
    font-size: 21px;
    padding-right: 5px;
    vertical-align: middle;
}


.dg .c input[type="text"] {
    font: 11px "Roboto Mono", sans-serif;
}

.dg .property-name {
    overflow: visible;
}
