.file-chooser-hack {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
}
.file-chooser-hack > input.file-choose-button {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}
.file-chooser-hack:hover > button.file-choose-button.dark-gray-bg {
    background-color: rgb(85,91,93);
}