* {
    box-sizing: border-box;
}

.registration {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 100px auto 0;
    background: white;
    border-radius: 30px;
    border: 1.5px solid rgb(4, 100, 4);
    text-align: center;
    -webkit-box-shadow: 0px 4px 14px 10px rgb(11, 155, 11);
    -moz-box-shadow: 0px 4px 14px 10px rgb(11, 155, 11);
    box-shadow: 0px 4px 14px 10px rgb(11, 155, 11);
    padding: 20px 0;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: white;
    border: 1px solid rgb(12, 168, 12);
    border-radius: 20px;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration {
    top: 60px;
    right: -30px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(12, 168, 12);
}

.circle2 {
    position: absolute;
    top: 80px;
    right: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(12, 168, 12);
}

.form-inner {
    padding: 0 50px;
}

.form-inner input {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-inner input:focus {
    outline: none;
    background: none;
    border: 1px solid rgb(12, 168, 12);
}

.form-inner input:active {
    background: none;
    border: 1px solid rgb(12, 168, 12);

}

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: white;
    border: 1px solid rgb(12, 168, 12);
    color: rgb(12, 168, 12);
    font-size: 16px;
}

.form-inner input[type="submit"]:hover {
    background-color: rgb(12, 168, 12);
    color: white;
    font-size: 20px;
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(12, 168, 12);
;
}