@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@font-face {
     font-family: 'Marck Script',cursive;
     font-style: normal;
}
@font-face {
     font-family: "Cambria";
     src: url("//db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.eot"); src: url("//db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.woff") format("woff"), url("//db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/758d40d7ca52e3a9bff2655c7ab5703c.svg#Cambria") format("svg"); }

body{
     font-family: 'Cambria';
}

.zetColor{
     background-color: green!important;
     color: white!important;
}
.menu-widget{
     background-color: #ebf1f3 !important;
}
.menu-widget p{
     background-color: rgb(16, 180, 16)!important;
     color: white!important;
}

.layer-box .fa-random:hover{
     transition: 400ms;
     transform: scale(1.16);
}
.layer-box .fa-heart:hover{
     transition: 400ms;
     transform: scale(1.16);
}
.layer-box .it-comp{
     border: none;
     background: transparent;
     color: rgb(16, 180, 16)!important;
}
.layer-box .it-fav{
     border: none;
     background: transparent;
     color: rgb(16, 180, 16)!important;

}

.search-bar::-webkit-search-cancel-button{
     position: relative;
     right: 60px!important;
}

.border-left .fa-search {
     color: rgb(16, 180, 16) !important;
     margin-right: 15px;
     margin-top: -5px;
}
.mega-menu .smartphone h6:hover{
     color: rgb(16, 180, 16)!important;
     cursor: pointer;
}
.search-bar input:focus{
     border: 2px rgb(16, 180, 16) solid!important;
}
.search-bar input:after{
     display: none;
}
.list-unstyled li a:hover {
     color: rgb(16, 180, 16)!important;
     cursor: pointer;
}
.zetshop {
     font-family: 'Marck Script', cursive;
     color: #10b410;
     font-size: 40px;
     text-align: center;
     padding: 10px 20px;
}
.top-bar .top-right ul li a{
     width: 120px;
     text-align: center;
}

#searchbar::-webkit-search-cancel-button{
     color: #10b410!important;
     position:relative;
     right: 55px;
}
.footer-btm .back-to-top{
     border: 1px solid #fff!important;

}

.white-skin input[type=checkbox]:checked+label:before {
     border-right: 2px solid #10b410!important;
     border-bottom: 2px solid #10b410!important;
}

[type=reset], [type=submit], button, html [type=button]{
     font-weight: 600;
     font-size: 12px;
}
.active {
     color: #10b410!important;
}
.item-content p{
     color: #797777;
}
.src-box input:focus{
     border: 2px rgb(16, 180, 16) solid!important;
}
