.zetColor1{
    background: blue!important;
    color: white;
}
.zetborder1{
      border: 1px solid blue!important;
}

.zetColor2{
    background-color: limegreen!important;
    color: white;
}
.zetborder2{
    border: 1px solid limegreen!important;
}


.btn-primary{
    background-color: red!important;
}
