.md-form {
    align-items: center;
    justify-content: center;
}

.btn-default {

    /*background-color: rgba(252, 252, 255, 0) !important;*/
    background-color: rgba(250,250,260,0.009) !important;
}

.btn-group-lg > .btn, .btn-lg {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 1rem 1.2rem;
    box-shadow: 0 5px 5px 0px rgba(59, 58, 58, 0.84);

/important;
    font-size: 1.5rem;
    line-height: .8;
/important;
    border-radius: 1.8rem;
/important;
}


.btn-group-lg > .btn, .btn-secondary {
    padding: 1rem .9rem;
!important;
    line-height: .8;
    border-radius: 1.8rem;
!important;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgba(239, 6, 6, 0) !important;
    box-shadow: 0 5px 5px 0px rgba(59, 58, 58, 0.84);


}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
/important;
}
.opacity {
    border-radius: 5%;
    background-image: url('../img/0101.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.number {

    border-radius: 5%;
    /*color: #fcfcfc;*/
    color: darkmagenta;
    box-shadow: 1px 20px 20px -5px rgba(59, 58, 58, 0.84);
    /*background-color: rgba(9, 0, 0, 0.52);*/
    background-color: rgba(9,0,0,0.9);

}

.btn-success {
background-color: rgba(46, 191, 50, 0.01);!important;
    font-size: 1.5rem;
    border-radius: 1.7rem;!important;
    line-height: 0.2;
    padding: 0.5rem 1.7rem;
    box-shadow: 0 10px 10px -5px rgba(113, 109, 109, 0.56);
}
/*.tab{*/
/*    background-color: white !important;*/
/*}*/
.mobile_phone{
    background-color: white!important;
}
.tablinks{

}
.icon-iks{
    background-color: inherit;
    float: right!important;
    border: none!important;
    outline: none!important;
    cursor: pointer!important;
    padding: 14px 16px!important;
    transition: 0.3s!important;
    font-size: 17px!important;
    color: #fff!important;
}