.dashboard-card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.dashboard-card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.dashboard-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
}

.dashboard-card {
    font-size: .875rem;
}

.dashboard-card [class*="dashboard-card-header-"]:not(.dashboard-card-header-icon):not(.dashboard-card-header-text):not(.dashboard-card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.dashboard-card .dashboard-card-header-success .dashboard-card-icon, .dashboard-card .dashboard-card-header-success:not(.dashboard-card-header-icon):not(.dashboard-card-header-text), .dashboard-card .dashboard-card-header-success .dashboard-card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.dashboard-card .dashboard-card-header-success .dashboard-card-icon, .dashboard-card .dashboard-card-header-success .dashboard-card-text, .dashboard-card .dashboard-card-header-success:not(.dashboard-card-header-icon):not(.dashboard-card-header-text), .dashboard-card.bg-success, .dashboard-card.dashboard-card-rotate.bg-success .front, .dashboard-card.dashboard-card-rotate.bg-success .back {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.dashboard-card [class*="dashboard-card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}

.dashboard-card .dashboard-card-header {
    z-index: 3 !important;
}

.dashboard-card [class*="dashboard-card-header-"], .dashboard-card[class*="bg-"] {
    color: #fff;
}

.dashboard-card .dashboard-card-header {
    border-bottom: none;
    background: transparent;
}

.dashboard-card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.dashboard-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
}

.dashboard-card .dashboard-card-body {
    padding: 0.9375rem 20px;
    position: relative;
}

.dashboard-card .dashboard-card-body, .dashboard-card .dashboard-card-footer {
    padding: 0.9375rem 1.875rem;
}

.dashboard-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.dashboard-card .dashboard-card-title {
    margin-top: 0;
    margin-bottom: 3px;
}

.dashboard-card .dashboard-card-title {
    margin-top: 0.625rem;
}

.title, .title a, .dashboard-card-title, .dashboard-card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a {
    color: #3C4858;
    text-decoration: none;
}

.dashboard-card-title {
    margin-bottom: 0.75rem;
}

.dashboard-card.dashboard-card-chart .dashboard-card-category {
    margin: 0;
}


.dashboard-card .dashboard-card-category:not([class*="text-"]) {
    color: #999999;
}

.dashboard-card .dashboard-card-category {
    margin-top: 10px;
}

.dashboard-card-chart .dashboard-card-body+.dashboard-card-footer, .dashboard-card-product .dashboard-card-body+.dashboard-card-footer {
    border-top: 1px solid #eee;
}

.dashboard-card .dashboard-card-body+.dashboard-card-footer, .dashboard-card .dashboard-card-footer {
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card .dashboard-card-body+.dashboard-card-footer {
    padding-top: 0rem;
    border: 0;
    border-radius: 6px;
}

.dashboard-card .dashboard-card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.dashboard-card .dashboard-card-body, .dashboard-card .dashboard-card-footer {
    padding: 0.9375rem 1.875rem;
}

.dashboard-card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.dashboard-card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
}

.dashboard-card .dashboard-card-body+.dashboard-card-footer .dashboard-card-stats, .dashboard-card .dashboard-card-footer .dashboard-card-stats {
    color: #999999;
    font-size: 12px;
    line-height: 22px;
}

.dashboard-card .dashboard-card-footer .dashboard-card-stats {
    color: #999999;
}

.dashboard-card .dashboard-card-footer .author, .dashboard-card .dashboard-card-footer .dashboard-card-stats {
    display: inline-flex;
}

.dashboard-card .dashboard-card-header-warning .dashboard-card-icon, .dashboard-card .dashboard-card-header-warning:not(.dashboard-card-header-icon):not(.dashboard-card-header-text), .dashboard-card .dashboard-card-header-warning .dashboard-card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.dashboard-card .dashboard-card-header-warning .dashboard-card-icon, .dashboard-card .dashboard-card-header-warning .dashboard-card-text, .dashboard-card .dashboard-card-header-warning:not(.dashboard-card-header-icon):not(.dashboard-card-header-text), .dashboard-card.bg-warning, .dashboard-card.dashboard-card-rotate.bg-warning .front, .dashboard-card.dashboard-card-rotate.bg-warning .back {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.dashboard-card .dashboard-card-header-danger:not(.dashboard-card-header-icon):not(.dashboard-card-header-text), .dashboard-card .dashboard-card-header-danger .dashboard-card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.dashboard-card .dashboard-card-header-danger .dashboard-card-icon, .dashboard-card .dashboard-card-header-danger .dashboard-card-text, .dashboard-card .dashboard-card-header-danger:not(.dashboard-card-header-icon):not(.dashboard-card-header-text), .dashboard-card.bg-danger, .dashboard-card.dashboard-card-rotate.bg-danger .front, .dashboard-card.dashboard-card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #ef5350, #e53935);
}
