body {
    background: #b5d0d0;
    color: #285585;
    font-family: Arial;
}

body#home {
    background: url('https://rawcdn.githack.com/stefanocudini/leaflet-gps/f6b4c97ed229a7cd0951948b1af7b46da6780da8/images/back.png') no-repeat top left #b5d0d0;
    margin-left: 150px;
}

#map {
    border-radius: .125em;
    border: 2px solid #1978cf;
    box-shadow: 0 0 8px #999;
    width: 100%;
    height: 90vh;
}

