.number-1 .number {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #53b929;
}

.number-1 .day {
    display: flex;
    margin-left: 42px;
    margin-top: -20px;
    font-size: 25px;
    font-weight: 700;
}
.number .leaf{
    width: 17%;
}
.badge{
    width: 100%;
    height: 75%;
    font-size: 165%;
    margin-top: 10px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}
.star{
    color: yellow;
}
.star-5 .fa{
    color: #cacaca;
}
.like{
    font-size: 35px;
}
.like .fas{
    color: #aeaeae;
    width: 100%;
    text-align: center;
}
.like .fas:hover{
    color: #d37b7b;
}
.price{
    font-weight: 700;
    font-size: 50px;
}
.price .num{
    padding: 0 15px;
    background-color: #e7cd10;
    font-weight: 700;
    color: #000;
    font-size: 50px;
    border: 1px solid #e7cd10;
    border-radius: 10px;
}
.price .num-1{
    text-decoration: line-through;
}
.price span{
    font-weight: 100;
    color: #cac6c6;
    font-size: 30px;
}
.basket{
    border-radius: 5px;
    height: 45px;
    background-color: #53b929;
}

.basket .fas{
    color: #fff;
    font-size: 25px;
    margin: 10px 35px;
}

.basket .fas:hover{
    color: #000;
}
.shop{
    margin: 10px;
}
.card-body{
    padding-bottom: 0;
}
.border-add{
    border: 2px solid #999;
    border-radius: 5px;
    height: 45px;
}
.minus{
    border-right: 2px solid #999;
    width: 20%;
    background: #eee;
    height: 100%;
}
.plus{
    border-left: 2px solid #999;
    width: 20%;
    background: #eee;
    height: 100%;

}
.minus .fa {
    margin: 13px;
    color: #000;
}
.plus .fas {
    margin: 13px;
    color: #000;
}
.zero{
    width: 60%;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}
.number-1{
    display: flex;
    flex-direction: column;
}
