.mainLoginParent {
    margin: 0 auto;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
   /* -webkit-box-shadow: 0px 0px 22px 3px rgba(168,165,168,1);
    -moz-box-shadow: 0px 0px 22px 3px rgba(168,165,168,1);
    box-shadow: 0px 0px 22px 3px rgba(168,165,168,1);*/
    height: 580px;
    margin-top: 4%
}

.loginImg {
    border-right: 2px solid #eee;
    height: 580px;
    position: relative;
}

.loginImg img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 26%;
}

.loginHeader {
}

.regBtn {
    position: absolute;
    bottom: 5%;
    left: 35%;
}

.loginBtn {
    position: absolute;
    bottom: 5%;
    left: 30%;
}

.btn2 {
    box-shadow: none !important;
    border-radius: 5px;
    transition: all .3s ease-in;
}

.btn2:hover {
    transform: scale(1.05);
}
