.menu-left {
    position: fixed;
    /* top: 0; */
    right: 0;
//background: #646664;
    background: #ffffff;
//background: #10b410;
    list-style-type: none;
    border-radius: 3px;
    margin: 0px;
    padding: 0;
    padding-top:15%;
    z-index: 999;
    bottom: 50%;
    height: 100%;
    transform: translateY(50%);
//box-shadow: -24px -1px 29px -23px rgba(16,180,16,0.25)!important;
    box-shadow: -1px 1px 6px 1px rgb(206, 214, 214);
}
.menu-left li:hover{
    background-color: #10b410;
}
.menu-left li:hover span{
    color: #ffffff;
}
.menu-left li a {
    display: block;
    height: 37px;
    width: 37px;
    /*line-height: 55px;*/
    text-align: center;
    vertical-align: middle;
    padding-top: 0px!important;
    color: #ffffff;
    background: transparent;
    position: relative;
    transition: background 0.3s ease-in-out;
}
.menu-left li a span{
    position:absolute;
    margin-top: 11px;
    margin-left: -9px;
    font-size: 18px;
    font-weight: 600;
    color: #10b410;
}
.menu-left li a span:hover{
    color: #ffffff;
}
.menu-left li a:hover{
    color: #ffffff;
}



.menu-left li a:hover {
//background-color: #10b410;
}

.menu-left li.current-left a {
    background: #10b410;
    color: #fff;
}

.menu-left li a.active-left {
    background: #0651b8;
    color: #fff;
}

.menu-left li a.active-left:after {
    position: absolute;
    left: 70px;
    top: 0;
    content: "";
    border: 35px solid transparent;
    border-left-color: #0651b8;
    border-width: 35px 14px;
}

.menu-left li {
    position: relative;
}
.mtop{
    margin-top: 200px;
}
.scroll_top{
    position:fixed;
    top: 35%;
    bottom: 5%;
}
.tooltip-menu {
    position: relative;
    display: inline-block;
    
    box-sizing: border-box;
}

.tooltip-menu .tooltiptext {
    visibility: hidden;
    
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -50%;
    right: 105%;
}

.tooltip-menu .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    
    border-color: transparent transparent transparent black;
}

.tooltip-menu:hover .tooltiptext {
    visibility: visible;
}
.tooltip-menu-link-title {
    position: absolute !important;
    margin: 0 !important;
    height: inherit;
    text-align: left;
    font-family: "Open Sans", Arial, Helvetica, sans-serif, SimSun, 宋体;
}

.tooltip-menu-link {
    vertical-align: middle !important;
    width: inherit !important;
    height: inherit !important;
    text-align: left !important;
}
.tooltip-menu-link-container {
    float: left;
    width: 200px;
    list-style: none;
    margin-left: 0;}

.clone{
padding: 5px;
}
