/*.m_0{
    margin: 0 !important;
}*/
@media (max-width: 1400px){
    .main_block .block_item:first-child{
        width: 75%;
    }
    .main_block .block_item:last-child{
        width: 25%;
    }
}
@media (max-width: 1200px){
    .opacity{
        width: 100%;
    }
    .btn-group-lg > .btn, .btn-lg{
        font-size: 16px;
        margin: 0 5px 5px;
    }
    .control_btn button{
        font-size: 16px;
    }
    .control_btn button.btn-default{
        border-radius: 5px;
        padding: 0.5rem 1.0rem;
    }
}
@media (max-width: 1024px){
    .out_phone{
        display: block;
    }

    .main_block{
        position: relative;
    }
    .main_block .block_item:first-child{
        width: 100%;

    }
    .main_block .block_item:last-child{
        width: 30%;
        position: absolute;
        top: 0;
        transition: .3s all ease-in;
        right: -1000px;
    }
    .main_block .block_item.or1 .left_block{
        position: relative;
    }
    .main_block .or2.res_active{
        right: 0;

    }
    .res_btn{
        display: inline-block;
        border-radius: 50%;
        padding: 7px 14px;
        position: absolute;
        right: 50px;
        top: 50px;
        z-index: 1000;

    }

}
@media (max-width: 800px){
    .main_block .block_item:last-child{
        width: 35%;
        /*right: -32.5%;*/
    }


}
@media (max-width: 600px){
    .main_block .block_item:last-child{
        width: 50%;
    }
}
@media (max-width: 480px){
    .main_block .block_item:last-child{
        width: 100%
    }
    .video_panel{
        z-index: 3;
        right: -200%;
        top: 53%;
        /*border: 1px solid #000;*/
        width: 100%;
        background: rgba(0, 0, 0, .5);
    }
    .right_block{
        z-index: 2;
    }
    .video_panel.active_left{
        right: 0;
    }
}
@media (max-width: 400px){
    .main_block .block_item:last-child{
        width: 100%
    }
    .out_phone{
        display: block;
    }
}

/*!* Glow *!
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}*/


**************************************





