

.button1 {
    transition: .3s;
    margin-top: .5rem;
!important;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: #ffffff;
    border: 1px solid rgba(252, 255, 242, 0.25);

}

.opacity {
    border-radius: 15px;
    background-image: url('../img/0101.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    width: 100%;
    margin: 0 auto;
}

.number {

    border-radius: 15px;
    color: #fcfcfc;
    box-shadow: 1px 20px 20px -5px rgba(59, 58, 58, 0.84);
    background-color: rgba(9, 0, 0, 0.52);

}



 .icon-per{
     top:75% !important;
 }


/*.wrapper{
    !*overflow: hidden;*!
    height: 100%;
}*/

.navbar-inner-red {
    background-color: #600000;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.full-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.normal-screen {
    position: relative;
}

.call-options {
    padding: 5px;
    background-color: #f0f0f0;
    /*border: 1px solid #eee;*/
    /*border: 1px solid rgba(0, 0, 0, 0.08);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    display: flex;
    justify-content: space-around;
}
.call-options .btn{
    padding: 7px 14px;

}

.tab-video,
.div-video {
    width: 100%;
    height: 0px;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.label-align {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.input-align {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.glass-panel {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: Gray;
}

.div-keypad {
    z-index: 100;
    position: fixed;
    -moz-transition-property: left-top;
    -o-transition-property: left-top;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.previewvideo {
    position: absolute;
    width: 88px;
    height: 72px;
    margin-top: -42px;
}
.display-no{
    display: none;
}

/**********************/


/* Change background color of buttons on hover */


.video_panel{
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 2;
    /*border: 1px solid;*/

    transition: .3s all ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_panel.active_left{
    right: 100%;
}
.tab-video{
    transition: .3s all ease-in;
}
.tab-video.active_bot{
    border: 1px solid #000;
}


/*@media (max-width: 1600px){
    .main_block .block_item:first-child{
        width: 80%;
    }
    .main_block .block_item:last-child{
        width: 20%;
    }
}
@media (max-width: 1400px){
    .main_block .block_item:first-child{
        width: 75%;
    }
    .main_block .block_item:last-child{
        width: 25%;
    }
}
@media (max-width: 1200px){
    .opacity{
        width: 100%;
    }
    .btn-group-lg > .btn, .btn-lg{
        font-size: 16px;
        margin: 0 5px 5px;
    }
    .control_btn button{
        font-size: 16px;
    }
    .control_btn button.btn-default{
        border-radius: 5px;
        padding: 0.5rem 1.0rem;
    }
}
@media (max-width: 1024px){
    .out_phone{
        display: block;
    }

    .main_block{
        position: relative;
    }
    .main_block .block_item:first-child{
        width: 100%;

    }
    .main_block .block_item:last-child{
        width: 30%;
        position: absolute;
        top: 0;
        transition: .3s all ease-in;
        right: -300px;
    }
    .main_block .block_item.or1 .left_block{
        position: relative;
    }
    .main_block .or2.res_active{
        right: 0;

    }
    .res_btn{
        display: inline-block;
        border-radius: 50%;
        padding: 7px 14px;
        position: absolute;
        right: 50px;
        top: 50px;
        z-index: 1000;

    }

}
@media (max-width: 800px){
    .main_block .block_item:last-child{
        width: 35%;
        !*right: -32.5%;*!
    }


}
@media (max-width: 600px){
    .main_block .block_item:last-child{
        width: 50%;
    }
}
@media (max-width: 480px){
    .main_block .block_item:last-child{
        width: 100%
    }
    .video_panel{
        z-index: 3;
        right: -200%;
        top: 53%;
        !*border: 1px solid #000;*!
        width: 100%;
        background: rgba(0, 0, 0, .5);
    }
    .right_block{
        z-index: 2;
    }
    .video_panel.active_left{
        right: 0;
    }
}
@media (max-width: 400px){
    .main_block .block_item:last-child{
        width: 100%
    }
    .out_phone{
        display: block;
    }
}*/

/****************************************/

#sidebar {
    border-radius: 3px;
    width: 260px;
    position: absolute;
    /*top: 5%;*/
    right: 0;
    z-index: 1;
    background: rgba(95, 89, 89, 0.37);
    transition: 0.2s;
    box-shadow: 0px 8px 7px 0px rgba(14, 0, 0, 0.85);
}


#dismiss:hover {
    color: #d50d10;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.51);
    /*z-index: 998;
*/
    transition: all 0.3s ease-in-out;
   /* filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);*/
}
.btn-info {

    display: none !important;
}
.dropdown-toggle::after {
    display: block;
}






#content01 {

    padding: 0px;
    /*min-height: 100vh;*/
    transition: all 0.3s;
    position: absolute;

}
@media (min-width: 901px) {

    #dismiss {
        display: none;
    }
}

@media (min-width: 901px) {

    #dismiss {
        display: none;
    }
}

@media (max-width: 900px) {

    #dismiss:hover {
        color: #d50d10;
    }

    #dismiss {
        line-height: 1rem;
        color: rgba(130, 130, 130, 0.66);
        cursor: pointer;
    }

    #sidebar {
        display: none;
        margin: 0;
        top: 50%;
        left: 50%;
        transition: max-width.3s;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .overlay.active {
        display: block;

    }

    #sidebar.active {
        padding: 0;
        width: 260px;
        display: block;
        margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn-info {
        display: inline-block !important;
    }
}

@media (max-width: 800px) {
    #sidebar {
        width: 50%;

    }
}

@media (max-width: 700px) {
    #sidebar {
        width: 70%;

    }
}

@media (max-width: 600px) {
    #sidebar {
        width: 90%;

    }
}

@media (max-width: 535px) {
    #sidebar {
        width: 90%;

    }
}

@media (max-width: 460px) {
    #sidebar {
        width: 90%;

    }
}

@media (max-width: 400px) {
    #sidebar {
        width: 100%;

    }
}

