.tab-item {
    overflow: hidden;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}
.tab-img {
    margin-bottom: 10px;
    position: relative;
}
.img-content {
    padding: 0 15px 10px;
}
.img-content ul.fav li i {
    font-size: 13px;
    color: #fdba2d;
}
.img-content a {
    background: #eeeeee;
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-top: 8px;
}
.img-content a:hover{
    border-color: #e45151;
}
.img-content ul.price li {
    font-size: 18px;
    color: #444444;
    font-weight: 600;
    letter-spacing: 0;
}
.tab-item .tab-img {
    margin-bottom: 10px;
    position: relative;
}
.tab-item:hover .tab-img .layer-box a {
    right: 0;
    visibility: visible;
    opacity: 1;
}
.tab-item .tab-img .layer-box a {
    border: 1px solid #dddddd;
    padding: 5px 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    right: -45px;
    margin-right: 10px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}
.tab-item .tab-img .layer-box a.it-fav {
    margin-top: 15px;
    -webkit-transition-delay: 0.0s;
    -o-transition-delay: 0.0s;
    transition-delay: 0.0s;
}
.tab-item .tab-img .layer-box a.it-fav:hover {
    border-color: #e45151;
}
.tab-item .tab-img .layer-box a.it-comp {
    margin-top: 60px;
    -webkit-transition-delay: 0.0s;
    -o-transition-delay: 0.0s;
    transition-delay: 0.0s;
}
.tab-item .tab-img .layer-box a.it-comp:hover {
    border-color: #e45151;
}
.tab-item .img-content ul.price li:last-child {
    font-size: 14px;
    color: #969696;
    font-weight: normal;
    text-decoration: line-through;
}

ul.fav li {
    font-size: 13px;
    color: #fdba2d;
    margin-right: 0;
}

.product-area .bt-deal .bt-body .bt-items .bt-box .bt-content ul.price li {
    color: #444444;
    font-weight: 600;
    margin-right: 0;
    letter-spacing: 0;
}

li:last-child {
    font-size: 13px;
    color: #969696;
    margin-left: 5px;
    font-weight: normal;
    text-decoration: line-through;
}
