.md-form {
    align-items: center;
    justify-content: center;
}

.btn-default {

    background-color: rgba(252, 252, 255, 0) !important;
}

.btn-group-lg > .btn, .btn-lg {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 1rem 1.2rem;
    box-shadow: 0 5px 5px 0px rgba(59, 58, 58, 0.84);

!important;
    font-size: 1.5rem;
    line-height: .8;
!important;
    border-radius: 1.8rem;
!important;
}


.btn-group-lg > .btn, .btn-secondary {
    padding: 1rem .9rem;
!important;
    line-height: .8;
    border-radius: 1.8rem;
!important;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgba(239, 6, 6, 0) !important;
    box-shadow: 0 5px 5px 0px rgba(59, 58, 58, 0.84);


}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
!important;
}
.opacity {
    border-radius: 5%;
    background-image: url('../img/0101.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.number {

    border-radius: 5%;
    color: #fcfcfc;
    box-shadow: 1px 20px 20px -5px rgba(59, 58, 58, 0.84);
    background-color: rgba(9, 0, 0, 0.52);

}

.btn-success {
    background-color: rgba(46, 191, 50, 0.01);!important;
    font-size: 1.5rem;
    border-radius: 1.7rem;!important;
    line-height: 0.2;
    padding: 0.5rem 1.7rem;
    box-shadow: 0 10px 10px -5px rgba(113, 109, 109, 0.56);
}
.opacity{
    background-size: cover;
}
.contact-menu{
    padding: 20px 50px;
}
.contact-menu div{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.contact-menu{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin-left: auto;

}

.display_flex h4{
    color: #cecece;
    font-weight: 300;
    font-size: 20px;
    font-family: monospace;
}
.display_flex h3{
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
}

.tab{
    background-color: #13242b;
    width: 100px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #263137;

}
.tab button:focus{
    outline: none;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #263137;
    outline: none;
}


/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    position: relative;
    height: 100%;
}

.tabcontent h3, p{
    font-weight: bold;
    margin: 0px 30px;
    padding: 0px;

}
#txtCallStatus{
    position: relative;
}
.md-form .input-prefix {
    top: 63%;
}

.container-fluid.no_pad{
    padding: 0;
    height: 100%;
}
.container-fluid.no_pad .row.no-gutters{
    height: 100%;
}
.right_block {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mb-lg-5{
    margin: 0px !important;
}
.mobile_phone {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    transition: .3s all ease-in-out;
}
.mobil-ico{
    display: none;
    padding: 0px 10px;
    margin-right: 5px;
    color: red;
    cursor: pointer;
}
.tab{
    display: none;
}






@media (max-width: 1100px){
    .tabcontent h3, p {
        margin: 20px 60px 20px 60px;
    }
    .opacity {
        margin: 0px 5px !important;
    }
    .tabcontent{
        padding: 6px 0px;
    }
}
@media (max-width: 1024px) {
    .tab {
        display: block;
        width: 50px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
    }

    .icon-iks{
        display: inline-block;
    }
    .contact-menu{
        max-width: 850px;
        margin-right: auto;
    }
    .col-absolute{
        display: none;

    }
    .mobile_phone {
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        right: 50px;
        z-index: 20;
        box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
        transition: .3s all ease-in-out;
    }
    .col-absolute .back_mobi{
        background-color: white;
        width: 100%;
    }
    .mobil-ico{
        display: inline-block;
        margin-left: auto;
    }



}

@media (max-width: 992px) {

    .contact-menu{
        max-width: 800px;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .contact-menu{
        max-width: 600px;
        margin-right: auto;
    }
    .reason-row li a.active {
        padding: 15px 60px;
    }
    .reason-row li a {
        padding: 15px 5px;
    }

}


@media (max-width: 568px){

    .contact-menu {
        max-width: 500px;
    }
    .contact-menu div{
        font-size: 16px;
    }


    .reason-row li a.active {
        padding: 5px 0px 5px 50px;
    }
    .display_flex h3 {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .display_flex h4 {
        font-size: 15px;
    }
    .contact-menu {
        padding: 5px 30px;
    }
    .reason-row li a {
        padding: 5px 30px;
    }

}

@media (max-width: 380px) {
    .contact-menu {
        max-width: 360px;
    }

    .contact-menu {
        padding: 5px 5px;
    }
    .mobil-ico{
        margin-right: 10px;
    }
}
@media (max-width: 320px) {
    .contact-menu {
        max-width: 300px;
    }

}