
body {
    font-family: "Roboto", sans-serif;
    font-weight: 800;!important;
    height: 657px;
}



.opacity {
    border-radius: 15px;
    
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    width: 100%;
    margin: 0 auto;
}



.number {
    border-radius: 15px;
    color: rgba(31, 30, 30, 0.89);

    background-color: rgba(9, 0, 0, 0.03);
}



#sidebar {
    border-radius: 3px;
    width: 260px;
    position: absolute;
    /*top: 5%;*/
    right: 0;
    z-index: 1;
    background: rgba(95, 89, 89, 0.37);
    transition: 0.2s;
    box-shadow: 0px 8px 7px 0px rgba(14, 0, 0, 0.85);
}


#dismiss:hover {
    color: #d50d10;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.51);
    /*z-index: 998;
*/
    transition: all 0.3s ease-in-out;
    /* filter: blur(4px);
     -o-filter: blur(4px);
     -ms-filter: blur(4px);
     -moz-filter: blur(4px);
     -webkit-filter: blur(4px);*/
}
.btn-info {

    display: none !important;
}
.dropdown-toggle::after {
    display: block;
}






#content01 {

    padding: 0px;
    /*min-height: 100vh;*/
    transition: all 0.3s;
    position: absolute;

}
@media (min-width: 901px) {

    #dismiss {
        display: none;
    }
}

@media (min-width: 901px) {

    #dismiss {
        display: none;
    }
}

@media (max-width: 900px) {

    #dismiss:hover {
        color: #d50d10;
    }

    #dismiss {
        line-height: 1rem;
        color: rgba(130, 130, 130, 0.66);
        cursor: pointer;
    }

    #sidebar {
        display: none;
        margin: 0;
        top: 50%;
        left: 50%;
        transition: max-width.3s;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .overlay.active {
        display: block;

    }

    #sidebar.active {
        padding: 0;
        width: 260px;
        display: block;
        margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn-info {
        display: inline-block !important;
    }
}

@media (max-width: 800px) {
    #sidebar {
        width: 50%;

    }
}

@media (max-width: 700px) {
    #sidebar {
        width: 70%;

    }
}

@media (max-width: 600px) {
    #sidebar {
        width: 90%;

    }
}

@media (max-width: 535px) {
    #sidebar {
        width: 90%;

    }
}

@media (max-width: 460px) {
    #sidebar {
        width: 90%;

    }
}

@media (max-width: 400px) {
    #sidebar {
        width: 100%;

    }
}



