@font-face {
    font-family: wpb_wiz_font_icons;
    src: url(../fonts/wpb_wiz_font_icons.eot?eaa8b);
    src: url(../fonts/wpb_wiz_font_icons.eot?eaa8b#iefix) format('embedded-opentype'), url(../fonts/wpb_wiz_font_icons.ttf?eaa8b) format('truetype'), url(../fonts/wpb_wiz_font_icons.woff?eaa8b) format('woff'), url(../fonts/wpb_wiz_font_icons.svg?eaa8b#wpb_wiz_font_icons) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=wpb_wiz_icons],
[class*=" wpb_wiz_icons"] {
    font-family: wpb_wiz_font_icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.zoomWrapper{
    webkit-box-shadow: 0 0 30px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.08);
    box-shadow: 0 0 30px rgba(0,0,0,.08);
}
#wpb_wiz_gallery{
    panddin: 0 5px;
}


.owl-item{
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 3px 2.1px rgba(0, 0, 0, 0.048),
            0 3.5px 2px rgba(0, 0, 0, 0.06),
            0 5.3px 4px rgba(0, 0, 0, 0.072),
            0 6.8px 4.4px rgba(0, 0, 0, 0.086),
            0 5px 3px rgba(0, 0, 0, 0.12);
}

.woocommerce span.onsale {
    z-index: 2
}

.wpb-wiz-main-images>div {
    top: 0
}

.zoomContainer {
    z-index: 99
}
.owl-carousel.owl-loaded{
    overflow: hidden;
}
.bolk{
    max-width: 100%!important;
    max-height: inherit!important;
    z-index: 1;
}
.zoomWrapper img{
    max-height:inherit;
    max-width:100%!important;
}

.zoomWrapper>div {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background-color: rgba(255, 255, 255, .75)!important;
    top: 0
}

.mozilla-fix {
    position: inherit!important
}

.wpb_wiz_hide {
    display: none!important;
    visibility: hidden!important;
    opacity: 0!important
}

.wpb-wiz-main-images .zoomWrapper>img {
    position: inherit!important
}

.wpb-wiz-main-images>div.zoomWrapper>img:nth-child(2) {
    display: none!important
}

.wpb-wz-images-shortcode .wpb-woocommerce-image-zoom {
    float: unset!important;
    width: unset!important
}

.admin-bar .fancybox-infobar,
.admin-bar .fancybox-toolbar {
    top: 40px
}

@media(max-width:1024px) {
    .admin-bar .fancybox-infobar,
    .admin-bar .fancybox-toolbar {
        top: 80px
    }
}

@media(max-width:767px) {
    .admin-bar .fancybox-infobar,
    .admin-bar .fancybox-toolbar {
        top: 50px
    }
}

.single-product div.product .images .thumbnails a.wpb-woo-zoom.first {
    clear: both
}

.single-product div.product .images .thumbnails a.wpb-woo-zoom {
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
    margin-bottom: 1em
}

.single-product div.product .images .thumbnails.columns-5 a.wpb-woo-zoom {
    width: 16.09%
}

.single-product div.product .images .thumbnails.columns-4 a.wpb-woo-zoom {
    width: 22.05%
}

.single-product div.product .images .thumbnails.columns-2 a.wpb-woo-zoom {
    width: 48%
}

.single-product div.product .images .thumbnails a.wpb-woo-zoom.last {
    margin-right: 0
}

.single-product div.product .images .thumbnails a.wpb-woo-zoom.last {
    float: right;
    margin-right: 0
}

.single-product div.product .images .thumbnails::after {
    clear: both;
    content: "";
    display: table
}
#wpb_wiz_gallery{
    max-width: 100%;
    margin: auto;
}

.woocommerce div.product div.images div.thumbnails.wpb_wiz_gallery_slider,
.woocommerce-page div.product div.images div.thumbnails.wpb_wiz_gallery_slider,
.woocommerce #content div.product div.images div.thumbnails.wpb_wiz_gallery_slider,
.woocommerce-page #content div.product div.images div.thumbnails.wpb_wiz_gallery_slider {
    padding-top: 0!important;
    margin-top: 20px
}

.single-product div.product .images .thumbnails.wpb_wiz_gallery_slider.owl-carousel a.wpb-woo-zoom,
.woocommerce #content div.product div.thumbnails.wpb_wiz_gallery_slider.owl-carousel a,
.woocommerce div.product div.thumbnails.wpb_wiz_gallery_slider.owl-carousel a,
.woocommerce-page #content div.product div.thumbnails.wpb_wiz_gallery_slider.owl-carousel a,
.woocommerce-page div.product div.thumbnails.wpb_wiz_gallery_slider.owl-carousel a {
    float: inherit!important;
    width: inherit!important;
    margin: inherit!important;
    padding: 0;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s
}

.single-product div.product .images .thumbnails.wpb_wiz_gallery_slider a.wpb-woo-zoom img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.wpb_wiz_gallery_slider.owl-carousel .owl-wrapper-outer {
    z-index: 1
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav {
    margin: 0
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button.owl-next,
.wpb_wiz_gallery_slider.owl-theme .owl-nav button.owl-prev {
    position: absolute;
    z-index: 2;
    margin: 0;
    width: 30px;
    border-radius: 0;
    padding: 0;
    display: table;
    top: 35%;
    height: 30px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    opacity: 1;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button.disabled {
    opacity: .4
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button:hover,
.wpb_wiz_gallery_slider.owl-theme .owl-nav button:focus {
    background: rgba(0, 0, 0, .6)
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button:focus,
.wpb_wiz_gallery_slider.owl-theme .owl-dots .owl-dot:focus {
    outline: 0;
    box-shadow: none
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button i {
    line-height: 30px
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button.owl-prev {
    left: 0
}

.wpb_wiz_gallery_slider.owl-theme .owl-nav button.owl-next {
    right: 0
}

.rtl .wpb_wiz_gallery_slider.owl-theme .owl-nav button.owl-prev {
    left: unset;
    right: 0
}

.rtl .wpb_wiz_gallery_slider.owl-theme .owl-nav button.owl-next {
    right: unset;
    left: 0
}

.wpb_wiz_gallery_slider.owl-theme .owl-dots .owl-dot {
    margin-top: 15px
}

.wpb-wiz-zoom-type-inner .wpb-wiz-main-images>div,
.wpb-wiz-zoom-type-lens .wpb-wiz-main-images>div,
.wpb-wiz-zoom-type-window .wpb-wiz-main-images>div {
    height: inherit!important;
    width: inherit!important
}

.single-product-main-image span.image-overlay.overlay-type-image {
    display: none!important
}

.wpb-woocommerce-image-zoom .image-overlay,
.single-product-main-image .avia-wc-30-product-gallery-lightbox {
    display: none!important
}

.wpb-wiz-disable-main-zoom .zoomContainer {
    display: none!important;
    max-width:100%
}

body.wpb-wiz-zoom-type-lens .zoomWindowContainer {
    display: none!important;
    max-width: 100%;
}

.elementor-widget-wpb-woo-image-zoom .wpb-woocommerce-image-zoom {
    float: unset!important;
    width: unset!important;
    opacity: 1!important
}



/*




*/



/*




*/

@media only screen and (max-width:767px) {
    .wpb-wiz-disable-mobile .zoomContainer,
    .wpb-wiz-disable-mobile .zoomContainer * {
        display: none!important;
        overflow: hidden;
        z-index: -99999!important;
        visibility: hidden
    }

}
@media screen and (min-width: 600px) {
    .site {
        max-width: 1260px;
    }
}

@media (max-width: 1200px) {

}
