
.bigImage{
    width: 160px;
    height: 108px;
}
a.news{
    width: 100%;
}

.gallery-item {
    width: 100%;

}
.gallery-item:hover .gallery-item__title {
    color: #003BB3; }
.gallery-item:hover .gallery-item__img .img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
.gallery-item__img {
    position: relative;
    padding-bottom: 40%;
    display: block;
    margin-bottom: 10px;
    overflow: hidden; }
.gallery-item__img .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease; }
.gallery-item__play-icon {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 51px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 15;
    background-color: rgba(23, 32, 106, 0.3);
    border-radius: 100px; }
.gallery-item__play-icon.video {
    background-image: url(../img/play-video.svg); }
.gallery-item__play-icon.image {
    background-image: url(../img/play-image.svg); }
.gallery-item .news-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.gallery-item .news-meta .category {
    color: #304FFF; }
.gallery-item__title {
    font-weight: bold;
    color: #000000;
    line-height: 19px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease; }
.gallery-item__title:hover {
    color: #17206A; }
.gallery-item__title{
    font-size: 20px !important;
}
.aa {
    background-color: #0b3b70;
    color: white;
    width: 100px;
    max-height: 30px;
    top: 20px;
    left: 0;
    text-align: center;
    padding: 2px;
    font-size: 14px;
}
.aa1{
    width: 90px}
