@media (max-width: 1500px ){
    .gjs-pn-options {
        right: 29% !important;
    }
}


@media (max-width: 1400px ){
    .gjs-pn-options {
        right: 25% !important;
    }
}

@media (max-width: 1300px){
    .gjs-pn-options {
        right: 23% !important;
    }
    .gjs-pn-options .gjs-pn-buttons .fa-eye {
        right: -10% !important;
        top: 3px !important;
    }
        .gotoPage {
            right: -149.6px !important;
            bottom: 5px !important;
        }
}

@media (max-width: 1200px){
    .gjs-pn-options {
        right: 23% !important;
    }

    .gjs-pn-btn:before  {
        font-size: 1.2rem!important;
    }
    .gjs-pn-buttons .fa-palette, .gjs-pn-buttons .fa-layer-group{
        font-size: 1rem!important;
    }

    .gjs-pn-options .gjs-pn-buttons .gjs-pn-btn {
        width: 40px!important;
    }
}