.menulist li {
    padding: 2px;
}
.menulist li:hover {
    cursor: pointer;
}
.active a{
    font-weight: 600;
    padding-left: 8px ;
    color: #10b410 !important;
}

.menulist li a:hover {
    text-decoration: none;
    color: #10b410 !important;
}
