.mm-listitem.active {
    background-color: #e2e2e1;
}

.mm-listitem.active .mm-counter {
    //color: #000000;
}

.mm-listitem.active .mm-btn_next:after {
    //color: #000000;
}

.mm-listitem.mm-listitem_divider {
    background-color: #007bff!important;
    color: #ffffff;
}

.mm-listitem span {
    margin-left: 10px;
}

.mm-listitem:not(.mm-listitem_divider) {
    cursor: pointer;
}

.mm-listitem:hover:not(.mm-listitem_divider) {
    background: var(--mm-color-background-emphasis);
}

.mm-listitem.active:hover{
    background: #e2e2e1;
}

.mm-listitem_divider {

}

.mm-listitem:after {
    left: 52px!important;
}
