.searching{

    float: left !important;

}
:root {
    --space-unit: 1em;
}
.icon{
    color: #0D47A1  !important;
}
.border-search{
    border: 2px solid #0D47A1  !important;

}
.border-search::placeholder {
    color: #000;
}

.border-search{
    border-radius: 20px;
    height: 60px;
    padding-left: 8px;
    width: 60%;
    color: #000;
}
.kr {

    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0;
    margin-right: 6px !important;
    background-color: white !important;
}

.ki {
    width: 2.2em !important;
    height: 2.2em!important;
    padding: 0;
    border: none;
    color: transparent;

    border-radius: 50em;
    transition: width .3s cubic-bezier(.215, .61, .355, 1), box-shadow .3s, background-color .3s;
}

.ki::-webkit-input-placeholder {
    color: transparent
}

.ki::-moz-placeholder {
    opacity: 0;
    color: transparent
}

.ki:-ms-input-placeholder {
    color: transparent
}

.ki:-moz-placeholder {
    color: transparent
}

.ki:hover {
    background-color: #f2f2f2;
    cursor: pointer
}

.ki:focus, .ki.ks {
    background-color: #fff;
    width: 15em !important;
    padding: 0 2.4em 0 0.75em;
    outline: none;
    color: #c0c0c0;
    cursor: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}

.ki:focus::-webkit-input-placeholder, .ki.ks::-webkit-input-placeholder {
    color: #79797c;
}

.ki:focus::-moz-placeholder, .ki.ks::-moz-placeholder {
    opacity: 1;
    color: #79797c;
}

.ki:focus:-ms-input-placeholder, .ki.ks:-ms-input-placeholder {
    color: #79797c;
}

.ki:focus:-moz-placeholder, .ki.ks:-moz-placeholder {
    color: #79797c;
}

.ki:focus + .ko {
    pointer-events: auto;
}

.ki::-webkit-search-decoration, .ki::-webkit-search-cancel-button, .ki::-webkit-search-results-button, .ki::-webkit-search-results-decoration {
    display: none;
}

.ko {
    position: absolute;
    top: 2px;
    right: 2px;
    height: calc(2.2em - 4px);
    width: calc(2.2em - 4px);
    border-radius: 50%;
    border: none;
    z-index: 1;
    pointer-events: none;
    transition: background-color .3s;
    background-color: #fff;
}
