.content {
    background: url("/render/asrorz/arbit/img/bg_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-position: bottom center;
    z-index: 1;
    color: #fff;
    padding: 3em 0 15em;
    height: 100vh;
    position: relative;
    margin-bottom: 6em;
}
.header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.section-header{
    background-color: #2b114f;
    height:80px;

}

.tatsu-row {
    width: 100%;
    display: flex;
    line-height: 20px;
    flex-wrap: wrap;
}

.content-image {
    position: relative;
}

.content-image img {
    width: 400px;
}

.content-column {
    display: flex;
    align-items: center;
    padding: 0 2em;
    width: 50%;
}

.content-column h2 {
    font-weight: bold;
    font-size: 48px;
}

.content-column h3 {
    font-weight: normal;
    font-size: 42px;
}

.content-column p {
    line-height: 20px;
    margin-bottom: 30px;
}

.content-column a {
    padding: 15px 32px;
    font-size: 18px;
    background-image: linear-gradient(90deg, rgba(255,133,0,1), rgb(255, 191, 0));
    color: #ffffff;
    font-weight: bold;
    border-radius: 40px;
}

.content-column a:hover {
    text-decoration: none;
    color: #fff;
}

.content-title {
    position: relative;
}

.content-title img {
    position: absolute;
    width: 150px;
    top: -40px;
    right: 0;
}


.content-title button {
    position: absolute;
    width: 150px;
    top: -40px;
    right: 0;
}

.wrapper {
    background: #f1f1f1;
    padding: 3em 0;
}

.wrapper h2{
    text-align: center;
    font-weight: bold;
}



.wrapper-block .wrapper-item {
    background: #fff;
    /*margin: 2em .5em;*/
    transition: all 0.7s ease-in-out;
    padding: 1em;
    height: 15em;
}

.wrapper-block .wrapper-item {
    color: #1295ff;
}

.wrapper-block .wrapper-item h4 {
    color: #444;
}

.wrapper-block .wrapper-item p {
    color: #666;
}

.wrapper-block .wrapper-item:hover {
    transition: all 0.7s ease-in-out;
    transform: translateY(-10px);
    background-image: linear-gradient(100deg, #00a3ff, #79cbfa);
    color: #fff;
}

footer {
    background-image: url("/render/asrorz/arbit/img/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-footer {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
}

.section-footer .wrap-left {
    width: 50%;
}

.section-footer .wrap-left h2 {
    color: #005cbf;
}

.section-footer .wrap-left p {
    color: #555;
}

.section-footer .wrap-left .link ul {
    display: flex;
}

.section-footer .wrap-left .link ul li {
    list-style: none;
    margin: 0 1em;
}

.wrap-right h3 {
    margin-bottom: 1em;
    font-size: 24px;
}

.wrap-right ul {
    display: flex;
    flex-direction: column;
    padding-left: 1em;

}

.wrap-right ul li {
    list-style: none;
    color: #555;
    margin: 0;
}

.fixed-btn-up {
    border: none;
    width: 50px;
    height: 50px;
    z-index: 1000;
    background: #00adff;
    color: #ffffff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .5);
}

.fixed-btn-up:hover {
    background-color: rgba(0, 173, 255, 0.85);
}


@media (max-width: 993px) {
    .content-image img {
        position: absolute;
        opacity: .2;
    }
    .card-body {
        display: flex;
        flex-direction: column;
    }
    .tatsu-row {
        text-align: center;
    }
    .content {
        padding: 3em 0 8em;
    }
    .content-column {
        padding: 0;
        width: 100%
    }
    .section-info, .section-money {
        padding: 0;
        margin: 0;
    }
    .display-4 {
        font-size: 2.7rem
    }
    .tatsu-column-pad {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .tatsu-gradient-border {
        transform: translateX(-42px);
    }
    .tatsu-eOiloSd4Tl.tatsu-text-block-wrap .tatsu-text-inner {
        padding: 0;
    }
    .section-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 0;
        text-align: center;
    }
    .section-footer .wrap-left .link ul {
        display: block;
        padding: 0;
    }
    footer {
        background-position: left;
    }
    .wrap-right ul li {
        color: #000;
        text-shadow: 2px -1px 55px #fff;
    }
}

@media (max-width: 378px) {
    .content-column h3 {
        font-size: 32px;
    }
    .container {
        padding: 0;
    }
    .content-title img {
        right: 26%;
    }
    .section-info, .section-money {
        padding: 0;
        margin: 0;
    }
}






