/* Bu fayl o'zgartirilmasin!!! */
/* Do not change anything here!!! */


/* font-sizes in visible width */
.fvw-05 {
    font-size: 0.5vw;
}
.fvw-1 {
    font-size: 1vw;
}
.fvw-2 {
    font-size: 2vw;
}
.fvw-3 {
    font-size: 3vw;
}

.fvw-4 {
    font-size: 4vw;
}

.fvw-5 {
    font-size: 5vw;
}
.fvw-6 {
    font-size: 6vw;
}
.fvw-7 {
    font-size: 7vw;
}

.fvw-8 {
    font-size: 8vw;
}

.fvw-9 {
    font-size: 9vw;
}

.fvw-10 {
    font-size: 10vw;
}

.fvw-11 {
    font-size: 11vw;
}

.fvw-12 {
    font-size: 12vw;
}

.fvw-13 {
    font-size: 13vw;
}

.fvw-14 {
    font-size: 14vw;
}

.fvw-15 {
    font-size: 15vw;
}

.fvw-16 {
    font-size: 16vw;
}

.fvw-17 {
    font-size: 17vw;
}

.fvw-18 {
    font-size: 18vw;
}

.fvw-19 {
    font-size: 19vw;
}

.fvw-20 {
    font-size: 20vw;
}

.fvw-21 {
    font-size: 21vw;
}

.fvw-22 {
    font-size: 22vw;
}

.fvw-23 {
    font-size: 23vw;
}

.fvw-24 {
    font-size: 24vw;
}

.fvw-25 {
    font-size: 25vw;
}

.fvw-26 {
    font-size: 26vw;
}

.fvw-27 {
    font-size: 27vw;
}

.fvw-28 {
    font-size: 28vw;
}

.fvw-29 {
    font-size: 29vw;
}

.fvw-30 {
    font-size: 30vw;
}

.fvw-31 {
    font-size: 31vw;
}

.fvw-32 {
    font-size: 32vw;
}

.fvw-33 {
    font-size: 33vw;
}

.fvw-34 {
    font-size: 34vw;
}

.fvw-35 {
    font-size: 35vw;
}

.fvw-36 {
    font-size: 36vw;
}

.fvw-37 {
    font-size: 37vw;
}

.fvw-38 {
    font-size: 38vw;
}

.fvw-36 {
    font-size: 36vw;
}

.fvw-37 {
    font-size: 37vw;
}

.fvw-38 {
    font-size: 38vw;
}

.fvw-39 {
    font-size: 39vw;
}

.fvw-40 {
    font-size: 40vw;
}








/* font-sizes in px */

.fp-5 {
    font-size: 5px;
}
.fp-6 {
    font-size: 6px;
}

.fp-7 {
    font-size: 7px;
}

.fp-8 {
    font-size: 8px;
}

.fp-9 {
    font-size: 9px;
}

.fp-10 {
    font-size: 10px;
}

.fp-11 {
    font-size: 11px;
}

.fp-12 {
    font-size: 12px;
}

.fp-13 {
    font-size: 13px;
}

.fp-14 {
    font-size: 14px;
}

.fp-15 {
    font-size: 15px;
}

.fp-16 {
    font-size: 16px;
}

.fp-17 {
    font-size: 17px;
}

.fp-18 {
    font-size: 18px;
}

.fp-19 {
    font-size: 19px;
}

.fp-20 {
    font-size: 20px;
}

.fp-21 {
    font-size: 21px;
}

.fp-22 {
    font-size: 22px;
}

.fp-23 {
    font-size: 23px;
}

.fp-24 {
    font-size: 24px;
}

.fp-25 {
    font-size: 25px;
}

.fp-26 {
    font-size: 26px;
}

.fp-27 {
    font-size: 27px;
}

.fp-28 {
    font-size: 28px;
}

.fp-29 {
    font-size: 29px;
}

.fp-30 {
    font-size: 30px;
}

.fp-31 {
    font-size: 31px;
}

.fp-32 {
    font-size: 32px;
}

.fp-33 {
    font-size: 33px;
}

.fp-34 {
    font-size: 34px;
}

.fp-35 {
    font-size: 35px;
}

.fp-36 {
    font-size: 36px;
}

.fp-37 {
    font-size: 37px;
}

.fp-38 {
    font-size: 38px;
}

.fp-36 {
    font-size: 36px;
}

.fp-37 {
    font-size: 37px;
}

.fp-38 {
    font-size: 38px;
}

.fp-39 {
    font-size: 39px;
}

.fp-40 {
    font-size: 40px;
}






/*font-sizes in rem*/

.fr-05 {
    font-size: 0.5rem;
}

.fr-06 {
    font-size: 0.6rem;
}

.fr-07 {
    font-size: 0.7rem;
}

.fr-08 {
    font-size: 0.8rem;
}

.fr-09 {
    font-size: 0.9rem;
}

.fr-10 {
    font-size: 1rem;
}

.fr-11 {
    font-size: 1.1rem;
}

.fr-12 {
    font-size: 1.2rem;
}

.fr-13 {
    font-size: 1.3rem;
}

.fr-14 {
    font-size: 1.4rem;
}

.fr-15 {
    font-size: 1.5rem;
}

.fr-16 {
    font-size: 1.6rem;
}

.fr-17 {
    font-size: 1.7rem;
}

.fr-18 {
    font-size: 1.8rem;
}

.fr-19 {
    font-size: 1.9rem;
}

.fr-20 {
    font-size: 2rem;
}

.fr-21 {
    font-size: 2.1rem;
}

.fr-22 {
    font-size: 2.2rem;
}

.fr-23 {
    font-size: 2.3rem;
}

.fr-24 {
    font-size: 2.4rem;
}

.fr-25 {
    font-size: 2.5rem;
}

.fr-26 {
    font-size: 2.6rem;
}

.fr-27 {
    font-size: 2.7rem;
}

.fr-28 {
    font-size: 2.8rem;
}

.fr-29 {
    font-size: 2.9rem;
}

.fr-30 {
    font-size: 3rem;
}

.fr-31 {
    font-size: 3.1rem;
}

.fr-32 {
    font-size: 3.2rem;
}

.fr-33 {
    font-size: 3.3rem;
}

.fr-34 {
    font-size: 3.4rem;
}

.fr-35 {
    font-size: 3.5rem;
}

.fr-36 {
    font-size: 3.6rem;
}

.fr-37 {
    font-size: 3.7rem;
}

.fr-38 {
    font-size: 3.8rem;
}

.fr-39 {
    font-size: 3.9rem;
}

.fr-40 {
    font-size: 4rem;
}





/* font-sizes in em*/

.fe-05 {
    font-size: 0.5em;
}

.fe-06 {
    font-size: 0.6em;
}

.fe-07 {
    font-size: 0.7em;
}

.fe-08 {
    font-size: 0.8em;
}

.fe-09 {
    font-size: 0.9em;
}

.fe-10 {
    font-size: 1em;
}

.fe-11 {
    font-size: 1.1em;
}

.fe-12 {
    font-size: 1.2em;
}

.fe-13 {
    font-size: 1.3em;
}

.fe-14 {
    font-size: 1.4em;
}

.fe-15 {
    font-size: 1.5em;
}

.fe-16 {
    font-size: 1.6em;
}

.fe-17 {
    font-size: 1.7em;
}

.fe-18 {
    font-size: 1.8em;
}

.fe-19 {
    font-size: 1.9em;
}

.fe-20 {
    font-size: 2em;
}

.fe-21 {
    font-size: 2.1em;
}

.fe-22 {
    font-size: 2.2em;
}

.fe-23 {
    font-size: 2.3em;
}

.fe-24 {
    font-size: 2.4em;
}

.fe-25 {
    font-size: 2.5em;
}

.fe-26 {
    font-size: 2.6em;
}

.fe-27 {
    font-size: 2.7em;
}

.fe-28 {
    font-size: 2.8em;
}

.fe-29 {
    font-size: 2.9em;
}

.fe-30 {
    font-size: 3em;
}

.fe-31 {
    font-size: 3.1em;
}

.fe-32 {
    font-size: 3.2em;
}

.fe-33 {
    font-size: 3.3em;
}

.fe-34 {
    font-size: 3.4em;
}

.fe-35 {
    font-size: 3.5em;
}

.fe-36 {
    font-size: 3.6em;
}

.fe-37 {
    font-size: 3.7em;
}

.fe-38 {
    font-size: 3.8em;
}

.fe-39 {
    font-size: 3.9em;
}

.fe-40 {
    font-size: 4em;
}









/* font-weights */

.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.fw-200 {
    font-weight: 200;
}

.fw-100 {
    font-weight: 100;
}
