@media screen and (max-width: 1656px) {
    /*.ZCartReviewIconText {*/
    /*    display: none;*/
    /*}*/
    .cart-btn span.ZCompareIcon {
        right: 86px !important;
    }

    .cart-btn span.ZCartIcon {
        right: 66px !important;
    }

    .cart-btn span.ZWishIcon {
        right: 80px !important;
    }

    .category-list li a {
        font-weight: 600;
        font-size: 12px;
    }


}


@media screen and (max-width: 1259px) {
    /* .ZCartReviewIconText {
         display: none;
     }
 */
    .cart-btn span.ZCompareIcon {
        right: -8px !important;
    }

    .cart-btn span.ZCartIcon {
        right: -14px !important;
    }

    .cart-btn span.ZWishIcon {
        right: -8px !important;
    }

    .topNavbarIconsBlock {
        padding-top: 10px;
    }

    .category-list li a {
        font-weight: 400;
        font-size: 10px;
    }
}

@media screen and (max-width: 1200px) {
    /*  .ZCartReviewIconText {
          display: none;
      }*/
    .cart-btn span.ZCompareIcon {
        right: -8px !important;
    }

    .cart-btn span.ZCartIcon {
        right: -14px !important;
    }

    .cart-btn span.ZWishIcon {
        right: -8px !important;
    }

    .topNavbarIconsBlock {
        padding-top: 10px;
    }

    .category-list li a {
        font-weight: 400;
        font-size: 10px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .topNavbarLanguageBlock {
        display: block !important;
        margin-top: 24px;
    }

    .cart-btn span {
        right: 26px !important;
        top: 3px !important;
    }

    .cart-btn span.ZCartIcon {
        right: 15px !important;
    }

    .navbar-nav {
        /*margin-top: 20px;*/
    }
}

@media screen and (max-width: 991px) {
    .ZCartReviewIconText {
        display: block;
    }

    .topNavbarLanguageBlock {
        display: block !important;
        margin-top: 24px;
    }

    .cart-btn span {
        right: 26px !important;
        top: 3px !important;
    }

    .cart-btn span.ZCartIcon {
        right: 15px !important;
    }

    .navbar-nav {
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px) {


    .chat_head {
        display: none;
    }

    .nav-item {
        display: flex;
        flex-wrap: wrap;
    }

    .vd_mega-menu-wrapper {
        z-index: inherit !important;
    }

    .drop_content_strimell:before {
        left: 120px !important;
    }

    .friendreq {
        margin-left: -160px !important;
    }

    .friendreq:before {
        left: 180px !important;
    }

    .notifmenu:before {
        left: 45px !important;
    }
}

@media screen and (max-width: 655px) {

    .topNavbarLanguageBlock {
        display: block !important;
    }

    .ZMSearchWidgetInput {
        width: 10em !important;
    }

    .ZMSearchWidgetInput:focus {
        width: 8em !important;
    }

    .logo {
        display: none;
    }

    .ZMSearchWidgetInputButton {
        margin-left: 15px;
    }

    .mega-li {
        bottom: 10px;
    }

    .navbar-search {
        margin-left: -20px;
    }

    .RegisterBlockCarolinaRegisterBtn {
        margin: 0 auto;
    }

}


@media screen and (max-width: 500px) {

    .nmfr {
        margin-left: 15%;

    }

    .RegisterBlockCarolinaRegisterBtn {
        margin: 0 auto;
    }

}


