.card-lb {
    height: 400px;
    padding: 10px;
    border: 2px solid lightgray;
    position: relative;
    border-radius: 5px;
}

.card-lb-header {
    padding: 10px;
}

.card-lb-header img {
    width: 100%;
    height: 200px;
}

.card-lb-content {
    margin-top: 10px;
}

.card-lb-content h3{
    text-align: left;
    font-size: 18px;
}

.card-lb-price {
    text-align: left;
    color: green;
    font-size: 18px;
}

.card-price-env {
    text-align: left;
    margin-left: 5px;
    margin-top: 3px;
    font-size: 15px;
    color: gray;
}

.card-lb-footer {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card-lb-footer button{
    width: 90%!important;
    
}
.card-lb-footer .card-lb-counter  .btn-success {
    width: 45px!important;
    height: 45px!important;
}
.card-lb-footer button .fas{
    margin-right: 10px;
}
.card-lb-footer .card-lb-counter{
    margin: 0px!important;
}
.card-lb-footer .card-lb-counter div{
    padding: 10px!important;
    border-radius: 5px;
}
#badgeCounter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-lb-content .fa-shopping-cart{
    color: red;
}





.logo-area2 {
    height: 125px;
    padding-top: 25px;
    border-bottom: 1px solid #e5e5e5;
}
.logo-area2 .carts-area {
    padding-top: 15px;
    padding-left: 70px;
}
.logo-area2 .carts-area .wsh-box {
    margin-right: 8px;
    padding-top: 5px;
    position: relative;
}


.logo-area2 .carts-area .cart-box {
    margin-right: 8px;
    padding-top: 5px;
    position: relative;

}

.logo-area2 .carts-area .cart-box a span {
    background-color: #e8104a;
    height: 1.75rem;
    width: 1.75rem;
    line-height: 1.75rem;
    color: #fff;
    border-radius: 100%;
    background-clip: padding-box;
    position: absolute;
    top: -21px;

    font-size: 16px;
    text-align: center;
    padding: 0;
}
/* =======================================
     Cart Body
   ======================================= */
.cart-body {
    background: #fff;
    width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    z-index: 99999;
    height: 100%;
    padding: 25px;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;

}
.cart-body .close-btn {

    border-bottom: .0625rem solid #eee;

    position: relative;
    background-color: #fff;



}
/* .cart-body {
     font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
     font-style: normal;
     color: inherit;
     text-rendering: optimizeLegibility;
     margin-top: 0;
     margin-bottom: .5rem;
     line-height: 1.4;

 }    */
.cart-body .close-btn .fa-times{
    margin-left: 250px;

}
.cart-body .close-btn button.close-cart img {
    max-width: 10px;
    margin-right: 8px;
    margin-top: -3px;
}
.cart-body .crt-bd-box {
    padding: 20px;
}
.cart-body .crt-bd-box .cart-heading h5 {

    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4;
}

/* .cart-body .crt-bd-box .cart-heading span{
     font-size: 13px;
     margin-left: 30px;
 color:#28a745 ;

 }         */
/*  .cart-body .crt-bd-box .cart-content {
       border-bottom: 1px solid #e5e5e5;
       margin-bottom: 40px;
   }
   .cart-body .crt-bd-box .cart-content .content-item {
       margin-bottom: 35px;
   }
   .cart-body .crt-bd-box .cart-content .content-item .cart-img a img {
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       -ms-border-radius: 3px;
       border-radius: 3px;
   }
   .cart-body .crt-bd-box .cart-content .content-item .cart-disc p a {
       font-size: 15px;
   }
   .cart-body .crt-bd-box .cart-content .content-item .cart-disc p a:hover {
       color: #5677fc;
   }
   .cart-body .crt-bd-box .cart-content .content-item .cart-disc span {
       font-size: 16px;
       color: #222222;
       font-weight: 600;
   }
   .cart-body .crt-bd-box .cart-content .content-item .delete-btn a i {
       color: #969696;
       margin-top: 15px;
   }
   .cart-body .crt-bd-box .cart-content .content-item .delete-btn a i:hover {
       color: #444444;
   }
   .cart-body .crt-bd-box .cart-btm p {
       font-size: 16px;
       text-transform: uppercase;
       margin-bottom: 50px;
   }
   .cart-body .crt-bd-box .cart-btm p span {
       font-size: 20px;
       color: #222222;
       font-weight: 600;
       margin-left: 10px;
   }
   .cart-body .crt-bd-box .cart-btm a {
       font-size: 16px;
       color: #fff;
       background: #5677fc;
       display: block;
       text-align: center;
       padding: 8px;
       text-transform: uppercase;
       -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
       -ms-border-radius: 30px;
       border-radius: 30px;
   }
   .cart-body .crt-bd-box .cart-btm a:hover {
       background: #e45151;
   } */
.cart-body.open {
    right: 0;
}
.cart-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99990;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.cart-overlay.visible {
    visibility: visible;
    opacity: 1;
}

.button{
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    background-color: #28a745;
    color: #fff;
}
.button .cart-box a{
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight:bold;
}
.button .cart-box a:hover {
    text-decoration: none!important;
}





@media screen and (max-width: 74.9375em) {
    .swipe-cart .swipe-container .reveal-body {
        padding: .625rem .9375rem;
    }
}
.swipe-cart .swipe-container .reveal-body {
    padding: 1.25rem 1.875rem 4.1875rem;
    border: .0625rem solid #eee;
    border-bottom: 0;
}
.swipe-cart .swipe-container .reveal-body {
    padding: 1.25rem 1.875rem 4.1875rem;
    border: .0625rem solid #eee;
    border-bottom: 0;
}

.swipe-cart .swipe-container .reveal-body, .swipe-cart .swipe-container .reveal-header {
    width: 100%;
}
.add-cart.vertical .product-counter-widget {
    display: block;
    text-align: center;
}
.product-counter-widget {
    margin-bottom: 0;
}

.add-cart.vertical .product-counter-widget button {
    background: none;
    padding: 5px 10px;
    margin: 0;
    color: #777;
}

.button-up {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    background-color: #757575;
    color: #fff;
    text-transform: none;
    overflow: visible;
}
.fa-caret-up:before {
    content: "\F0D8";
}
.add-cart.vertical .product-counter-widget .measurement-field {
    display: block;
    min-width: 50px;
    color: #777;

}
.add-cart.vertical .product-counter-widget .measurement-field .quantity-value {
    display: inline-block;
    font-size: 15px;
}
.add-cart.vertical .product-counter-widget .measurement-field .unit-name {
    display: inline-block;
    margin-left: 3px;
    font-size: 14px;
}
.button.disabled, .button[disabled] {
    opacity: .25;
    cursor: not-allowed;
}

.add-cart.vertical .product-counter-widget button {
    background: none;
    padding: 5px 10px;
    margin: 0;
    color: #777;
}
.fa-caret-down:before {
    content: "\F0D7";
}
img.product-img.square-80 {
    width: 70px;
    min-height: 80px;
    background-size: 80px;
}
.cart-items .table tr td:first-child+td+td {
    padding-left: 5px;
}
.cart-items .table tr td {
    vertical-align: middle;
    padding: 7px 0;
}
.align-self-top {
    align-self: flex-start;
}
table td, table th {
    font-size: .875rem;
    vertical-align: top;
}
.cart-items .table tr td .product-info .title {
    margin-bottom: 5px;
    font-size: 15px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
strong {
    font-weight: 700;

    line-height: inherit;
}
.cart-items .table tr td .remove-from-cart {
    position: absolute;
    right: -328px;
    top: 27px;
}







