.param .wrift{
    font-size: 30px;
    margin-right: 10px;
    background-color: #4285F4!important;
}
.target{
    font-size: 40px;
    margin-right: 5px;
    margin-left: 1px;
}
.Editorcheckbox{
    margin-left: 28px;
}
.icon_css{
    font-size: 40px;
    margin-right: 15px;
    margin-left: 10px;
}
.roleUser{
    font-size: 35px;
    margin-right: 9px;
    margin-left: 3px;
}
.btnOutes{
    display: none;
    visibility: hidden;
}
.btnUpdates{
    height: 40px;
}

#param-app,#icon_value-app{
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.zwidget, parent-div, param{
padding-bottom: 5px;
margin-left:7px;
}
#zinputparam, #zinputicon_value{
padding-bottom: 0px;
}

.marg{
    margin-top: 40px;
}

#out{

    padding: 14px 14px 0 14px;
}

.min-tx-heigth{
    min-height: 100px!important;
}
/*

#setDat {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#delMen {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#btnAdd {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#btnUpdate {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-header i {
    font-size: 30px;
    margin-right: 10px;
}

#ac_btn {
    width: 10px;
    height: 40px;
    margin-right: 10px;
    padding: 22px;
    text-align: center;
    position: relative;
}

#bta {
    width: 10px;
    height: 40px;
    margin-right: 10px;
    padding: 22px;
    position: relative;
}

.iconColor-bta {
    font-size: 13px !important;
    margin-bottom: 10px !important;
    position: absolute;
    top: -5px;
    left: -4px;
}

.iconColor-ac_btn {
    font-size: 13px !important;
    margin-bottom: 10px !important;
    position: absolute;
    top: -5px;
    left: -4px;
}

#param-app {
    margin-left: 10px;
}

#icon_value-app {
    margin-left: 10px;
}

#targetValue {
    margin-left: 20px;
}

.section-1 {
    padding: 5px;
}

.section-2 {
    padding: 5px;
}

.card-header {
    height: 50px;
    text-align: center;
}

.card-header i {
    font-size: 25px;
}

.card-header h5 {
    text-align: center;
    font-size: 20px;
}


.select2-container .select2-selection--single {
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    height: 35px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.select2-selection .select2-selection--multiple{

}



#text {
    border-bottom: 1px solid lightgray;
    border-top: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.iconn {
    font-size: 30px !important;
    margin-right: 10px;
    color: darkblue !important;
    margin-left: 5px;
}

.icon_css{
    font-size: 30px;
    margin-right: 18px;
    color: darkblue;
}

.isIc{
    font-size: 30px;
    margin-right: 25px;
    color: darkblue !important;
}





#class {
    border: 0 solid lightgray;
    border-bottom-width: 1px;
    border-radius: 0 !important;
}

#href {
    border-bottom: 1px solid lightgray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.invalid-feedback {
    margin: 0 !important;
}

.highlight-addon {
    margin: 0 !important;
}

#param {
    border-bottom: 1px solid lightgray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.selectMultiple {
    border: 0 solid lightgray;
    border-bottom-width: 1px;
    border-radius: 0;
}

.fa-keyboard {
    left: 0;
}
.select2-dropdown{
    width: 200px !important;
}

.select2-selection{
    width: 200px !important;
}
.ft {
    font-size: 20px !important;
}

.fa-chart-pie {
    font-size: 25px;
    margin-right: 10px;
}

.section-1 {
    padding: 1px !important;
}

.section-2 {
    min-height: 300px;
}
.card-body{
    overflow: hidden
}

.section-4 {
    padding:1.75rem !important;
}

.section-5 {
    visibility: hidden;
    overflow:scroll;
}
.section-6 {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-right:20px;
}
.iconn{
    padding-left: 5px;
}

.btn-1 {
    display: none;
}

.btn-2 {
    margin-right: 10px
}

#btnAdd {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#btnUpdate {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.select-1 {
    width:50%;
}

.select-2 {
    width: 90%;
}

.select-3 {
    width: 90%;
}

.select-4 {
    width: 90%;
}

.selectLabel {
    margin-right: 10px;
    margin-left: 5px;
}

.inputMenu {
    width:45%;
    height: 35px;
    margin-right: 20px !important;
}

.formGroup {
    margin-left:2px;
    width: 95% !important;
}


.inputIcon {
    height: 35px !important;
    margin-left: 20px;
    width: 35%;
    border: 0;
    border-bottom: 1px solid gray;
}

.select2-container--krajee{
    width: 500px !important;
}

#ac_btn{
    width: 20px !important;
    padding-left: 12px;

}

.iconColor-ac_btn{
    margin-right: 10px !important;
}



#bta{
    width: 20px !important;
    padding-left: 12px;

}

*/
