html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
.rad0-header{
	background: #3EA7E1FF;
}
.rad0-header .mburger{
	color: white;
}
.text-byrad0{
	color: #3EA7E1FF
}
.open{
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	background: none;
	border:1px solid white;
	border-radius: 7px;
	color: white;
	cursor: pointer;
}
