
.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
    position: relative;
    overflow-y: scroll;
}

.card.chat-room .members-panel-1 {
    height: 90vh;
}

.card.chat-room .chat-1 {
    height: 80vh !important;
}

.card.chat-room .friend-list li {
    border-bottom: 1px solid #e0e0e0;
}

.card.chat-room .friend-list li:last-of-type {
    border-bottom: none;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 5px;
}


.reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

.reply-emojis {
    padding: 5px !important;
}

.reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-recording {
    padding: 5px !important;
}

.reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-send {
    padding: 5px !important;
}

.reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-main {
    padding: 2px 5px !important;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}

.reply {
    height: 70px;
}

.reply-emojis {
    padding: 5px 0 !important;
}

.reply-emojis i {
    padding: 5px 2px !important;
    font-size: 1.8em !important;
}

.reply-main {
    padding: 2px 8px !important;
}

.reply-main textarea {
    padding: 8px !important;
    font-size: 18px;
}

.reply-recording {
    padding: 5px 0 !important;
}

.reply-recording i {
    padding: 5px 0 !important;
    font-size: 1.8em !important;
}

.reply-send {
    padding: 5px 0 !important;
}

.reply-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
}


    
