<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="jquery.domenu-0.100.77.css"/>
</head>
...
<script src="jquery.domenu-0.100.77.js"></script>

</head>
<body>
    <section>
  <div class="dd" id="domenu-0" style="margin-left: 20%;">
    <button class="dd-new-item">+</button>
    <li class="dd-item-blueprint">
      <button class="collapse" data-action="collapse" type="button" style="display: none;">–</button>
      <button class="expand" data-action="expand" type="button" style="display: none;">+</button>
      <div class="dd-handle dd3-handle">Drag</div>
      <div class="dd3-content">
        <span class="item-name">[item_name]</span>
        <div class="dd-button-container">
          <button class="item-add">+</button>
          <button class="item-remove" data-confirm-class="item-remove-confirm">×</button>
        </div>
        <div class="dd-edit-box" style="display: none;">
          <input type="text" name="title" autocomplete="off" placeholder="Item" data-placeholder="Any nice idea for the title?" data-default-value="doMenu List Item. {?numeric.increment}">
          <i class="end-edit">save</i>
        </div>
      </div>
    </li>
    <ol class="dd-list"><li class="dd-item" style="">
      <button class="collapse" data-action="collapse" type="button" style="display: none;">–</button>
      <button class="expand" data-action="expand" type="button" style="display: none;">+</button>
      <div class="dd-handle dd3-handle">Drag</div>
      <div class="dd3-content">
        <span class="item-name">doMenu List Item. 2</span>
        <div class="dd-button-container">
          <button class="item-add">+</button>
          <button class="item-remove" data-confirm-class="item-remove-confirm">×</button>
        </div>
        <div class="dd-edit-box" style="display: none;">
          <input type="text" name="title" autocomplete="off" placeholder="Any nice idea for the title?" data-placeholder="Any nice idea for the title?" data-default-value="doMenu List Item. {?numeric.increment}">
          <i class="end-edit">save</i>
        </div>
      </div>
    </li>
    <li class="dd-item" style="">
      <button class="collapse" data-action="collapse" type="button" style="display: none;">–</button>
      <button class="expand" data-action="expand" type="button" style="display: none;">+</button>
      <div class="dd-handle dd3-handle">Drag</div>
      <div class="dd3-content">
        <span class="item-name">doMenu List Item. 1</span>
        <div class="dd-button-container">
          <button class="item-add">+</button>
          <button class="item-remove" data-confirm-class="item-remove-confirm">×</button>
        </div>
        <div class="dd-edit-box" style="display: none;">
          <input type="text" name="title" autocomplete="off" placeholder="Any nice idea for the title?" data-placeholder="Any nice idea for the title?" data-default-value="doMenu List Item. {?numeric.increment}">
          <i class="end-edit">save</i>
        </div>
      </div>
    </li><li class="dd-item">
      <button class="collapse" data-action="collapse" type="button" style="display: none;">–</button>
      <button class="expand" data-action="expand" type="button" style="display: none;">+</button>
      <div class="dd-handle dd3-handle">Drag</div>
      <div class="dd3-content">
        <span class="item-name">Hi, drag me!</span>
        <div class="dd-button-container">
          <button class="item-add">+</button>
          <button class="item-remove" data-confirm-class="item-remove-confirm">×</button>
        </div>
        <div class="dd-edit-box" style="display: none;">
          <input type="text" name="title" autocomplete="off" placeholder="Any nice idea for the title?" data-placeholder="Any nice idea for the title?" data-default-value="doMenu List Item. {?numeric.increment}">
          <i class="end-edit">save</i>
        </div>
      </div>
    </li><li class="dd-item">
      <button class="collapse" data-action="collapse" type="button" style="display: none;">–</button>
      <button class="expand" data-action="expand" type="button" style="display: none;">+</button>
      <div class="dd-handle dd3-handle">Drag</div>
      <div class="dd3-content">
        <span class="item-name">No! Wait, drag me instead!</span>
        <div class="dd-button-container">
          <button class="item-add">+</button>
          <button class="item-remove" data-confirm-class="item-remove-confirm">×</button>
        </div>
        <div class="dd-edit-box" style="display: none;">
          <input type="text" name="title" autocomplete="off" placeholder="Any nice idea for the title?" data-placeholder="Any nice idea for the title?" data-default-value="doMenu List Item. {?numeric.increment}">
          <i class="end-edit">save</i>
        </div>
      </div>
    </li></ol>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('#domenu-0').domenu({
      data: '[{"title":"Hi, drag me!","customSelect":"select something...","select2ScrollPosition":{"x":0,"y":0}},{"title":"No! Wait, drag me instead!","customSelect":"http://test.com","select2ScrollPosition":{"x":0,"y":0}}]'
    }).parseJson()
  });
</script>

</body>
</html>