@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #F2F3F4;
}

#wrapper {
    text-align:center;
    font-family: 'Lato', sans-serif;
    text-transform:uppercase;
}

h1 {
    padding-top:30px;
    font-size:25px;
    letter-spacing:15px;
    color: #3AB09E;
}

#toolbar {
    width:100%;
    max-width:670px;
    min-width:550px;
    margin: 70px auto;
}

.button {
    width:70px;
    height:70px;
    border-radius:50%;
    background-color:#3AB09E;
    color:#ffffff;
    text-align:center;
    font-size:3.5em;
    position:relative;
    left:50%;
    margin-left:-35px;
    z-index:1;
}

.button,.icons{
    -webkit-transition: -webkit-all 1s cubic-bezier(.87,-.41,.19,1.44);
    transition:  all 1s cubic-bezier(.87,-.41,.19,1.44);
}

.button:after {
    content: "+";
    position: absolute;
    width: 70px;
    left: 0;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left:60px;
}


.icons {
    width: 0;
    overflow: hidden;
    height: 66px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #DCDCDC;
    margin: -63px 0 0 45%;
    border-radius: 2em;
    transform: translateX(13px) translateY(-4px);
}

.icons.open {
    width:80%;
    margin:-68px 0 0 8%;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons li {
    display: none;
    width:10%;
    color:#3AB09E;
}

.icons.open li {
    width:16%;
    display: inline-block;
}