ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

  h1, h2, h3, h4, h5, h6{
    color: #3b7440;
  }

  .nav-list{
    list-style: none;
    display: inline-block;
    margin-left: 34%;
  }

  .nav-list-item{
    display: inline-block;
    padding: 5px 10px;
    background-color: #5aae61;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.4s ease-in-out all;
  }

  .nav-list-item a{
    color: white;
  }

  .nav-list-item:hover{
    background-color: #3b7440;
  }

  .active{
    background-color: #3b7440;
  }

  table{
    border-radius:20px!important;
  }

  thead{
    background-color: #5aae61!important;
  }