.z-border {
    border: 1px solid black;
}

.popover-body {
    padding: 0;
}

.gjs-off-prv {
    background-color: white;
}

/*width of settings inputs*/

.input-group > .select2-container--krajee-bs4:not(:first-child) .select2-selection {

    height: 35px;
    width: 200px;
}

.gjs-layer__icon {
    display: none;
}

.addedBtn {
    display: none;
}

#gotoPage {
    display: none;
    text-decoration: none;
    color: btnItemColor;
    font-weight: bold;
}

#gotoPage::after {
    content: 'Go to Page';
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.gjs-pn-options .gjs-pn-buttons .fa-eye {
    position: absolute;
    right: -34%;
    border: 0.5px solid #d0bace;
    border-radius: 4px;
    padding: 10px;
}

.gjs-pn-options .gjs-pn-buttons .fa-eye::after {
    content: "Посмотреть";
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 8px;
}

.gjs-pn-options {
    top: 5px;
    right: 27%;
    display: flex;
}

.gjs-pn-options .gjs-pn-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    margin-left: 20px;
}

.gjs-pn-options .gjs-pn-buttons .fa-square-o {
    grid-column: 1;
    left: 5px;
}

.gjs-pn-options .gjs-pn-buttons .fa-undo::after, .gjs-pn-options .gjs-pn-buttons .fa-square-o::after, .gjs-pn-options .gjs-pn-buttons .fa-arrows-alt::after, .gjs-pn-options .gjs-pn-buttons .fa-repeat::after, .gjs-pn-options .gjs-pn-buttons .fa-download::after, .gjs-pn-options .gjs-pn-buttons .fa-trash::after, .gjs-pn-options .gjs-pn-buttons .fa-code::after {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.gjs-pn-options .gjs-pn-buttons .fa-undo::after {
    content: "Назад";
}

.gjs-pn-options .gjs-pn-buttons .fa-square-o::after {
    content: "Вид";
}

.gjs-pn-options .gjs-pn-buttons .fa-arrows-alt::after {
    content: "Полный экран";
}

.gjs-pn-options .gjs-pn-buttons .fa-repeat::after {
    content: "Вперёд";
}

.gjs-pn-options .gjs-pn-buttons .fa-download::after {
    content: "Скачать";
}

.gjs-pn-options .gjs-pn-buttons .fa-trash::after {
    content: "Очистить";
}

.gjs-pn-options .gjs-pn-buttons .fa-code::after {
    content: "Посмотреть код";
}

.gjs-pn-options .fa-save::after {
    content: "Сохранить";
    display: block;
    font-size: 1rem;
    font-weight: bold;
}


.gjs-label-o {
    display: block;
    font-size: 1rem;
    overflow-wrap: break-word;
}

.gjs-pn-panel:nth-child(3) {
    max-width: 40px;
    background-color: secondaryColor;
    padding-left: 0;
}

.gjs-pn-views .gjs-pn-buttons {
    display: grid;
    justify-content: left;
    grid-template-columns: 40px;
    grid-template-areas: "auto" "auto" "auto" "auto";
}

.gjs-pn-views .gjs-pn-buttons .fa-th-large {
    grid-row: 1;
}

.gjs-pn-views .gjs-pn-buttons .fa-paint-brush {
    grid-row: 3;
}

.gjs-pn-views .gjs-pn-buttons span {
    margin: 17px 0;
    padding: 10px 3px;
    display: block;
}

/*.gjs-pn-buttons{
    width: 40px;
}*/

.gjs-cv-canvas {
    width: 77.7%;
    height: 100%;
    top: 7%;
    right: 0;
    left: 22.5%;
    overflow: auto;
}

#search_grape {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: inline-block;
    width: 95%;
    margin: 7px auto;

border:

1
px solid {
    thirdColor
}

;
border-radius:

5
px

}

.gjs-pn-views-container {
    left: 40px;
    overflow: auto;
    top: -10px;
}

.gjs-pn-views {
    width: 40px;
    left: 0;
    padding-top: 18px;

background-color: {
    secondaryColor
}

;
/*border-bottom:0.5px solid #e0e0e0;*/
}

#review_div {
    /*grid-column:4;
    grid-row: 1;*/
    position: absolute;
    top: -7px;
    right: -53%;
    cursor: pointer;
    padding: 5px;

border:

0.5
px solid {
    secondaryColor
}

;
border-radius:

4
px

;
}

.gjs-one-bg {

background-color: {
    primaryColor
}

;
}

.gjs-editor {

background-color: {
    secondaryColor
}

!important
;
height:

120
%
;
}


#gjs-clm-states {

background-color: {
    secondaryColor
}

;
}

.gjs-clm-tags #gjs-clm-tags-field {

background-color: {
    secondaryColor
}

;
}

.gjs-radio-item {

background-color: {
    secondaryColor
}

;
}

.gjs-field-integer input {

background-color: {
    secondaryColor
}

;
}

.gjs-input-holder input {

color: {
    btnItemColor
}

!important
;
}


.gjs-layer-count {
    top: 4px;
    right: 30px;
}

#activeForm .form-group div {
    display: inline-block;
}

label {
    max-width: 110px;
    font-weight: 400;
}

.gjs-block-category .gjs-title, .gjs-category-title, .gjs-clm-tags .gjs-sm-title, .gjs-layer-title, .gjs-sm-sector .gjs-sm-title {

background-color: {
    blockColor
}

;
transition:

0.4
s ease-in-out all

;
font-weight:

400
;
border-bottom: none

;
border-top:

0.5
px solid {
    thirdColor
}

d6

;
}
.gjs-block-category .gjs-title:hover, .gjs-category-title:hover, .gjs-clm-tags .gjs-sm-title:hover, .gjs-layer-title:hover, .gjs-sm-sector .gjs-sm-title:hover {

background-color: {
    activeBtnColor
}

;
}

i {
    transition: 0.4s ease-in-out all;
}

.gjs-blocks-c {
    transition: 0.4s ease-in-out all;

background-color: {
    secondaryColor
}

;
}

.gjs-two-color {

color: {
    btnItemColor
}

;
font-weight:

500
;
}

.gjs-clm-tags .gjs-clm-tag {
    max-width: 100%;
    max-height: 170px;
}


.gjs-clm-tag span svg {
    max-width: 40px;
}

.gjs-clm-close {
    display: block;
}

.gjs-three-bg {

background-color: {
    activeBtnColor
}

;
}

.select2-container--bootstrap4 .select2-selection__clear {
    background-color: transparent;

color: {
    thirdColor
}

;
font-weight: bolder

;
}

.gjs-field {

background-color: {
    activeBtnColor
}

;
}
#gjs-clm-new {

color: {
    btnItemColor
}

!important
;
}

.gjs-clm-sel {
    width: 100%;
    overflow: revert;
}

.gjs-clm-sels {
    overflow-wrap: break-word;
    font-weight: bolder;
}

.gjs-field-units {
    display: none;
}

.gjs-input-holder input {

color: {
    btnItemColor
}

;
}

.gjs-clm-tags #gjs-clm-tag-label {
    display: block;
}

#content {
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


#search_grape:hover, #search_grape:active {
    border: none;
}

#scope_div {
    display: inline-block;
    display: none;
}

#scope_div span {
    background-color: transparent;
    border: none;
}

#search-grape:active #scope_div span {

background-color: {
    primaryColor
}

;
}

.gjs-block {

border:

0.7
px dashed {
    thirdColor
}

;
}
.gjs-block-label {
    padding-top: 6px;
    overflow-wrap: break-word;
}

.gjs-layer-vis {
    top: 2px;
}

.gjs-pn-btn {
    font-size: 1.5rem;
    padding: 3px 9px;
}

#gjs {
    height: 120vh !important;
    padding-bottom: 4.3%;
}

.gjs-pn-devices-c {
    position: absolute;
    right: 0;
    top: 2%;
}

.gjs-pn-commands, .gjs-pn-options, .gjs-pn-views, .gjs-pn-devices-c {
    border-bottom: 0 solid transparent;
}

.gjs-pn-options, .gjs-pn-devices-c {
    padding-top: 0;
}

.gjs-pn-commands {
    right: 0;
    left: 0;
    width: 120%;
    box-shadow: none;
    /*border-bottom:0.5px solid rgba(0,0,0,0.4);*/
}

.gjs-clm-tags .gjs-sm-stack #gjs-sm-add, .gjs-color-main, .gjs-off-prv, .gjs-sm-sector .gjs-sm-stack #gjs-sm-add {

color: {
    thirdColor
}

;
fill: {
    thirdColor
}

;
font-size:

1.2
rem

;
}
.gjs-bg-main, .gjs-clm-tags .gjs-sm-colorp-c, .gjs-off-prv, .gjs-sm-sector .gjs-sm-colorp-c {

background-color: {
    secondaryColor
}

;
}

.gjs-pn-panels .gjs-pn-panel:first-child {
    padding-bottom: 25px;
}


.gjs-pn-options .gjs-pn-buttons .fa-undo {
    grid-column: 2;
    grid-row: 1;
}

.gjs-pn-options .gjs-pn-buttons .fa-repeat {
    grid-column: 3;
    grid-row: 1;
}

.gjs-pn-options .gjs-pn-buttons .fa-arrows-alt {
    grid-column: 5;
    grid-row: 1;
}

.gjs-pn-options .gjs-pn-buttons .fa-code {
    grid-column: 6;
    grid-row: 1;
    margin-right: 30px;
}

.gjs-pn-options .gjs-pn-buttons .fa-trash {
    grid-column: 7;
    grid-row: 1;
}

.gjs-pn-options .fa-save {
    font-size: 1.3rem;
}

.gjs-pn-btn.gjs-pn-active {

background-color: {
    activeBtnColor
}

;
color: {
    thirdColor
}

;
}

.gjs-pn-btn:hover {

background-color: {
    activeBtnColor
}

;
color: {
    thirdColor
}

}


.gjs-pn-panel:nth-child(5) {
    padding-top: 0;
    margin-top: 9.3px;
    width: 19%;
}

.gjs-clm-tags-btn svg {
    max-width: 30px;
}

.submit_button {
    position: absolute;
    z-index: 9999;
    width: 60px;
    height: 60px;
    /*transform: translate(-76%, 50%);*/
    /*top: 50%;*/
    bottom: 0;
    background: #28a745;
    border: 1px;
    padding: 3px 3px;

/*border-radius: 0 5px 5px 0;*/
color: {
    primaryColor
}

;
font-size:

14
px

;
cursor: pointer

;
/*transition: 0.5s;*/
}
.gjs-layer-name {
    padding: 16px 0;
    padding-top: 0 !important;
}

.gjs-layer-title {
    padding-left: 70px;
}

.content-footer {
    padding-top: 0 !important;
}

.gjs-block-category:first-child, .gjs-block-category:nth-child(2), .gjs-block-category:nth-child(3), .gjs-block-category:nth-child(4) {
    display: none;
}

.gjs-trt-traits {
    display: none;
}

.sidebar {
    height: 100%;
    background-color: #C0C0C0;
}
