.speaker_preview {
max-height: 22px;
background-color: rgb(252, 255, 218);
padding: 22px 25px;
border: 1px solid #e6db55;
border-radius: 4px;
position: relative;
}
.sound_container_pro {
	display: inline-block;
	position: relative;
	z-index: 9999;
	cursor: pointer;
}
.sound_container_pro.size_1 {
	width: 32px;
	height: 32px;
	left: 7px;
	top: -7px;
}
.sound_container_pro.size_0 {
	width: 16px;
	height: 16px;
	left: 5px;
	top: 0px;
}
.next_speaker,.next_tooltip {
color: rgb(128, 69, 15);
padding: 2px 0;
text-align: center;
border-radius: 4px;
width: 38px;
font-size: 12px;
position: absolute;
left: 0px;
top: -7px;
cursor: pointer;
border: 1px solid #e6db55;
background-color: rgb(252, 255, 218);

}
.next_speaker:hover,.next_tooltip:hover {
	text-decoration: underline;
	background-color: rgb(253, 234, 194);
	border-radius: 6px;
	border: 1px solid rgb(230, 149, 85);
}
.prev_speaker,.prev_tooltip {
color: rgb(128, 69, 15);
padding: 2px 0;
text-align: center;
border-radius: 4px;
width: 38px;
font-size: 12px;
position: absolute;
left: 0px;
bottom: -4px;
cursor: pointer;
border: 1px solid #e6db55;
background-color: rgb(252, 255, 218);
}
.prev_speaker:hover,.prev_tooltip:hover {
	text-decoration: underline;
	background-color: rgb(253, 234, 194);
	border-radius: 6px;
	border: 1px solid rgb(230, 149, 85);
}
select {
	cursor: pointer;
padding: 2px;
border: 1px solid rgb(177, 171, 171);
border-radius: 8px;
color: #333;
font-size: 12px;
}
select:hover,select:focus {
background-color: rgb(252, 255, 218);
border: 1px solid #e6db55;
}

input,textarea {
cursor: pointer;
padding: 2px;
border: 1px solid rgb(177, 171, 171);
border-radius: 8px;
color: #333;
font-size: 12px;
}
input:hover,input:focus,textarea:hover,textarea:focus {
background-color: rgb(252, 255, 218);
border: 1px solid #e6db55;
}
.old_p {
	margin: 12px 2px;
}
.wpgs_slider {
	width: 353px;
}

.purchase_block{
	position: relative;
    padding: 10px;
    margin: 10px 0 17px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color:#111;

    font-weight: bold;
    font-size: 14px;
    text-align: center;

    border: 1px solid #DFDFDF;
    background-color: #EFEFEF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#EFEFEF"); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#EFEFEF)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #EFEFEF); /* for firefox 3.6+ */
}
.purchase_block_txt {
	color:#333;
	margin-bottom: 6px;
	text-shadow: 1px 1px 0px #fff;
}

#scf_buy_pro{
border: 1px solid #F3C3BA;
text-decoration: none;
display: inline-block;
font-weight: bold;
cursor: pointer;
background-color: #FD2600;
padding: 12px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
color: #fff;
font-size: 16px;
text-shadow: 1px 1px 0px #000;
background: -webkit-gradient(linear, left top, left bottom, from(#FD2600), to(#961600));
background: -moz-linear-gradient(top,  #FD2600,  #961600); /* for firefox 3.6+ */

box-shadow: 2px 2px 5px rgba(158, 20, 1, 0.4);
}
#scf_buy_pro:hover{
box-shadow: 2px 2px 6px rgba(158, 20, 1, 0.65);
text-shadow: 1px 1px 1px #000;
}


.buy_pro {
	white-space: nowrap;
	text-shadow: 0px 0px 22px rgba(255, 226, 10, 0.74);
	top: 61px;
	right: 4px;
	position: absolute;
	color: rgb(240, 12, 12);
	display: block;
	font-weight: normal;
	font-size: 17px;
}
.pro_img {
	width: 140px;
	display: block;
}
.pro_wrapper {
	position: absolute;
	right: 21px;
	top: 11px;
}

/***********************************************SPEAKERS***********************************************************************************/
.sound_container_pro.speaker_1.size_0 {
	background: transparent url("../images/16/speaker1.png") left top no-repeat;
}
.sound_container_pro.speaker_1.size_1 {
	background: transparent url("../images/32/speaker1.png") left top no-repeat;
}

.sound_container_pro.speaker_2.size_0 {
	background: transparent url("../images/16/speaker2.png") left top no-repeat;
}
.sound_container_pro.speaker_2.size_1 {
	background: transparent url("../images/32/speaker2.png") left top no-repeat;
}

.sound_container_pro.speaker_3.size_0 {
	background: transparent url("../images/16/speaker3.png") left top no-repeat;
}
.sound_container_pro.speaker_3.size_1 {
	background: transparent url("../images/32/speaker3.png") left top no-repeat;
}

.sound_container_pro.speaker_4.size_0 {
	background: transparent url("../images/16/speaker4.png") left top no-repeat;
}
.sound_container_pro.speaker_4.size_1 {
	background: transparent url("../images/32/speaker4.png") left top no-repeat;
}

.sound_container_pro.speaker_5.size_0 {
	background: transparent url("../images/16/speaker5.png") left top no-repeat;
}
.sound_container_pro.speaker_5.size_1 {
	background: transparent url("../images/32/speaker5.png") left top no-repeat;
}

.sound_container_pro.speaker_6.size_0 {
	background: transparent url("../images/16/speaker6.png") left top no-repeat;
}
.sound_container_pro.speaker_6.size_1 {
	background: transparent url("../images/32/speaker6.png") left top no-repeat;
}

.sound_container_pro.speaker_7.size_0 {
	background: transparent url("../images/16/speaker7.png") left top no-repeat;
}
.sound_container_pro.speaker_7.size_1 {
	background: transparent url("../images/32/speaker7.png") left top no-repeat;
}

.sound_container_pro.speaker_8.size_0 {
	background: transparent url("../images/16/speaker8.png") left top no-repeat;
}
.sound_container_pro.speaker_8.size_1 {
	background: transparent url("../images/32/speaker8.png") left top no-repeat;
}

.sound_container_pro.speaker_9.size_0 {
	background: transparent url("../images/16/speaker9.png") left top no-repeat;
}
.sound_container_pro.speaker_9.size_1 {
	background: transparent url("../images/32/speaker9.png") left top no-repeat;
}

.sound_container_pro.speaker_10.size_0 {
	background: transparent url("../images/16/speaker10.png") left top no-repeat;
}
.sound_container_pro.speaker_10.size_1 {
	background: transparent url("../images/32/speaker10.png") left top no-repeat;
}

.sound_container_pro.speaker_11.size_0 {
	background: transparent url("../images/16/speaker11.png") left top no-repeat;
}
.sound_container_pro.speaker_11.size_1 {
	background: transparent url("../images/32/speaker11.png") left top no-repeat;
}

.sound_container_pro.speaker_12.size_0 {
	background: transparent url("../images/16/speaker12.png") left top no-repeat;
}
.sound_container_pro.speaker_12.size_1 {
	background: transparent url("../images/32/speaker12.png") left top no-repeat;
}

.sound_container_pro.speaker_13.size_0 {
	background: transparent url("../images/16/speaker13.png") left top no-repeat;
}
.sound_container_pro.speaker_13.size_1 {
	background: transparent url("../images/32/speaker13.png") left top no-repeat;
}

.sound_container_pro.speaker_14.size_0 {
	background: transparent url("../images/16/speaker14.png") left top no-repeat;
}
.sound_container_pro.speaker_14.size_1 {
	background: transparent url("../images/32/speaker14.png") left top no-repeat;
}

.sound_container_pro.speaker_15.size_0 {
	background: transparent url("../images/16/speaker15.png") left top no-repeat;
}
.sound_container_pro.speaker_15.size_1 {
	background: transparent url("../images/32/speaker15.png") left top no-repeat;
}

.sound_container_pro.speaker_16.size_0 {
	background: transparent url("../images/16/speaker16.png") left top no-repeat;
}
.sound_container_pro.speaker_16.size_1 {
	background: transparent url("../images/32/speaker16.png") left top no-repeat;
}

.sound_container_pro.speaker_17.size_0 {
	background: transparent url("../images/16/speaker17.png") left top no-repeat;
}
.sound_container_pro.speaker_17.size_1 {
	background: transparent url("../images/32/speaker17.png") left top no-repeat;
}

.sound_container_pro.speaker_18.size_0 {
	background: transparent url("../images/16/speaker18.png") left top no-repeat;
}
.sound_container_pro.speaker_18.size_1 {
	background: transparent url("../images/32/speaker18.png") left top no-repeat;
}

.sound_container_pro.speaker_19.size_0 {
	background: transparent url("../images/16/speaker19.png") left top no-repeat;
}
.sound_container_pro.speaker_19.size_1 {
	background: transparent url("../images/32/speaker19.png") left top no-repeat;
}

.sound_container_pro.speaker_20.size_0 {
	background: transparent url("../images/16/speaker20.png") left top no-repeat;
}
.sound_container_pro.speaker_20.size_1 {
	background: transparent url("../images/32/speaker20.png") left top no-repeat;
}

.sound_container_pro.speaker_21.size_0 {
	background: transparent url("../images/16/speaker21.png") left top no-repeat;
}
.sound_container_pro.speaker_21.size_1 {
	background: transparent url("../images/32/speaker21.png") left top no-repeat;
}

.sound_container_pro.speaker_22.size_0 {
	background: transparent url("../images/16/speaker22.png") left top no-repeat;
}
.sound_container_pro.speaker_22.size_1 {
	background: transparent url("../images/32/speaker22.png") left top no-repeat;
}

.sound_container_pro.speaker_23.size_0 {
	background: transparent url("../images/16/speaker23.png") left top no-repeat;
}
.sound_container_pro.speaker_23.size_1 {
	background: transparent url("../images/32/speaker23.png") left top no-repeat;
}

.sound_container_pro.speaker_24.size_0 {
	background: transparent url("../images/16/speaker24.png") left top no-repeat;
}
.sound_container_pro.speaker_24.size_1 {
	background: transparent url("../images/32/speaker24.png") left top no-repeat;
}

.sound_container_pro.speaker_25.size_0 {
	background: transparent url("../images/16/speaker25.png") left top no-repeat;
}
.sound_container_pro.speaker_25.size_1 {
	background: transparent url("../images/32/speaker25.png") left top no-repeat;
}

.sound_container_pro.speaker_26.size_0 {
	background: transparent url("../images/16/speaker26.png") left top no-repeat;
}
.sound_container_pro.speaker_26.size_1 {
	background: transparent url("../images/32/speaker26.png") left top no-repeat;
}

.sound_container_pro.speaker_27.size_0 {
	background: transparent url("../images/16/speaker27.png") left top no-repeat;
}
.sound_container_pro.speaker_27.size_1 {
	background: transparent url("../images/32/speaker27.png") left top no-repeat;
}

.sound_container_pro.speaker_28.size_0 {
	background: transparent url("../images/16/speaker28.png") left top no-repeat;
}
.sound_container_pro.speaker_28.size_1 {
	background: transparent url("../images/32/speaker28.png") left top no-repeat;
}

.sound_container_pro.speaker_29.size_0 {
	background: transparent url("../images/16/speaker29.png") left top no-repeat;
}
.sound_container_pro.speaker_29.size_1 {
	background: transparent url("../images/32/speaker29.png") left top no-repeat;
}

.sound_container_pro.speaker_30.size_0 {
	background: transparent url("../images/16/speaker30.png") left top no-repeat;
}
.sound_container_pro.speaker_30.size_1 {
	background: transparent url("../images/32/speaker30.png") left top no-repeat;
}

.sound_container_pro.speaker_31.size_0 {
	background: transparent url("../images/16/speaker31.png") left top no-repeat;
}
.sound_container_pro.speaker_31.size_1 {
	background: transparent url("../images/32/speaker31.png") left top no-repeat;
}

.sound_container_pro.speaker_32.size_0 {
	background: transparent url("../images/16/speaker32.png") left top no-repeat;
}
.sound_container_pro.speaker_32.size_1 {
	background: transparent url("../images/32/speaker32.png") left top no-repeat;
}

.sound_container_pro.speaker_33.size_0 {
	background: transparent url("../images/16/speaker33.png") left top no-repeat;
}
.sound_container_pro.speaker_33.size_1 {
	background: transparent url("../images/32/speaker33.png") left top no-repeat;
}

.sound_container_pro.speaker_34.size_0 {
	background: transparent url("../images/16/speaker34.png") left top no-repeat;
}
.sound_container_pro.speaker_34.size_1 {
	background: transparent url("../images/32/speaker34.png") left top no-repeat;
}

.sound_container_pro.speaker_35.size_0 {
	background: transparent url("../images/16/speaker35.png") left top no-repeat;
}
.sound_container_pro.speaker_35.size_1 {
	background: transparent url("../images/32/speaker35.png") left top no-repeat;
}

.sound_container_pro.speaker_36.size_0 {
	background: transparent url("../images/16/speaker36.png") left top no-repeat;
}
.sound_container_pro.speaker_36.size_1 {
	background: transparent url("../images/32/speaker36.png") left top no-repeat;
}

.sound_container_pro.speaker_37.size_0 {
	background: transparent url("../images/16/speaker37.png") left top no-repeat;
}
.sound_container_pro.speaker_37.size_1 {
	background: transparent url("../images/32/speaker37.png") left top no-repeat;
}

.sound_container_pro.speaker_38.size_0 {
	background: transparent url("../images/16/speaker38.png") left top no-repeat;
}
.sound_container_pro.speaker_38.size_1 {
	background: transparent url("../images/32/speaker38.png") left top no-repeat;
}

.sound_container_pro.speaker_39.size_0 {
	background: transparent url("../images/16/speaker39.png") left top no-repeat;
}
.sound_container_pro.speaker_39.size_1 {
	background: transparent url("../images/32/speaker39.png") left top no-repeat;
}

.sound_container_pro.speaker_40.size_0 {
	background: transparent url("../images/16/speaker40.png") left top no-repeat;
}
.sound_container_pro.speaker_40.size_1 {
	background: transparent url("../images/32/speaker40.png") left top no-repeat;
}

.sexy_tooltip_title {
	position: absolute;
	display: block;
	z-index: 9997;
	top: 2px;
	left: 50%;
	margin-left: -32px;
	opacity: 0.95;
}

.ui-accordion-content {
	overflow: visible !important;
}

.buy_pro {
	white-space: nowrap;
	text-shadow: 0px 0px 22px rgba(255, 226, 10, 0.74);
	top: 61px;
	right: 4px;
	position: absolute;
	color: rgb(240, 12, 12);
	display: block;
	font-weight: normal;
	font-size: 17px;
}
.pro_img {
	width: 140px;
	display: block;
}
.pro_wrapper {
	position: absolute;
	right: 21px;
	top: 3px;
}
.ext_title_wrapper {
	padding: 25px 0 0 7px;
}
.ext_title_wrapper a{
	font-size: 25px;
	text-decoration: none;
}
.ext_title_wrapper img{
	margin-bottom: -6px;
}
.ext_info_wrapper {
	position: relative;
	height: 87px;
}