$wfm-icon-font-dir: '../fonts/';
$wfm-icon-font-file: 'wfm-icon-font';
$wfm-icon-font-name: 'wfm-icon-font';
$wfm-icon-font-size: 150% !default;

@font-face {
    font-family: $wfm-icon-font-name;
    src: url($wfm-icon-font-dir + $wfm-icon-font-file + '.eot');
    src: url($wfm-icon-font-dir + $wfm-icon-font-file + '.eot?#iefix') format('embedded-opentype'),url($wfm-icon-font-dir + $wfm-icon-font-file + '.woff') format('woff'), url($wfm-icon-font-dir + $wfm-icon-font-file + '.ttf') format('truetype'), url($wfm-icon-font-dir + $wfm-icon-font-file + '.svg#glyphicons_halflingsregular') format('svg');
}

.wfm-icon {
  font-size: $wfm-icon-font-size;
}

.wfm-icon:before {
    font-family: $wfm-icon-font-name;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.well-summary-icon:before {
    content: "\e601";
}

.wroup-summary-icon:before {
    content: "\e601";
}

.wield-summary-icon:before {
    content: "\e601";
}

.wegion-summary-icon:before {
    content: "\e601";
}

.company-summary-icon:before {
    content: "\e601";
}

.well-sketch-icon:before {
    content: "\e602";
}

.well-volume-icon:before {
    content: "\e602";
}

.well-history-icon:before {
    content: "\e603";
}

.well-map-icon:before {
    content: "\e604";
}

.wield-map-icon:before {
   content: "\e604";
}

.well-log-icon:before {
    content: "\e605";
}

.well-perfomance-icon:before {
    content: "\e606";
}

.well-test-icon:before {
    content: "\e607";
}

.well-integrity-icon:before {
    content: "\e608";
}

.wroup-integrity-icon:before {
    content: "\e608";
}

.well-nodalanalysis-icon:before {
    content: "\e609";
}

.well-report-icon:before {
    content: "\e610";
}

.wroup-report-icon:before {
    content: "\e610";
}

.wield-report-icon:before {
    content: "\e610";
}

.wegion-report-icon:before {
    content: "\e610";
}

.company-report-icon:before {
    content: "\e610";
}

.wroup-unit-icon:before {
    content: "\e611";
}

.wroup-potential-icon:before {
    content: "\e612";
}

.wield-potential-icon:before {
    content: "\e612";
}

.wegion-potential-icon:before {
    content: "\e612";
}

.well-monitoring-icon:before {
    content: "\e613";
}

.wroup-monitoring-icon:before {
    content: "\e613";
}

.wegion-location-icon:before {
    content: "\e614";
}

.wield-reservoir-icon:before {
    content: "\e615";
}

.wield-pvt-icon:before {
    content: "\e616";
}

.wroup-layout-icon:before {
    content: "\e617";
}

// Without icons (summary as default)
.wield-spe-icon:before {
    content: "\e601";
}