.tab {
    background-color: #13242b;
}

.tab button {
    background-color: inherit;
    color: #fff;
}
.tab button:hover {
    background-color: #263137;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #263137;
    outline: none;
}
.tabcontent {
    background-color: #263137;
}
.tabcontent h3, p{
    color: #fff;
}