.tab {
    background-color: #f3f3f3;
}

.tab button {
    background-color: inherit;
    color: #6e6e6e;
}
.tab button:hover {
    background-color: #dee1e6;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #dee1e6;
    outline: none;
}
.tabcontent {
    background-color: #dee1e6;
}
.tabcontent h3, p{
    color: #6e6e6e;
}