body {
    padding: 0;
    margin: 0;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: solid 3px salmon;
    background: white;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.canvas {
    width: 94%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    border: 2px solid #eee;
}

.menu {
    width: 5%;
    background-color: #eee;
    height: 100vh;
    transition: 1s all;
}

.menu-scale {
    width: 15%;
    transition: 1s all;
}

.menu-open.menu-open--icon {
    width: 40%;
    transition: all .3s ease-in-out;
}

.menu-open--icon i {
    color: #a1ded8;
    font-size: 35px;
}


.box {
    width: 100px;
    height: 100px;
    background: red;
}

