<!DOCTYPE html>

<head>
    <!--<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
-->
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="plugins/ps-icon/style.css">

<!--     CSS Library-->

    <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="plugins/owl-carousel/assets/owl.carousel.css">

    <link rel="stylesheet" href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">

    <link rel="stylesheet" href="plugins/slick/slick/slick.css">

    <link rel="stylesheet" href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="plugins/Magnific-Popup/dist/magnific-popup.css">

    <link rel="stylesheet" href="plugins/jquery-ui/jquery-ui.min.css">

    <link rel="stylesheet" href="plugins/revolution/css/settings.css">

    <link rel="stylesheet" href="plugins/revolution/css/layers.css">

    <link rel="stylesheet" href="plugins/revolution/css/navigation.css">
    
    <link rel="stylesheet" href="css/style.css">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
<!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]&ndash;&gt;-->
</head>

<style>
    .zoomContainer {
        border: 2px solid limegreen;
    }
    .item {
    }

</style>

<body class="ps-loading">
<div class="header--sidebar"></div>


<main class="ps-main">
    <div class="test">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                </div>
            </div>
        </div>
    </div>
    <div class="ps-product--detail pt-60">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-lg-offset-1">
                    <div class="ps-product__thumbnail">
                        <div class="ps-product__preview">
                            <div class="ps-product__variants">
                                <div class="item"><img src="https://repost.uz/storage/uploads/file_5e9866099aac69.189804491587045897.jpg" alt=""></div>
                                <div class="item"><img src="https://regnum.ru/uploads/pictures/news/2019/04/23/regnum_picture_1555998929284931_normal.jpg" alt=""></div>
                                <div class="item"><img src="https://lh3.googleusercontent.com/proxy/hOS5fb1FM7Trxgb_zqitkxYIyl8IhqazQXsUzdKZ3ueyQRnfLH96ghN8iLaXCnPdCgxbDFKL8j94m5RvZs-niQkJU1oroivbna-genSXEwQFchX1xg" alt=""></div>
                                <div class="item"><img src="https://runiron.com/wp-content/uploads/2016/09/eat-for-runners.jpg" alt=""></div>
                                <div class="item"><img src="https://fainaidea.com/wp-content/uploads/2016/07/y_shutterstock_140121073-727x522.jpg" alt=""></div>
                            </div><a class="popup-youtube ps-product__video" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><img src="https://fainaidea.com/wp-content/uploads/2016/07/y_shutterstock_140121073-727x522.jpg" alt=""><i class="fa fa-play"></i></a>
                        </div>
                        <div class="ps-product__image">
                            <div class="item"><img class="zoom" src="https://nuz.uz/uploads/posts/2019-11/1574751311_image010.jpg" alt="" data-zoom-image="https://nuz.uz/uploads/posts/2019-11/1574751311_image010.jpg"></div>
                            <div class="item"><img class="zoom" src="https://repost.uz/storage/uploads/file_5e9866099aac69.189804491587045897.jpg" alt="" data-zoom-image="https://repost.uz/storage/uploads/file_5e9866099aac69.189804491587045897.jpg"></div>
                            <div class="item"><img class="zoom" src="https://lh3.googleusercontent.com/proxy/hOS5fb1FM7Trxgb_zqitkxYIyl8IhqazQXsUzdKZ3ueyQRnfLH96ghN8iLaXCnPdCgxbDFKL8j94m5RvZs-niQkJU1oroivbna-genSXEwQFchX1xg" alt="" data-zoom-image="https://lh3.googleusercontent.com/proxy/hOS5fb1FM7Trxgb_zqitkxYIyl8IhqazQXsUzdKZ3ueyQRnfLH96ghN8iLaXCnPdCgxbDFKL8j94m5RvZs-niQkJU1oroivbna-genSXEwQFchX1xg"></div>
                        </div>
                    </div>
                    <div class="ps-product__thumbnail--mobile">
                        <div class="ps-product__main-img"><img src="https://runiron.com/wp-content/uploads/2016/09/eat-for-runners.jpg" alt=""></div>
                        <div class="ps-product__preview owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="2000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="true" data-owl-item="3" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="3" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on"><img src="https://runiron.com/wp-content/uploads/2016/09/eat-for-runners.jpg" alt=""><img src="https://runiron.com/wp-content/uploads/2016/09/eat-for-runners.jpg" alt=""><img src="images/shoe-detail/3.jpg" alt=""></div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</main>
<!-- JS Library-->
<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>

<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.min.js"></script>

<script type="text/javascript" src="plugins/gmap3.min.js"></script>

<script type="text/javascript" src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>



<script type="text/javascript" src="plugins/slick/slick/slick.min.js"></script>

<script type="text/javascript" src="plugins/elevatezoom/jquery.elevatezoom.js"></script>

<script type="text/javascript" src="plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>





<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
