.call-stack ul li .code .lines-item {
    position: absolute;
    z-index: 200;
    display: block;
    width: 40px;
    text-align: right;
    color: #aaa;
    line-height: 21px;
    font-size: 12px;
    font-family: Consolas, monospace;
}

.call-stack ul li .code pre {
    position: relative;
    z-index: 200;
    left: 50px;
    line-height: 20px;
    font-size: 12px;
    font-family: Consolas, monospace;
    display: inline;
}

/*this css written for exception.php*/
.secondCard {
    border-top: 5px solid #2980b9;
    opacity: .9;
    min-height: 45vh;
    max-height: 65vh;
    overflow-y: auto;
}
