#theMap {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    /* border: 4px #f58220 solid; */
    /* border-radius: 8px; */
}

.customPopup .leaflet-popup-tip,
.customPopup .leaflet-popup-content-wrapper {
    background: #ffc107;
    color: #563d7d;
}

.customPopup a.leaflet-popup-close-button {
    color: #563d7d;
}

.customPopup a.leaflet-popup-close-button:hover {
    color: #fff;
}
