.zQMCDQIdRR ._1V30vmKHEX, .zQMCDQIdRR .hVIKKZ87yy {
    position: relative;
    display: flex;
    padding-top: 13px;
    padding-bottom: 18px;
}
.tamefSzMtq {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.zQMCDQIdRR:first-child ._1V30vmKHEX:before, .zQMCDQIdRR:first-child .hVIKKZ87yy:before {
    position: absolute;
    height: 1px;
    content: "";
    background: #eaeaea;
    top: -1px;
    right: 25px;
    left: 25px;
}
._1NcBg_l_w3:hover {
    color: red;
}
._3hRGsDQfLz {
    position: relative;
    width: 18%;
    padding-top: 4px;
}
._133vg97zC4 {
    width: 20%;
    padding-right: 16px;
    color: grey;
}
._1w4KCMvr1l:before {
    width: 60px;
}
._2nG1R1JuTE:before {
    width: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2ZmYTMwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTIgMTcuNzY4TDUuODQ4IDIxLjYzYS42LjYgMCAwMS0uOTAxLS42NTVsMS43NzItNy4wNDMtNS41NzMtNC42NTZhLjYuNiAwIDAxLjM0NC0xLjA2bDcuMjQ1LS40OSAyLjcwNy02Ljc0YS42LjYgMCAwMTEuMTEzIDBsMi43MDYgNi43NCA3LjI0Ni40OWEuNi42IDAgMDEuMzQ0IDEuMDZsLTUuNTczIDQuNjU2IDEuNzcyIDcuMDQzYS42LjYgMCAwMS0uOTAxLjY1NUwxMiAxNy43Njh6Ii8+PC9zdmc+);
}
._2nG1R1JuTE:after, ._2nG1R1JuTE:before {
    content: "";
    height: 100%;
    display: inline-block;
    background-repeat: repeat-x;
    -webkit-background-size: 12px 11px;
    -moz-background-size: 12px 11px;
    background-size: 12px 11px;
    background-position-y: center;
}
.zQMCDQIdRR ._2KrwxjtZMB {
    width: 14%;
    padding-top: 2px;
    padding-right: 5px;
}
._1Ws58FhWLZ {
    color: grey;
}
._3dGkE1UatE {
    font-size: 11px;
}
._3vEAefTheL {
    position: relative;
    margin: 4px 0;
    letter-spacing: .1px;
    font-size: 13px;
    line-height: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._35KB6eppdn {
    position: relative;
    flex-shrink: 0;
    text-align: right;
}
.zQMCDQIdRR ._1V30vmKHEX:after, .zQMCDQIdRR .hVIKKZ87yy:after {
    position: absolute;
    height: 1px;
    content: "";
    background: #eaeaea;
    bottom: 0;
    right: 25px;
    left: 25px;
}
._2eXq8npRBe, ._19AGKJ6gJy {
    display: flex;
    align-items: center;
}
._19AGKJ6gJy {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._3V5ZG89hp4 {

    display: inline-flex;
    width: -webkit-calc(100% - 24px);
    width: -moz-calc(100% - 24px);
    width: calc(100% - 24px);
}
.nid7rogj18 {
    min-width: 0;
}
._2eXq8npRBe {
    width: 100%;
    height: 20px;
}
._2eXq8npRBe, ._19AGKJ6gJy {
    display: flex;
    align-items: center;
}
.vuLxS6jSOb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CVUiwsdrXn {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSI+PHJlY3QgZmlsbD0iIzJFQjcyRSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiByeD0iMiIvPjxwYXRoIGQ9Ik03LjEzNiA0LjEyOWMuNDczLTEuNTg2IDEuMjQ0LTEuNTg1IDEuNzIzIDBsLjM3MiAxLjIzMWEuNzA4LjcwOCAwIDAwLjY1LjQ3MmgxLjA2N2MxLjY1NyAwIDEuOTIyLjgwOS42IDEuOGwtLjg1NC42NGMtLjIyNC4xNjgtLjMyMi41MTMtLjIyMy43NmwuNTMxIDEuMzI2Yy42MTcgMS41NDItLjAwOCAyLjA0My0xLjM3MyAxLjEzM2wtMS4yMTctLjgxMmEuODA2LjgwNiAwIDAwLS44MiAwbC0xLjIxNy44MTJjLTEuMzc1LjkxNy0xLjk5LjQxLTEuMzczLTEuMTMzbC41MzEtMS4zMjZhLjY4LjY4IDAgMDAtLjIyMy0uNzZsLS44NTQtLjY0Yy0xLjMyNS0uOTk0LTEuMDUyLTEuOC42LTEuOGgxLjA2N2MuMjggMCAuNTczLS4yMjEuNjQ4LS40NzJsLjM2Ny0xLjIzMXoiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+) 0 0 no-repeat;
}
._3Szg0IzJjT {
    max-width: calc(100% - 7px);
    margin-right: 8px;
}
._1zXaM2lObZ {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
._2IwbFpEZn7:hover{
    text-decoration: none;
}
._1fCQxcBHNV, ._3iTdXP_ssy {
    vertical-align: middle;
}
._2qHFKp_Y2-, ._2qHFKp_Y2- a {
    font-size: 13px;
}
._2qHFKp_Y2- {
    display: flex;
    margin-top: 3px;
    margin-bottom: 2px;
}
._57c9GCchxs {
    overflow: hidden;
    white-space: nowrap;
}
._19m_jhLgZR:link, ._19m_jhLgZR:visited {
    color: #04b;
    transition: color .25s ease-out;
}
._2qHFKp_Y2-, ._2qHFKp_Y2- a {
    font-size: 13px;
}
._2haA3dL9sm, ._28yWHnAj2C {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._2haA3dL9sm {
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin-right: 7px;
}
._2NmnJYuXuU, ._2qvOOvezty {
    font-family: YS Text,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
._2qvOOvezty {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    outline: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
._2qvOOvezty:hover{
    text-decoration: none;
}
.yys3dEoMrF {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._5gBd48-RGY {
    display: inline-flex;
}
._2nG1R1JuTE {
    width: 60px;
    height: 12px;
}
._68NYw3evqd:before {
    width: 48px;
}
._2nG1R1JuTE:before {
    width: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2ZmYTMwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTIgMTcuNzY4TDUuODQ4IDIxLjYzYS42LjYgMCAwMS0uOTAxLS42NTVsMS43NzItNy4wNDMtNS41NzMtNC42NTZhLjYuNiAwIDAxLjM0NC0xLjA2bDcuMjQ1LS40OSAyLjcwNy02Ljc0YS42LjYgMCAwMTEuMTEzIDBsMi43MDYgNi43NCA3LjI0Ni40OWEuNi42IDAgMDEuMzQ0IDEuMDZsLTUuNTczIDQuNjU2IDEuNzcyIDcuMDQzYS42LjYgMCAwMS0uOTAxLjY1NUwxMiAxNy43Njh6Ii8+PC9zdmc+);
}
._2nG1R1JuTE:after, ._2nG1R1JuTE:before {
    content: "";
    height: 100%;
    display: inline-block;
    background-repeat: repeat-x;
    -webkit-background-size: 12px 11px;
    -moz-background-size: 12px 11px;
    background-size: 12px 11px;
    background-position-y: center;
}
._68NYw3evqd:after {
    width: 12px;
}
._2nG1R1JuTE:after {
    width: inherit;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2RjZGNkYyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTIgMTcuNzY4TDUuODQ4IDIxLjYzYS42LjYgMCAwMS0uOTAxLS42NTVsMS43NzItNy4wNDMtNS41NzMtNC42NTZhLjYuNiAwIDAxLjM0NC0xLjA2bDcuMjQ1LS40OSAyLjcwNy02Ljc0YS42LjYgMCAwMTEuMTEzIDBsMi43MDYgNi43NCA3LjI0Ni40OWEuNi42IDAgMDEuMzQ0IDEuMDZsLTUuNTczIDQuNjU2IDEuNzcyIDcuMDQzYS42LjYgMCAwMS0uOTAxLjY1NUwxMiAxNy43Njh6Ii8+PC9zdmc+);
}
._2nG1R1JuTE:after, ._2nG1R1JuTE:before {
    content: "";
    height: 100%;
    display: inline-block;
    background-repeat: repeat-x;
    -webkit-background-size: 12px 11px;
    -moz-background-size: 12px 11px;
    background-size: 12px 11px;
    background-position-y: center;
}
._28yWHnAj2C {
    min-width: 0;
}
._2haA3dL9sm, ._28yWHnAj2C {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._2x2zBaVN-3:link, ._2x2zBaVN-3:visited {
    color: #999;
    -webkit-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    transition: color .25s ease-out;
}
._2qHFKp_Y2-, ._2qHFKp_Y2- a {
    font-size: 13px;
}
._23fT99BG0W {
    display: inline-block;
    overflow: hidden;
    height: 15px;
    max-width: 100%;
    margin-top: 1px;
    text-overflow: ellipsis;
    letter-spacing: .25px;
    font-size: 12px;
    line-height: 15px;
}

._2NmnJYuXuU, ._2qvOOvezty {
    font-family: YS Text,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
._2qvOOvezty {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    outline: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
._1VyWInRhZP ._1RYk12ARqf {
    padding-top: 3px;
}

._1RYk12ARqf, ._1RYk12ARqf._2sz00ISeNp {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}
._1RYk12ARqf {
    position: relative;
    display: flex;
    flex-direction: column!important;
}
._133vg97zC4 .labQEPPTP4 {
    color: grey;
}

.labQEPPTP4 {
    display: inline-block;
    line-height: 18px;
}
._1VyWInRhZP {
    font-size: 11px;
    line-height: normal;
}
._2NmnJYuXuU, ._2qvOOvezty {
    font-family: YS Text,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
._2qvOOvezty {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    outline: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
._2EUCNlZ2-F._1U_zoSzQbx {
    padding-left: 22px;
}

._2EUCNlZ2-F {
    margin-top: 3px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._2QMIalQA2B {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjYjJiMmIyIj48cGF0aCBkPSJNNCA3LjhMMi43IDEzQzYgOC40IDggNi41IDggMy45TDQgNy44eiIvPjxlbGxpcHNlIGN4PSI0IiBjeT0iMy45IiByeD0iNCIgcnk9IjMuOSIvPjwvc3ZnPg==) 2px 2px no-repeat;
}

._1KQVAQscxN {
    position: absolute;
    width: 22px;
    height: 16px;
    left: 0;
}
._1kR107TldK {
    color: #29ad2e;
}
._1kR107TldK {
    color: #29ad2e;
}
._19m_jhLgZR:link, ._19m_jhLgZR:visited {
    color: #04b;
    -webkit-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

._1lqu__jo7- {
    font-size: 11px;
    line-height: normal;
}
._2NmnJYuXuU, ._2qvOOvezty {
    font-family: YS Text,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
._2qvOOvezty {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    outline: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
._2EUCNlZ2-F._1U_zoSzQbx {
    padding-left: 22px;
}

._2EUCNlZ2-F {
    margin-top: 3px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._1zOcsm9Jo7 {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSI5IiBmaWxsPSIjYjJiMmIyIj48Y2lyY2xlIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBjeD0iMy41IiBjeT0iNy41IiByPSIxIi8+PGNpcmNsZSBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgY3g9IjEwLjYiIGN5PSI3LjUiIHI9IjEiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjQgM0wxMSAxSDh2NEw3IDBIMHY3aDEuOGMuMi0uNy45LTEuMyAxLjctMS4zUzUgNi4zIDUuMiA3aDMuN2MuMi0uNy45LTEuMyAxLjctMS4zczEuNC42IDEuNiAxLjNIMTRWNGwtMS42LTF6TTEwIDRWMi4xTDExLjYgNEgxMHoiLz48L3N2Zz4=) 0 3px no-repeat;
}

._1KQVAQscxN {
    position: absolute;
    width: 22px;
    height: 16px;
    left: 0;
}
._2EUCNlZ2-F {
    margin-top: 3px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.zQMCDQIdRR ._2KrwxjtZMB {
    width: 14%;
    padding-top: 2px;
    padding-right: 5px;
}

._1Ws58FhWLZ {
    color: grey;
}
._3dGkE1UatE {
    font-size: 11px;
}
._3vEAefTheL {
    position: relative;
    margin: 4px 0;
    letter-spacing: .1px;
    font-size: 13px;
    line-height: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.RhiJkvd__J {
    width: 16%;
    min-width: 170px;
    padding-top: 2px;
    position: relative;
    left: 2%;
}
._10o2cPu4Fn {
    outline: transparent;
}
._2Gq3Ev3qUH {
    white-space: nowrap;
}
.h2EBR70V3s {
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
    line-height: normal;
}
._5cNkUrAI2M {
    text-decoration: line-through;
    font-size: 13px;
    color: #999;
}
._1emLjCV7YT {
    margin-left: 6px;
}

._1xSlMTtCCt {
    display: inline-flex;
    padding: 3px 4px 2px;
    height: auto;
    color: #fff;
    font-size: 13px;
    font-family: YS Text,sans-serif;
    align-items: center;
    border-radius: 9px 2px 2px 9px;
    background: #ec0000;
}
._1L-3GDwnCL {
    display: inline-block;
    letter-spacing: .4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
._1NcBg_l_w3 {
    cursor: pointer;
}

.PRkvm6MdZB {
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    margin-right: 0;
    display: inline-block;
}
._1PaCzxbbzN {
    margin-right: 26px;
    letter-spacing: .2px;
    color: #222;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
._1NcBg_l_w3 {
    cursor: pointer;
}

.PRkvm6MdZB {
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    margin-right: 0;
    display: inline-block;
}
._1PaCzxbbzN {
    margin-right: 26px;
    letter-spacing: .2px;
    color: #222;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.fonts-loaded.i-font_face_ys-text {
    font-family: 'YS Text',sans-serif;
}

._3sQfMco2Md {
    display: flex;
    justify-content: flex-end;
}
._3mBvYuLPe- {
    position: absolute;
    top: 8px;
    right: -40px;
    z-index: 0;
    opacity: 0;
}
._1_UpKh_dwL {
    display: inline-flex;
}
.U8s0ZMEbrI {
    display: inline-flex;
    width: 82px;
    height: 36px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

._2HAE7yg0eu {
    position: relative;
    z-index: 0;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    color: #222;
    border: none;
    outline: none;
    background: transparent;
}
._2HAE7yg0eu:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 4px;
    background-color: #ffd426;
}
._1WJC_7-RQd {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNiMmIyYjIiIHZpZXdCb3g9IjAgMCAxNiAxNSI+PHBhdGggZD0iTTE1LjggMTIuNUw5LjQuOEM5LjEuMyA4LjYgMCA4IDBTNi45LjMgNi42LjhMLjIgMTIuNWMtLjMuNS0uMyAxLjIgMCAxLjdzLjguOCAxLjQuOGgxMi44Yy42IDAgMS4xLS4zIDEuNC0uOC4zLS42LjMtMS4yIDAtMS43ek03LjcgMS42Yy4xLS4zLjUtLjMuNyAwbDUuOSAxMS4yYy4xLjIgMCAuNC0uMy40SDIuMWMtLjIgMC0uNC0uMi0uMy0uNEw3LjcgMS42eiIvPjxjaXJjbGUgY3g9IjgiIGN5PSIxMSIgcj0iMSIvPjxwYXRoIGQ9Ik05IDguNGMwIC42LS40IDEuMS0xIDEuMVM3IDkgNyA4LjRWNi4xQzcgNS41IDcuNCA1IDggNXMxIC41IDEgMS4xdjIuM3oiLz48L3N2Zz4=) 50% no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px;
    background-size: 16px;
    border: none;
    outline: none;
}
.zQMCDQIdRR ._1DDqKfkokz {
    width: 20%;
    padding-right: 16px;
}

.zQMCDQIdRR ._1V30vmKHEX:after, .zQMCDQIdRR .hVIKKZ87yy:after {
    position: absolute;
    height: 1px;
    content: "";
    background: #eaeaea;
    bottom: 0;
    right: 25px;
    left: 25px;
}
._1zQ5uclZlE {
    display: inline-flex;
    cursor: pointer;
    color: #999;
    font-size: 13px;
}





@media (min-width: 1230px)  {
    .zQMCDQIdRR ._1V30vmKHEX:after, .zQMCDQIdRR:first-child ._1V30vmKHEX:before {
        right: 130px;
        left: 130px;
    }
    .zQMCDQIdRR ._1V30vmKHEX:after, .zQMCDQIdRR:first-child ._1V30vmKHEX:before {
        right: 130px;
        left: 130px;
    }
    ._133vg97zC4 .labQEPPTP4:hover, .PO1qrYmgtW .labQEPPTP4:hover {
        color: #ec0000;
    }
}
